

@using DAL
@using DAL.Models
@model DAL.oClasses.OStock


<table class="table table-responsive-md table-bordered mb-0">
    <thead>
        <tr>
            <th>Edit/Delete</th>
            <th>Chassis</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.BLDetailList != null)
        {


            foreach (Pa_BL_Detsils item in Model.BLDetailList)
            {

        <tr>

            <td>

                <a onclick="DeleteStockDetail('@item.BLNO_Details_ID');" data-toggle="modal" data-target="#DeleteStockDetailModal"><img style="width: 20px;" src="~/Img/Icons/delete.png" /></a>

            </td>
            <td> <a asp-controller="Stock" asp-action="AddNewStock" asp-route-Stock_ID="@item.Stock_ID">@Html.DisplayFor(modelItem => item.Chassis)</a></td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Model)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>

        </tr>}
            }


    </tbody>

</table>