@using DAL
@using DAL.Models
@model DAL.oClasses.OStock
@{ ViewData["Title"] = "NewAuction";
    Layout = "~/Views/Shared/_LayoutTablePages.cshtml";}


@{ string Form_StockMaster_ActionMethod = "";
    int? Auction_ID = ViewBag.Auction_ID;


    if (Model.AuctionMasterObj != null && Model.AuctionMasterObj.Auction_ID > 0)
    {

        Form_StockMaster_ActionMethod = "UpdateAuctionMaster";


    }
    else
    {
        Form_StockMaster_ActionMethod = "InsertAuctionMaster";
    } }






<header class="page-header">
    <h2>Auction</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@ViewBag.Home_Dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li><a asp-area="" asp-controller="Stock" asp-action="AuctionList"><span>Auction</span></a></li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span>New Stock Invoice</span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>






<div class="row" id="SuccessErrorSection">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
<div class="col-lg-12">
    @if (TempData["Success"] != null)
    {
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
</div>}

    @if (TempData["Error"] != null)
    {
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
</div>}
</div>}


</div>

<!-- start: page -->
<section class="card">
    <div class="card-body">
        <div class="invoice">
            <header class="clearfix">
                <div class="row">
                    <div class="col-sm-6 mt-0">
                        <h2 class="h4 mt-0 mb-2 text-dark font-weight-bold">Auction</h2>

                    </div>

                    <div class="col-sm-6 mt-0 text-right">



                    </div>


                </div>
            </header>

            <div class="row">
                <div class="col-lg-8">
                    @if (Model.AuctionMasterObj.Auction_ID != null)
                    {
                        if (Model.AuctionMasterObj.Auction_ID > 0)
                        {

                <button type="button" id="ButtonSaleMasterUpdate" class="btn-sm btn btn-success">Update &nbsp;<i class="fas fa-save"></i></button>

                                    <button type="button" class="btn-sm btn btn-primary">Edit  &nbsp;<i class="fas fa-edit"></i></button>


                                                        <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info" id="print-btn" href="">Print &nbsp;<i class="fas fa-print"></i></a>
                                                                            <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-success" id="export-btn" href="">Export &nbsp;<i class="fas fa-file-excel"></i></a>

                                                                                                <a asp-controller="Stock" asp-action="AuctionList" class="btn-sm btn btn-default">List &nbsp;<i class="fas fa-list"></i></a> }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                            <button type="button" id="ButtonSaleMasterIssue" class="btn-sm btn btn-success">Issue &nbsp;<i class="fas fa-save"></i></button>

                                                                                            <button type="button" class="btn-sm btn btn-primary" disabled="disabled">Edit  &nbsp;<i class="fas fa-edit"></i></button>


                                                                                                            <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info" disabled="disabled" id="print-btn" href="">Print &nbsp;<i class="fas fa-print"></i></a>
                                                                                                                            <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-success" disabled="disabled" id="export-btn" href="">Export &nbsp;<i class="fas fa-file-excel"></i></a>

                                                                                                                                            <a asp-controller="Stock" asp-action="AuctionList" class="btn-sm btn btn-default">List &nbsp;<i class="fas fa-list"></i></a>}
                </div>

            </div>

            <div class="row">

                <div class="col">



                    <form method="post" asp-area="" asp-controller="Stock" asp-action="@Form_StockMaster_ActionMethod" id="formStockMaster">
                        @Html.AntiForgeryToken()

                        <section class="card">

                            <div class="card-body">



                                <div class="row form-group">
                                    <div class="col-lg-4">


                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Ref</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="Ref" name="Ref" value="@Model.AuctionMasterObj.Ref" placeholder="Ref">
                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="PurchaseDate" class="col-sm-4 col-form-label">Date</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    @if (!String.IsNullOrEmpty(Model.AuctionMasterObj.Auction_Date))
                                                    {
                                        <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="Auction_Date" name="Auction_Date" value="@Model.AuctionMasterObj.Auction_Date" required>
                                                        <input id="Auction_ID" name="Auction_ID" type="hidden" value="@Model.AuctionMasterObj.Auction_ID" /> }
                                                    else
                                                    {
                                        <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="Auction_Date" name="Auction_Date" value="@DateTime.Now.ToString("dd-MMM-yyyy HH:MM:ss")" required>}

                                                </div>
                                            </div>


                                        </div>





                                    </div>

                                    <div class="col-lg-4">

                                    </div>

                                    <div class="col-lg-4 ">





                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Remarks</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="Remarks" name="Remarks" value="@Model.AuctionMasterObj.Remarks" placeholder="Remarks">
                                            </div>
                                        </div>




                                    </div>



                                </div>
                            </div>


                        </section>
                    </form>

                </div>

            </div>

            <div class="row m-2">
                <div class="col-lg-6">
                    <h2 class="card-title" style="line-height:normal;">Details </h2>
                </div>
                <div class="col-lg-6 text-right">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#AddNewSaleDetailModal">Add New &nbsp;<i class="fas fa-plus"></i></button>


                </div>
            </div>

            <div id="StockDetailSection">

                <table class="table table-responsive-md table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>Edit/Delete</th>
                            <th>Chassis</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>






                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.AuctionDetailList != null)
                        {


                            foreach (Pa_Auction_Detsils item in Model.AuctionDetailList)
                            {



            <tr>


                <td>

                    <a onclick="DeleteStockDetail('@item.Detail_ID');" data-toggle="modal" data-target="#DeleteStockDetailModal"><img style="width: 20px;" src="~/Img/Icons/delete.png" /></a>

                </td>
                <td>@Html.DisplayFor(modelItem => item.Chassis)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>





            </tr>
}
    }


                    </tbody>

                </table>







            </div>





            <hr />



            <div class="row">

                <div class="col-sm-3"><span class="show-grid-block">Created at : <b>@Model.AuctionMasterObj.Created_At </b></span></div>
                <div class="col-sm-3"><span class="show-grid-block">Created by :</span><b>@Model.AuctionMasterObj.Created_By</b></div>
                <div class="col-sm-3"><span class="show-grid-block">Modified at :<b>@Model.AuctionMasterObj.Last_Updated_At </b></span></div>
                <div class="col-sm-3"><span class="show-grid-block">Modified by : <b>@Model.AuctionMasterObj.Last_Updated_By </b></span></div>
            </div>



        </div>


    </div>
</section>




<!-- Modal Insert Sale detail -->
<div class="modal fade bs-modal-lg" id="AddNewSaleDetailModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog bs-modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Stock Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>



            <div class="modal-body">
                <form method="post" data-ajax="true" data-ajax-success="mySuccessAuctionDetail" data-ajax-failure="myFailureAuctionDetail"
                  asp-area="" id="FormInsertPaymentDetail">

                    <section class="card">

                        <div class="card-body">



                            <div class="row form-group">

                                @if (Model.AuctionMasterObj.Auction_ID != null)
                                {
                    <input id="HdAuction_ID" name="HdAuction_ID" type="hidden" value="@Model.AuctionMasterObj.Auction_ID" /> }
                else

                {

            <input id="HdAuction_ID" name="HdAuction_ID" type="hidden" value="0" />}






                                <div style="overflow-y:auto;">

                                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                        <thead style="        background-color: #000; color: white;">
                                            <tr>

                                                <th>Select</th>
                                                <th>CHASSIS</th>
                                                <th>MAKE</th>
                                                <th>MODEL</th>
                                                <th>YEAR</th>




                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model.StockList != null)
                                            {




                                                foreach (var item in Model.StockList)
                                                {
                                <tr class="gradeX odd" role="row">
                                    <td><input type="checkbox" id="@item.stock_ID" name="@item.stock_ID"></td>

                                    <td>@item.Chassis_No</td>
                                    <td>@item.Make</td>
                                    <td>@item.ModelDesciption</td>
                                    <td>@item.ModelYear</td>


                                </tr>
}
                        }


                                        </tbody>
                                    </table>

                                </div>










                            </div>




                        </div>



                    </section>
                    </form>
            </div>

            <div class="modal-footer">
                <button type="submit" onclick="SaveForm()" class="btn btn-sm btn-primary">Add</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
            </div>


        </div>
    </div>
</div>














<!-- Modal Delete PurchaseDetail -->
<div class="modal fade bs-modal-lg" id="DeleteStockDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Delete Stock Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" data-ajax="true" data-ajax-success="SuccessDeleteAuction" data-ajax-failure="FailureDeleteAuction" asp-controller="Stock" asp-action="DeleteAuctionDetail">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to delete this record?</h3>
                                        @if (Model.AuctionMasterObj.Auction_ID != null)
                                        {
                            <input id="HdAuction_ID" name="HdAuction_ID" type="hidden" value="@Model.AuctionMasterObj.Auction_ID" /> }
                        else

                        {

            <input id="HdAuction_ID" name="HdAuction_ID" type="hidden" value="0" />}

                                        <input type="hidden" id="Detail_ID_Delete" name="Detail_ID" />

                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>



<!-- Modal Change Stock Master Status -->
<div class="modal fade bs-modal-lg" id="ChangeStatusStockModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Change Stock Master Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="Stock" asp-action="#" data-ajax-loading="">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to change status of this record?</h3>

                                        <input type="hidden" id="Auction_IDStatus" name="Auction_ID" />
                                        <input type="hidden" id="Stock_Status_ID" name="Status_ID" />
                                        <input type="hidden" id="Trans_Type" name="Trans_Type" value="Stock_Invoice" />
                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>





@section Scripts {


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


    <script>
    $(function () {
            $(".select2").select2({
                theme: "bootstrap",

            });
        });</script>
    <script type="text/javascript">
        function SaveForm() {
          
            
            var form = document.getElementById("FormInsertPaymentDetail"),
                inputs = form.getElementsByTagName("input"),
                arr = [];
            


                for (var i = 0, len = inputs.length; i < len; i++) {
                    if (inputs[i].type === "checkbox" && inputs[i].checked == true) {
                        arr.push(inputs[i].name);
                    
                    }
                }

                


                return $.ajax({
                    type: 'POST',
                    url: "/Stock/InsertAuctionDetail",
                    data: {

                        HdAuction_ID: $("#HdAuction_ID").val(),
                  
                        Stock_ID: arr,
            
                    },
                    success: function (result, status, xhr) {
                        mySuccessAuctionDetail(result);

                    }
                });
            

        }
    </script>
    <script>
    //---this function will hit after success submission of insert Stock detail form
        function mySuccessAuctionDetail(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Saved Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                $("#checkAll").change(function () {
                    $("input:checkbox").prop('checked', $(this).prop("checked"));
                });


                //$('#AddNewPurchaseModal').modal('hide');
                $('#StockDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();

                //reset form after success
                $('#FormInsertPaymentDetail').trigger("reset");


            } else {
                alert(data.message);

            }


        }

        //---this function will hit when error occured in submission of Stock detail
        function myFailureStockDetail() {

            alert("Failured occured. Please try again!");
        }

        //---this function will hit after success submission of update purchase detail form
        function mySuccessAuctionUpate(data) {

            var SuccessDiv = "<div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Updated Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                $('#UdpateSaleDetailByChassisModal').modal('hide');
                $('#UdpateSaleDetailByServicesModal').modal('hide');
                $('#StockDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();



            } else {
                alert(data.message);

            }


        }

        function myFailureAuctionUpdate() {

            alert("Failured occured. Please try again!");
        }


        //---delete Stock invoice master
        function DeleteStockMaster(Auction_ID) {
            debugger
            $("#Auction_ID_Delete").val(Auction_ID);

        }


        //---Delete Stock detail
        function DeleteStockDetail(Detail_ID) {
            debugger
            $("#Detail_ID_Delete").val(Detail_ID);

        }



        $(document).ready(function () {
            $("#ButtonSaleMasterIssue").click(function () {
                $("#formStockMaster").submit();
            });
        });

        $(document).ready(function () {
            $("#ButtonSaleMasterUpdate").click(function () {
                $("#formStockMaster").submit();
            });
        });</script>

    <script>
        function DisplayDescription(SelectBy) {
            debugger
            var SelectedValue = SelectBy.value;
            if (SelectedValue == 'ByService') {
                $(".ServiceDescription").show();
                $(".ByChassisClass").hide();
                $("#Chassis").prop('required', false);
                $("#ItemDesc").prop('required', true);
            } else {
                $(".ServiceDescription").hide();
                $(".ByChassisClass").show();
                $("#Chassis").prop('required', true);
                $("#ItemDesc").prop('required', false);
            }

        }




        //This function is for validation of chassis no
        function ValidateChassis() {

            //debugger


            var Chassis = document.getElementById("Chassis").value.toString();

            $.ajax({

                type: "Get",
                url: "/Accounts/ValidateChassisNo_UNSOLD",
                data: { //Passing data
                    ChassisNo: Chassis


                },
                datatype: "json",
                success: function (response) {
                    debugger
                    if (response.message == 'Chassis is valid') {
                        //debugger
                        $("#ChassisValidationMessage").text(response.message);
                        $("#ChassisValidationMessage").css("color", "green");
                        $("#Chassis").val(response.ItemId);
                        $("#Make").val(response.make);
                        $("#ModelDesc").val(response.modelDesciption);
                        $("#ModelYear").val(response.modelYear);
                        $("#Color").val(response.color);
                    } else {
                        $("#ChassisValidationMessage").text(response.message);
                        $("#ChassisValidationMessage").css("color", "red");
                        $("#Chassis").val("");
                        $("#Make").val("");
                        $("#ModelDesc").val("");
                        $("#ModelYear").val("");
                        $("#Color").val("");
                    }

                }
            })
        }
        function GetCustomerDetail() {

            //debugger


            var Customer = document.getElementById("Customer_ID").value.toString();

            if (Customer == -1) {
                $('#AddCustomerModal').modal('show');
            }
            else {
                $.ajax({

                    type: "Get",
                    url: "/Stock/GetCustomerDetail",
                    data: { //Passing data
                        Customer_ID: Customer
                    },
                    datatype: "json",
                    success: function (response) {
                        debugger


                        $("#Customer_Contact").val(response.contactNumber);
                        $("#Invoice_address").val(response.contactAddress);
                        $("#CustomerTRN").val(response.trn);





                    }
                })
            }

        }

        //---change Stock master status
        function ChangeStatusStockMaster(Auction_ID, Status) {
            debugger
            $("#Auction_IDStatus").val(Auction_ID);
            $("#Stock_Status_ID").val(Status);

        }


        //----Assigning values to Stock invoice detail form of chassis type
        function UpdateStockDetailByChassis(Detail_ID, Stock_ID, Auction_ID) {

            debugger

            $("#Detail_ID_Udpate").val(Detail_ID);

            $("#Stock_ID_Udpate").val(Stock_ID);
            $("#Auction_ID").val(Auction_ID);






        }







        //----Assigning values to Update receipt detail form
        function UpdateReceiptDetailGeneral(ReceiptDetail_ID, DR_accountID, Amount, Currency_ID, Currency_Rate,
            other_curr_amount, CR_accountID, Description, trans_ref, Cheque_Bank_Name,
            cheque_Date, Cheque_no, VAT_Rate, VAT_Exp, Total_Amount) {


            debugger

            $("#ReceiptDetail_IDUpdate").val(ReceiptDetail_ID);
            $("#DR_accountIDUpdate").val(DR_accountID);
            $("#AmountUpdate").val(Amount);

            $("#Currency_IDUpdate").val(Currency_ID);
            $("#Currency_RateUpdate").val(Currency_Rate);
            $("#other_curr_amountUpdate").val(other_curr_amount);
            $("#CR_accountIDUpdate").val(CR_accountID);
            $("#DescriptionUpdate").val(Description);
            $("#trans_refUpdate").val(trans_ref);
            $("#Cheque_Bank_NameUpdate").val(Cheque_Bank_Name);
            $("#cheque_DateUpdate").val(cheque_Date);
            $("#Cheque_noUpdate").val(Cheque_no);
            $("#VAT_RateUpdate").val(VAT_Rate);
            $("#VAT_ExpUpdate").val(VAT_Exp);
            $("#Total_AmountsUpdate").val(Total_Amount);


        }
        function DeleteReceiptsDetail(ReceiptDetail_ID) {

            $("#ReceiptDetail_IDDelete").val(ReceiptDetail_ID);

        }
        //---function for calculating amounts in the puchase detail pop up form insert

        function CalculateSumAmount() {
            debugger

            var Unit_Price = 0;

            var VATRate = 5;

            var VATExp = 0;

            var Total_Amount = 0;



            Unit_Price = document.getElementById("Unit_Price").value;

            VATRate = document.getElementById("VATRate").value;

            VATExp = document.getElementById("VATExp").value;

            Total_Amount = document.getElementById("Total_Amount").value;


            if (!Unit_Price) {
                Unit_Price = 0;
            }

            if (!VATRate) {
                VATRate = 5;

            }
            if (!VATExp) {
                VATExp = 0;
            }
            if (!Total_Amount) {
                Total_Amount = 1;
            }



            //---calculate sum vat exp
            VATExp = VATRate * Unit_Price / 100;
            $("#VATExp").val(VATExp);

            Total_Amount = (Number(Unit_Price) + Number(VATExp));
            $("#Total_Amount").val(Total_Amount);



        }

        //---function for calculating amounts in the puchase detail pop up form insert
        function CalculateSumAmountUpdate() {
            debugger

            var Unit_PriceUpdate_chassis = 0;

            var VATRateUpdate_chassis = 5;

            var VATExpUpdate_chassis = 0;

            var Total_AmountUpdate_chassis = 0;



            Unit_PriceUpdate_chassis = document.getElementById("Unit_PriceUpdate_chassis").value;

            VATRateUpdate_chassis = document.getElementById("VATRateUpdate_chassis").value;

            VATExpUpdate_chassis = document.getElementById("VATExpUpdate_chassis").value;

            Total_AmountUpdate_chassis = document.getElementById("Total_AmountUpdate_chassis").value;


            if (!Unit_PriceUpdate_chassis) {
                Unit_PriceUpdate = 0;
            }

            if (!VATRateUpdate_chassis) {
                VATRateUpdate_chassis = 5;

            }
            if (!VATExpUpdate_chassis) {
                VATExpUpdate_chassis = 0;
            }
            if (!Total_AmountUpdate_chassis) {
                Total_AmountUpdate_chassis = 1;
            }



            //---calculate sum vat exp
            VATExpUpdate_chassis = VATRateUpdate_chassis * Unit_PriceUpdate_chassis / 100;
            $("#VATExpUpdate_chassis").val(VATExpUpdate_chassis);

            Total_AmountUpdate_chassis = (Number(Unit_PriceUpdate_chassis) + Number(VATExpUpdate_chassis));
            $("#Total_AmountUpdate_chassis").val(Total_AmountUpdate_chassis);



        }

        //---function for calculating amounts in the puchase detail pop up form insert
        function CalculateSumAmountUpdateService() {
            debugger

            var Unit_PriceUpdate_service = 0;

            var VATRateUpdate_service = 5;

            var VATExpUpdate_service = 0;

            var Total_AmountUpdate_service = 0;



            Unit_PriceUpdate_service = document.getElementById("Unit_PriceUpdate_service").value;

            VATRateUpdate_service = document.getElementById("VATRateUpdate_service").value;

            VATExpUpdate_service = document.getElementById("VATExpUpdate_service").value;

            Total_AmountUpdate_service = document.getElementById("Total_AmountUpdate_service").value;


            if (!Unit_PriceUpdate_service) {
                Unit_PriceUpdate = 0;
            }

            if (!VATRateUpdate_service) {
                VATRateUpdate_service = 5;

            }
            if (!VATExpUpdate_service) {
                VATExpUpdate_service = 0;
            }
            if (!Total_AmountUpdate_service) {
                Total_AmountUpdate_service = 1;
            }



            //---calculate sum vat exp
            VATExpUpdate_service = VATRateUpdate_service * Unit_PriceUpdate_service / 100;
            $("#VATExpUpdate_service").val(VATExpUpdate_service);

            Total_AmountUpdate_service = (Number(Unit_PriceUpdate_service) + Number(VATExpUpdate_service));
            $("#Total_AmountUpdate_service").val(Total_AmountUpdate_service);



        }


        //----method for opening customer popup
        function AddNewCustomer(Customer) {



            CustomerValue = Customer.value;
            if (CustomerValue == 'NewCustomer') {
                $('#AddCustomerModal').modal('show');
            }
        }

        //---function for calculating amounts in the Auction detail pop up form insert
        function CalculateSumAmountReceipt() {
            debugger
            var Amount = 0;
            var VAT_Rate = 0;
            var Currency_Rate = 1;


            var other_curr_amount = 0;
            var VAT_Exp = 0;
            var Total_Amount = 0;


            Amount = document.getElementById("Amount").value;
            VAT_Rate = document.getElementById("VAT_Rate").value;
            Currency_Rate = document.getElementById("Currency_Rate").value;

            other_curr_amount = document.getElementById("other_curr_amount").value;
            VAT_Exp = document.getElementById("VAT_Exp").value;
            Total_Amount = document.getElementById("Total_Amount").value;


            if (!Amount) {
                Amount = 0;
            }
            if (!VAT_Rate) {
                VAT_Rate = 0;
            }
            if (!Currency_Rate) {
                Currency_Rate = 1;
            }
            if (!other_curr_amount) {
                other_curr_amount = 0;

            }
            if (!VAT_Exp) {
                VAT_Exp = 0;
            }
            if (!Total_Amount) {
                Total_Amount = 0;
            }



            //---calculate sum vat exp
            VAT_Exp = VAT_Rate * Amount / 100;
            $("#VAT_Exp").val(VAT_Exp);

            Total_Amount = (Number(Amount) + Number(VAT_Exp));
            $("#Total_Amounts").val(Total_Amount);

            //---calculate Amount_Others
            other_curr_amount = Amount * Currency_Rate;
            $("#other_curr_amount").val(other_curr_amount);




        }

        //---function for calculating amounts in the Auction detail pop up form Update
        function CalculateSumAmountUpdateReceipt() {
            debugger
            var Amount = 0;
            var VAT_Rate = 0;
            var Currency_Rate = 1;


            var other_curr_amount = 0;
            var VAT_Exp = 0;
            var Total_Amount = 0;


            Amount = document.getElementById("AmountUpdate").value;
            VAT_Rate = document.getElementById("VAT_RateUpdate").value;
            Currency_Rate = document.getElementById("Currency_RateUpdate").value;

            other_curr_amount = document.getElementById("other_curr_amountUpdate").value;
            VAT_Exp = document.getElementById("VAT_ExpUpdate").value;
            Total_Amount = document.getElementById("Total_AmountUpdate").value;


            if (!Amount) {
                Amount = 0;
            }
            if (!VAT_Rate) {
                VAT_Rate = 0;
            }
            if (!Currency_Rate) {
                Currency_Rate = 1;
            }
            if (!other_curr_amount) {
                other_curr_amount = 0;

            }
            if (!VAT_Exp) {
                VAT_Exp = 0;
            }
            if (!Total_Amount) {
                Total_Amount = 0;
            }



            //---calculate sum vat exp
            VAT_Exp = VAT_Rate * Amount / 100;
            $("#VAT_ExpUpdate").val(VAT_Exp);

            Total_Amount = (Number(Amount) + Number(VAT_Exp));
            $("#Total_AmountsUpdate").val(Total_Amount);

            //---calculate Amount_Others
            other_curr_amount = Amount * Currency_Rate;
            $("#other_curr_amountUpdate").val(other_curr_amount);




        }
        function SuccessDeleteAuction(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Deleted Successfully! <a href='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {
                //alert("Saved Successfully!");
                $('#DeleteStockDetailModal').modal('hide');
                $('#StockDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();




            } else {
                alert(data.message);
                $('#DeleteStockDetailModal').modal('hide');
            }


        }
        function GetItemDetail() {

            debugger


            var Item = $(".ItemClass").val();

            if (Item == -1) {

            }
            else {
                $.ajax({

                    type: "Get",
                    url: "/Stock/GetItemDetail",
                    data: { //Passing data
                        Item: Item
                    },
                    datatype: "json",
                    success: function (response) {
                        debugger


                        $("#ItemDescription").val(response.itemDescription);
                        $("#UnitPrice").val(response.unitPrice);
                        $("#SalePrice").val(response.salePrice);
                        $("#UOM").val(response.uom);





                    }
                })
            }

        }
        //---after failure deleting of purchase detail
        function FailureDeleteAuction() {

            alert("Failured occured. Please try again!");
            $('#DeleteStockDetailModal').modal('hide');
        }
        $(document).ready(function () {
            $("#print-btn").click(function(event){
                event.preventDefault();
                var win = window.open("@Url.Action("AuctionList_Print", "Report")" + "?Auction_ID=" + $("#Auction_ID").val() , "_blank");
                win.focus();
            });

                 $(document).ready(function(){
    $("#export-btn").click(function(event){
       event.preventDefault();
        window.location.href = "@Url.Action("AuctionReportList_Excel", "Report")" + "?reportName=Stock_Report&Auction_ID=" + $("#Auction_ID").val();
    });
})

        })

    </script>

}



