
@using DAL
@using DAL.Models
@model DAL.oClasses.OStock

@using X.PagedList.Mvc.Core; @*//import this so we get our HTML Helper*@
@using X.PagedList;  @*//import this so we can cast our list to IPagedList *@
@{ ViewData["Title"] = "AddBL";
    Layout = "~/Views/Shared/_LayoutTablePages.cshtml";

}
@{
    string Form_StockMaster_ActionMethod = "";
    int? BLno_ID = ViewBag.BL_ID;


    if (Model.BLMasterObj != null && Model.BLMasterObj.BLNO_ID > 0)
    {

        Form_StockMaster_ActionMethod = "UpdateBLMaster";


    }
    else
    {
        Form_StockMaster_ActionMethod = "InsertBLMaster";
    }
}





<style>
    .star {
        color: red;
    }
</style>


<header class="page-header">
    <h2>BL</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@ViewBag.Home_Dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li><a asp-area="" asp-controller="Stock" asp-action="BLList"><span>BL List</span></a></li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span></span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>


<div class="row" id="SuccessErrorSection">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
        <div class="col-lg-12">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
                </div>}

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
                </div>}
        </div>}


</div>
<section class="card">
    <div class="card-body">
        <div class="invoice">
            <header class="clearfix">
                <div class="row">
                    <div class="col-sm-6 mt-0">
                        <h2 class="h4 mt-0 mb-2 text-dark font-weight-bold">Bill Of Lading</h2>

                    </div>

                    <div class="col-sm-6 mt-0 text-right">

                        @if (String.IsNullOrEmpty(Model.BLMasterObj.BLStatus))
                        {
                            <h4 class=" mt-0 mb-2 text-dark"><b>Status:</b> <label>Pending</label></h4> }
                        else
                        {
                            <h4 class=" mt-0 mb-2 text-dark"><b>Status:</b> <label>@Model.BLMasterObj.BLStatus</label></h4>}



                    </div>


                </div>
            </header>

            <div class="row">
                <div class="col-lg-8">
                    @if (Model.BLMasterObj.BLNO_ID != null)
                    {
                        if (Model.BLMasterObj.BLNO_ID > 0)
                        {

                            <button type="button" id="ButtonSaleMasterUpdate" class="btn-sm btn btn-success">Update &nbsp;<i class="fas fa-save"></i></button>


                            <button type="button" id="print-btn" disabled="disabled" class="mb-1 mt-1 mr-1 btn btn-sm btn-info">Print &nbsp;<i class="fas fa-print"></i></button>

                            <button type="button" id="export-btn" disabled="disabled" class="mb-1 mt-1 mr-1 btn btn-sm btn-success">Export &nbsp;<i class="fas fa-file-excel"></i></button>

                            @*<a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info" id="print-btn" href="">Print &nbsp;<i class="fas fa-print"></i></a>
                                <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-success" id="export-btn" href="">Export &nbsp;<i class="fas fa-file-excel"></i></a>*@

                            if (Model.BLMasterObj.BLStatus_ID == "1")
                            {

                                <button type="button" id="btnApproval" class="btn-sm btn btn btn-success" data-toggle="modal" @ViewBag.ApprovalVisibility data-target="#ChangeStatusBlnoModal" onclick="ChangeStatusBlnoMaster('@Model.BLMasterObj.BLNO_ID', '2');">Approve &nbsp;<i class="fa fa-check"></i></button>

                            }
                            else
                            {

                                <button type="button" id="btnApproval" disabled="disabled" class="btn-sm btn btn btn-success" data-toggle="modal" @ViewBag.ApprovalVisibility data-target="#ChangeStatusBlnoModal" onclick="ChangeStatusBlnoMaster('@Model.BLMasterObj.BLNO_ID', '2');">Approve &nbsp;<i class="fa fa-check"></i></button>

                            }



                            <a asp-controller="Stock" asp-action="BLList" class="btn-sm btn btn-default">List &nbsp;<i class="fas fa-list"></i></a> }
                    }
                    else
                    {
                        <button type="button" id="ButtonSaleMasterIssue" class="btn-sm btn btn-success">Issue &nbsp;<i class="fas fa-save"></i></button>

                        <button type="button" id="print-btn" disabled="disabled" class="mb-1 mt-1 mr-1 btn btn-sm btn-info">Print &nbsp;<i class="fas fa-print"></i></button>

                        <button type="button" id="export-btn" disabled="disabled" class="mb-1 mt-1 mr-1 btn btn-sm btn-success">Export &nbsp;<i class="fas fa-file-excel"></i></button>

                        @*<a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info"  id="print-btn" href="">Print &nbsp;<i class="fas fa-print"></i></a>*@

                        @*<a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-success"  id="export-btn" href="">Export &nbsp;<i class="fas fa-file-excel"></i></a>*@

                        <a asp-controller="Stock" asp-action="BLList" class="btn-sm btn btn-default">List &nbsp;<i class="fas fa-list"></i></a>}
                </div>

                <script>

                    function ChangeStatusBlnoMaster(Blno_ID, Status) {
                        debugger
                        $("#Blno_ID_Status").val(Blno_ID);
                        $("#Blno_Status_ID").val(Status);

                    }
                </script>

            </div>

            <div class="row">

                <div class="col">



                    <form method="post" asp-area="" asp-controller="Stock" asp-action="@Form_StockMaster_ActionMethod" id="formStockMaster">
                        @Html.AntiForgeryToken()

                        <section class="card">

                            <div class="card-body">

                                <div class="row form-group">
                                    <div class="col-lg-4">

                                        <div class="row MasterForm">
                                            <label for="Vendor_ID" class="col-sm-4 col-form-label">Vendor<span class="star">&#x2605;</span></label>
                                            <div class="col-sm-8">
                                                <select class="form-control select2" id="Vendor_ID" name="Vendor_ID" asp-items="@(new SelectList( ViewBag.VendorMaster,"Partner_ID","PartnerName", Model.BLMasterObj.Vendor_ID))" required>
                                                    <option value="0">Select Vendor</option>
                                                </select>

                                            </div>
                                        </div>


                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Ref</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="Ref" name="Ref" value="@Model.BLMasterObj.Ref" readonly>
                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="BLNO" class="col-sm-4 col-form-label">BLNO <span class="star">&#x2605;</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="BlNO" name="BlNO" value="@Model.BLMasterObj.BlNO" required>
                                            </div>
                                        </div>
                                        <div class="row MasterForm">
                                            <label for="PurchaseDate" class="col-sm-4 col-form-label">Date <span class="star">&#x2605;</span></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    @if (!String.IsNullOrEmpty(Model.BLMasterObj.BLNO_Date))
                                                    {
                                                        <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="BLNO_Date" name="BLNO_Date" value="@Model.BLMasterObj.BLNO_Date" required>
                                                        <input id="BLNO_ID" name="BLNO_ID" type="hidden" value="@Model.BLMasterObj.BLNO_ID" /> }
                                                    else
                                                    {
                                                        <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="BLNO_Date" name="BLNO_Date" value="@DateTime.Now.ToString("dd-MMM-yyyy")" required>}

                                                </div>
                                            </div>


                                        </div>


                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Remarks</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="Remarks" name="Remarks" placeholder="Remarks" value="@Model.BLMasterObj.Remarks">

                                            </div>
                                        </div>



                                    </div>


                                    <div class="col-lg-4">

                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Ship Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="ShipName" name="ShipName" value="@Model.BLMasterObj.ShipName" placeholder="Ship Name">
                                            </div>
                                        </div>


                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Leaving Date (ETD)</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>
                                                    <input type="text" data-plugin-datepicker class="form-control" id="ShipLeavingDate" name="ShipLeavingDate" value="@Model.BLMasterObj.ShipLeavingDate">


                                                </div>

                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Arrival Date(ETA)</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    <input type="text" data-plugin-datepicker class="form-control" id="Arrival_Date" name="Arrival_Date" value="@Model.BLMasterObj.Arrival_Date">


                                                </div>

                                            </div>
                                        </div>
                                        <div class="row MasterForm">
                                            <label for="Currency_ID" class="col-sm-4 col-form-label">Currency</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-5">

                                                        <select class="form-control" id="Currency_ID" name="Currency_ID"
                                                                asp-items="@(new SelectList( ViewBag.CurrencyList,"Currency_ID","Currency_ShortName",(Model.BLMasterObj.Currency_ID == 0 ? ViewBag.Default_Currency_ID : Model.BLMasterObj.Currency_ID)))">
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6" style="padding:0;">
                                                        <input type="number" onkeyup="calculateSum()" id="Currency_Rate" name="Currency_Rate" step="any" value="@(Model.BLMasterObj.Curr_Rate==null ? ViewBag.Default_Curr_Rate : Model.BLMasterObj.Curr_Rate)" required class="form-control" placeholder="Rate">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>




                                    <div class="col-lg-4">



                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Vanning(Yen)</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control Sum" id="Clearing_Charges" name="Clearing_Charges" value="@Model.BLMasterObj.Clearing_Charges" placeholder="Vanning">
                                            </div>
                                        </div>


                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Freight(Yen)</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control Sum" id="Custom_Duty" name="Custom_Duty" value="@Model.BLMasterObj.Custom_Duty" placeholder="Freight">
                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Other Charage(Yen)</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control Sum" id="Other_Charage" name="Other_Charage" value="@Model.BLMasterObj.Other_Charage" placeholder="Other Charage">
                                            </div>
                                        </div>



                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Total</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="Total_BL_Charges" class="form-control" name="Total_BL_Charges" value="@Model.BLMasterObj.Total_BL_Charges" placeholder="" readonly>

                                            </div>

                                            <div class="col-sm-4">
                                                <input type="text" id="Total_Rate" class="form-control" name="Total_With_Rate" value="@Model.BLMasterObj.Total_With_Rate" placeholder="" readonly>

                                            </div>


                                        </div>

                                    </div>


                                </div>
                            </div>


                        </section>
                    </form>

                </div>

            </div>

            <div class="row m-2">
                <div class="col-lg-6">
                    <h2 class="card-title" style="line-height:normal;">Details </h2>
                </div>
                <div class="col-lg-6 text-right">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#AddNewSaleDetailModal">Add New &nbsp;<i class="fas fa-plus"></i></button>


                </div>
            </div>

            <div id="StockDetailSection">

                <table class="table table-responsive-md table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>Edit/Delete</th>
                            <th>Chassis</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>






                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.BLDetailList != null)
                        {


                            foreach (Pa_BL_Detsils item in Model.BLDetailList)
                            {



                        <tr>


                            <td>

                                <a onclick="DeleteStockDetail('@item.BLNO_Details_ID');" data-toggle="modal" data-target="#DeleteStockDetailModal"><img style="width: 20px;" src="~/Img/Icons/delete.png" /></a>

                            </td>
                            
                            <td> <a asp-controller="Stock" asp-action="AddNewStock" asp-route-Stock_ID="@item.Stock_ID">@Html.DisplayFor(modelItem => item.Chassis)</a></td>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.Make)
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Model)</td>
                            <td>@Html.DisplayFor(modelItem => item.Year)</td>



                        </tr>
                            }
                        }


                    </tbody>

                </table>







            </div>





            <hr />



            <div class="row">

                <div class="col-sm-3"><span class="show-grid-block">Created at : <b>@Model.BLMasterObj.Created_At </b></span></div>
                <div class="col-sm-3"><span class="show-grid-block">Created by :</span><b>@Model.BLMasterObj.Created_By</b></div>
                <div class="col-sm-3"><span class="show-grid-block">Modified at :<b>@Model.BLMasterObj.Last_Updated_At </b></span></div>
                <div class="col-sm-3"><span class="show-grid-block">Modified by : <b>@Model.BLMasterObj.Last_Updated_By </b></span></div>
            </div>



        </div>


    </div>
</section>

<!-- Modal Insert Sale detail -->
<div class="modal fade bs-modal-lg" id="AddNewSaleDetailModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog bs-modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Stock Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>



            <div class="modal-body">
                <form method="post" data-ajax="true" data-ajax-success="mySuccessAuctionDetail" data-ajax-failure="myFailureAuctionDetail"
                      asp-area="" id="FormInsertPaymentDetail">

                    <section class="card">

                        <div class="card-body">



                            <div class="row form-group">

                                @if (Model.BLMasterObj.BLNO_ID != null)
                                {
                                    <input id="HdBL_ID" name="HdBL_ID" type="hidden" value="@Model.BLMasterObj.BLNO_ID" /> }
                                else

                                {

                                    <input id="HdBL_ID" name="HdBL_ID" type="hidden" value="0" />}

                                <div style="width: 100%;">

                                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                        <thead style="        background-color: #000; color: white;">
                                            <tr>


                                                <th id="checktd">


                                                    Select All
                                                    <input id="chkselectAll" onclick="handleClick(this);" type="checkbox" name="chkselectAll">
                                                    <script>
                                                        function handleClick(cb) {

                                                            debugger;
                                                            var parentValueToPush = new Array();

                                                            if (cb.checked == true) {
                                                                $("#datatable-default input[type=checkbox]").each(function () {
                                                                    $(this).prop("checked", true);
                                                                });

                                                            } else {
                                                                $("#datatable-default input[type=checkbox]").each(function () {
                                                                    $(this).prop("checked", false);
                                                                });
                                                            }


                                                        }


                                                    </script>
                                                </th>
                                                <th>CHASSIS</th>
                                                <th>MAKE</th>
                                                <th>MODEL</th>
                                                <th>YEAR</th>




                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model.StockList != null)
                                            {




                                                foreach (var item in Model.StockList)
                                                {
                                                    <tr class="gradeX odd" role="row">
                                                        <td><input type="checkbox" id="@item.stock_ID" name="@item.stock_ID"></td>

                                                        <td>@item.Chassis_No</td>
                                                        <td>@item.Make</td>
                                                        <td>@item.ModelDesciption</td>
                                                        <td>@item.ModelYear</td>


                                                    </tr>
                                                }
                                            }


                                        </tbody>
                                    </table>

                                </div>










                            </div>




                        </div>



                    </section>
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" onclick="SaveForm()" class="btn btn-sm btn-primary">Add</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-warning" onclick="ClearAllFeilds()">Clear</button>

            </div>


        </div>
    </div>
</div>

<!-- Modal Delete PurchaseDetail -->
<div class="modal fade bs-modal-lg" id="DeleteStockDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Delete Stock Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" data-ajax="true" data-ajax-success="SuccessDeleteAuction" data-ajax-failure="FailureDeleteAuction" asp-controller="Stock" asp-action="DeleteBLDetail">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to delete this record?</h3>
                                        @if (Model.BLMasterObj.BLNO_ID != null)
                                        {
                                            <input id="HdBL_ID" name="HdBL_ID" type="hidden" value="@Model.BLMasterObj.BLNO_ID" /> }
                                        else

                                        {

                                            <input id="HdBL_ID" name="HdBL_ID" type="hidden" value="0" />}

                                        <input type="hidden" id="Detail_ID_Delete" name="BLDetail_ID" />

                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal Change Purchase Master Status -->
<div class="modal fade bs-modal-lg" id="ChangeStatusBlnoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Change BLNO Master Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="Stock" asp-action="ChangeBlnoStatus" data-ajax-loading="">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to change status of this record?</h3>

                                        <input type="hidden" id="Blno_ID_Status" name="Blno_ID" />
                                        <input type="hidden" id="Blno_Status_ID" name="Status_ID" />

                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>




@section Scripts {


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


    <script>
        $(function () {
            $(".select2").select2({
                theme: "bootstrap",

            });
        });</script>
    <script type="text/javascript">
        function SaveForm() {

            debugger;
            var form = document.getElementById("FormInsertPaymentDetail"),
                inputs = form.getElementsByTagName("input"),
                arr = [];



            for (var i = 0, len = inputs.length; i < len; i++) {
                if (inputs[i].type === "checkbox" && inputs[i].checked == true) {
                    arr.push(inputs[i].name);

                }
            }




            return $.ajax({
                type: 'POST',
                url: "/Stock/InsertBLDetail",
                data: {

                    HdBL_ID: $("#HdBL_ID").val(),

                    Stock_ID: arr,

                },
                success: function (result, status, xhr) {
                    mySuccessAuctionDetail(result);

                }
            });


        }




    </script>
    <script>


        function ClearAllFeilds() {

            $('#FormInsertPaymentDetail').trigger("reset");

        }
        //---this function will hit after success submission of insert Stock detail form
        function mySuccessAuctionDetail(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Saved Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                $("#checkAll").change(function () {
                    $("input:checkbox").prop('checked', $(this).prop("checked"));
                });



                $('#StockDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();

                //reset form after success
                $('#FormInsertPaymentDetail').trigger("reset");


            } else {
                alert(data.message);

            }


        }

        //---this function will hit when error occured in submission of Stock detail
        function myFailureStockDetail() {

            alert("Failured occured. Please try again!");
        }

        //---this function will hit after success submission of update purchase detail form
        function mySuccessAuctionUpate(data) {

            var SuccessDiv = "<div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Updated Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                $('#UdpateSaleDetailByChassisModal').modal('hide');
                $('#UdpateSaleDetailByServicesModal').modal('hide');
                $('#StockDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();



            } else {
                alert(data.message);

            }


        }

        function myFailureAuctionUpdate() {

            alert("Failured occured. Please try again!");
        }



        //---Delete Stock detail
        function DeleteStockDetail(BLDetail_ID) {
            debugger
            $("#Detail_ID_Delete").val(BLDetail_ID);

        }



        $(document).ready(function () {
            $("#ButtonSaleMasterIssue").click(function () {

                debugger;
                if ($("#Vendor_ID").val() == 0 || $("#BlNO").val() == '' || $("#BLNO_Date").val() == '') {
                    alert('Please select Feild')
                    return false;
                }
                else {
                    $("#formStockMaster").submit();
                }

                
            });
        });

        $(document).ready(function () {

            debugger
            $("#ButtonSaleMasterUpdate").click(function () {
                if ($("#Vendor_ID").val() == 0 || $("#BlNO").val() == '' || $("#BLNO_Date").val() == '') {
                    alert('Please select Vendor')
                    return false;
                }
                else {
                    $("#formStockMaster").submit();
                }
               
            });
        });</script>

    <script>
        function DisplayDescription(SelectBy) {
            debugger
            var SelectedValue = SelectBy.value;
            if (SelectedValue == 'ByService') {
                $(".ServiceDescription").show();
                $(".ByChassisClass").hide();
                $("#Chassis").prop('required', false);
                $("#ItemDesc").prop('required', true);
            } else {
                $(".ServiceDescription").hide();
                $(".ByChassisClass").show();
                $("#Chassis").prop('required', true);
                $("#ItemDesc").prop('required', false);
            }

        }










        $(document).ready(function () {

            $(".Sum").each(function () {

                $(this).keyup(function () {
                    calculateSum();
               
                });
            });

        });
        function calculateRate() {
            var rate = document.getElementById('Currency_Rate').value;

        }
        function calculateSum() {
            debugger;
            var sum = 0;
           
            var rate = document.getElementById('Currency_Rate').value;

            //iterate through each textboxes and add the values
            $(".Sum").each(function () {

                //add only if the value is number
                if (!isNaN(this.value) && this.value.length != 0 && (this.value) != "") {
                    sum += parseFloat(this.value);
                }
            });

            $("#Total_BL_Charges").val(sum);
       
                var totalWitRate = sum * rate;
            $("#Total_Rate").val(totalWitRate)
  
        }



        //This function is for validation of chassis no
        function ValidateChassis() {

            //debugger


            var Chassis = document.getElementById("Chassis").value.toString();

            $.ajax({

                type: "Get",
                url: "/Accounts/ValidateChassisNo_UNSOLD",
                data: { //Passing data
                    ChassisNo: Chassis


                },
                datatype: "json",
                success: function (response) {
                    debugger
                    if (response.message == 'Chassis is valid') {
                        //debugger
                        $("#ChassisValidationMessage").text(response.message);
                        $("#ChassisValidationMessage").css("color", "green");
                        $("#Chassis").val(response.ItemId);
                        $("#Make").val(response.make);
                        $("#ModelDesc").val(response.modelDesciption);
                        $("#ModelYear").val(response.modelYear);
                        $("#Color").val(response.color);
                    } else {
                        $("#ChassisValidationMessage").text(response.message);
                        $("#ChassisValidationMessage").css("color", "red");
                        $("#Chassis").val("");
                        $("#Make").val("");
                        $("#ModelDesc").val("");
                        $("#ModelYear").val("");
                        $("#Color").val("");
                    }

                }
            })
        }
        function GetCustomerDetail() {

            //debugger


            var Customer = document.getElementById("Customer_ID").value.toString();

            if (Customer == -1) {
                $('#AddCustomerModal').modal('show');
            }
            else {
                $.ajax({

                    type: "Get",
                    url: "/Stock/GetCustomerDetail",
                    data: { //Passing data
                        Customer_ID: Customer
                    },
                    datatype: "json",
                    success: function (response) {
                        debugger


                        $("#Customer_Contact").val(response.contactNumber);
                        $("#Invoice_address").val(response.contactAddress);
                        $("#CustomerTRN").val(response.trn);





                    }
                })
            }

        }




        function GetItemDetail() {

            debugger


            var Item = $(".ItemClass").val();

            if (Item == -1) {

            }
            else {
                $.ajax({

                    type: "Get",
                    url: "/Stock/GetItemDetail",
                    data: { //Passing data
                        Item: Item
                    },
                    datatype: "json",
                    success: function (response) {
                        debugger


                        $("#ItemDescription").val(response.itemDescription);
                        $("#UnitPrice").val(response.unitPrice);
                        $("#SalePrice").val(response.salePrice);
                        $("#UOM").val(response.uom);





                    }
                })
            }

        }
        //---after failure deleting of purchase detail
        function FailureDeleteAuction() {

            alert("Failured occured. Please try again!");
            $('#DeleteStockDetailModal').modal('hide');
        }
        function SuccessDeleteAuction(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Deleted Successfully! <a href='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                //alert("Saved Successfully!");
                $('#DeleteStockDetailModal').modal('hide');
                $('#StockDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();


                CalculateSumTotalOfStock();


            } else {
                alert(data.message);
                $('#DeletePurchaseDetailModal').modal('hide');
            }


        }

    </script>


    <script>
        //---submit new master purchase voucher

        
        $(document).ready(function () {

            debugger;
            $("#ButtonSaleMaster").click(function () {
                if ($("#Vendor_ID").val() == 0) {
                    alert('Please select Vendor')
                    return false;
                }
                else {
                    $("#formStockMaster").submit();
                }

            });
        });
        //---Update master purchase voucher
        $(document).ready(function () {
            debugger;
            $("#ButtonSaleMasterUpdate").click(function () {
                if ($("#Vendor_ID").val() == 0) {
                    alert('Please select Vendor')
                    return false;
                }
                else {
                    $("#formStockMaster").submit();
                }

            });
        });


    </script>

}




