
@using DAL
@using DAL.Models
@model DAL.oClasses.OAccounts



@{
    ViewData["Title"] = "ApprovalList";
    Layout = "~/Views/Shared/_LayoutTablePages.cshtml";
}

<header class="page-header">
    <h2>@ViewBag.SectionHeaderTitle</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@ViewBag.Home_Dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </li>

            <li><a><span>@ViewBag.BreadCumController</span></a></li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span>@ViewBag.SectionSub_HeaderTitle</span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>


<div class="row">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
        <div class="col-lg-12">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-info">
                    <button type="button" class="close btn-sm" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close btn-sm" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
                </div>
            }
        </div>
    }


</div>


<!--Following 'LoaderImage' div is for showing ajax loader before ajax call-->
<div class="imageGIFLoader" id="LoaderImage">
    <img src="~/img/projects/ajax-loader.gif" class="img-responsive" style="width:65px; height:65px;" />
</div>


<div class="row" >
    <div class="col">
        <section class="card">
            
            <div class="card-body">



                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                    <thead>
                        <tr>

                         

                            <th>Ref</th>
                            <th>Date</th>
                            <th>PartyName</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>View</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.ApprovalObjList != null)
                        {
                            foreach (Approvals_DAL item in Model.ApprovalObjList)
                            {

                          
                        <tr>
                           
                            <td> @Html.DisplayFor(modelItem => item.Ref)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Trans_Date)
                            </td>

                            <td>@Html.DisplayFor(modelItem => item.PartyName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Total_Amount)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status) </td>
                            

                            <td> <a href="@Html.DisplayFor(modelItem => item.Link)" >View</a></td>



                        </tr>
                            }
                        }




                    </tbody>

                 

                </table>


            </div>
        </section>
    </div>
</div>



<!-- Modal show attachment -->
<div class="modal fade bs-modal-lg" id="ShowAttachmentMasterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Following fields is for making a central purchase master id for attachments -->
        <input type="hidden" id="PurchaseMasterMain" name="PurchaseMasterMain" />

        <div class="modal-content" id="AttachmentsPurchaseMaster">


        </div>
    </div>
</div>






@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


    <script>

        function myBeginSearch() {
            $("#LoaderImage").css("visibility", "visible");
        }

        function mySuccessSearch(data) {

            debugger
            if (data.message == undefined) {

                $('#TablePurchaseListSearch').html(data);


            } else {
                alert(data.message);

            }


        }

        function myFailureSearch() {

            alert("Failured occured. Please try again!");
            $("#LoaderImage").css("visibility", "hidden");
        }

        function myCompleteSearch() {
            $("#LoaderImage").css("visibility", "hidden");

        }

       
    </script>

<script>
    //---show attachment popup
    function ShowAttachmentMaster(PurchaseMaster_ID) {
        debugger
        var TeamDetailPostBackURL = '/Purchases/GetPurchaseMasterNew_Attachments';

        //--assign value to PurchaseMaster_ID hidden field in the main. Dont remove this fields
        $("#PurchaseMasterMain").val(PurchaseMaster_ID);


        if (!PurchaseMaster_ID) {
            alert("ID is null. Please try again!");
        } else {
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "PurchaseMaster_ID": PurchaseMaster_ID },
                datatype: "json",
                success: function (data) {


                    if (data.message == undefined) {
                        $('#AttachmentsPurchaseMaster').html(data);

                       
                        //--assign value to PurchaseMaster_ID hidden field. this field is in partial view '_PurchaseListAttachment'
                        $("#PurchaseMaster_ID_Attachment").val(PurchaseMaster_ID);

                        $('#ShowAttachmentMasterModal').modal('show');

                    } else {
                        alert(data.message);
                        $('#ShowAttachmentMasterModal').modal('hide');
                    }

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }



    }


    //---after successfull submission of attachment
    function mySuccessAttachment(data) {

        debugger
        if (data.message == undefined) {

           
            $('#AttachmentsPurchaseMaster').html(data);

            //---assign id of purchase master to the hidden field PurchaseMaster_ID_Attachment after partial view refresh
            var PurchaseMaster_ID = document.getElementById("PurchaseMasterMain").value;
            $("#PurchaseMaster_ID_Attachment").val(PurchaseMaster_ID);



        } else {
            alert(data.message);

        }


    }

    //---if error occured in insertion of attachment
    function myFailureAttachment() {

        alert("Failured occured. Please try again!");
       
    }

</script>

}