@using DAL
@using DAL.Models
@model DAL.oClasses.OAccounts
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{ //ViewData["Title"] = "ReceiptVoucherSale";
                Layout = "~/Views/Shared/_LayoutTablePages.cshtml"; }


@{ string Form_ReceiptMaster_ActionMethod = "";
    int? ReceiptMaster_ID = ViewBag.ReceiptMaster_ID;


    if (Model.receiptMasterObject != null && Model.receiptMasterObject.ReceiptMaster_ID > 0)
    {

        Form_ReceiptMaster_ActionMethod = "UpdateReceiptMaster_Sale";


    }
    else
    {
        Form_ReceiptMaster_ActionMethod = "InsertReceiptMaster_Sale";


    }

    string ReceiptVoucherReportName2 = "";
    ReceiptVoucherReportName2 = Configuration.GetSection("AppSettings").GetSection("ReceiptVoucherReportName2").Value;

    string DefaultCurrency_ID_Dropdown = Configuration.GetSection("AppSettings").GetSection("DefaultCurrency_ID_Dropdown").Value;
    string CompanyCode = Configuration.GetSection("AppSettings").GetSection("CompanyReportFolderCode").Value;
                }






<header class="page-header">
    <h2>@ViewBag.SectionHeaderTitle</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@ViewBag.Home_Dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span>@ViewBag.SectionSub_HeaderTitle</span></a></li>
            <li><a asp-area="" asp-controller="" asp-action=""><span>Reciept Voucher Sale</span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>






<div class="row" id="SuccessErrorSection">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
<div class="col-lg-12">
    @if (TempData["Success"] != null)
    {
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
</div>}

    @if (TempData["Error"] != null)
    {
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
</div>}
</div>}


</div>

<!-- start: page -->
<section class="card">
    <div class="card-body">
        <div class="invoice">
            <header class="clearfix">
                <div class="row">
                    <div class="col-sm-6 mt-0">
                        <h2 class="h4 mt-0 mb-2 text-dark font-weight-bold">Receipt Voucher (Sale)</h2>

                    </div>

                    <div class="col-sm-6 mt-0 text-right">

                        @if (String.IsNullOrEmpty(Model.receiptMasterObject.ReceiptStatus))
                        {
            <h4 class=" mt-0 mb-2 text-dark"><b>Status:</b> <label>Pending</label></h4> }
                        else
                        {
            <h4 class=" mt-0 mb-2 text-dark"><b>Status:</b> <label>@Model.receiptMasterObject.ReceiptStatus</label></h4>}

                    </div>


                </div>
            </header>

            <div class="row">
                <div class="col-lg-8">
                    @if (Model.receiptMasterObject.ReceiptMaster_ID != null)
                    {
                        if (Model.receiptMasterObject.ReceiptMaster_ID > 0)
                        {

                <button type="button" id="ButtonReceiptMasterUpdate" class="btn-sm btn btn-success">Update &nbsp;<i class="fas fa-save"></i></button>

                                    <button type="button" class="btn-sm btn btn-primary">Edit  &nbsp;<i class="fas fa-edit"></i></button>


                                                        <button type="button" id="ChangeStatusMaster" class="btn-sm btn btn-warning" data-toggle="modal" data-target="#ChangeStatusReceiptModal" onclick="ChangeStatusReceiptMaster('@Model.receiptMasterObject.ReceiptMaster_ID', '5');">Cancel &nbsp;<i class="fas fa-cross"></i></button>

                                                                            <button type="button" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#DeleteReceiptMasterModal" onclick="DeleteReceiptMaster('@Model.receiptMasterObject.ReceiptMaster_ID');">Delete &nbsp;<i class="fas fa-trash-alt"></i></button>
                                                                            if (CompanyCode == "GL")
                                                                                                {
                                                                                                    if (Model.receiptMasterObject.ApprovedBy > 0)
                                                                                                    {
                                                                            <button type="button" class="btn-sm btn btn-info" id="print-btn">Print &nbsp;<i class="fas fa-print"></i></button> }
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <button type="button" class="btn-sm btn btn-info" id="print-btn">Print &nbsp;<i class="fas fa-print"></i></button>
                                                                                                }
                                                                            <button type="button" id="btnApproval" class="btn-sm btn btn btn-dark" @ViewBag.ApprovalVisibility data-toggle="modal" data-target="#ChangeStatusReceiptModal" onclick="ChangeStatusReceiptMaster('@Model.receiptMasterObject.ReceiptMaster_ID', '2');">Approve &nbsp;<i class="fa fa-check"></i></button>
                                                                                                <button type="button" id="btnAttachment" class="btn-sm btn btn btn-default" @ViewBag.AttachmentVisibility style="background-color: #68889E; color:white; border-color:#2F3E48" onclick="ShowAttachmentMaster('@Model.receiptMasterObject.ReceiptMaster_ID');">Attachment &nbsp;<i class="fa fa-paperclip"></i></button>
                                                                                                                    <a asp-controller="Accounts" asp-action="ReceiptList" class="btn-sm btn btn-default">List &nbsp;<i class="fas fa-list"></i></a> }
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                <button type="button" id="ButtonReceiptMasterIssue" class="btn-sm btn btn-success">Issue &nbsp;<i class="fas fa-save"></i></button>

                                                                                                                <button type="button" class="btn-sm btn btn-primary" disabled="disabled">Edit  &nbsp;<i class="fas fa-edit"></i></button>


                                                                                                                                <button type="button" class="btn-sm btn btn-warning" disabled="disabled">Cancel &nbsp;<i class="fas fa-cross"></i></button>
                                                                                                                                                <button type="button" class="btn-sm btn btn-danger" disabled="disabled">Delete &nbsp;<i class="fas fa-trash-alt"></i></button>
                                                                                                                                                                <button type="button" class="btn-sm btn btn-info" disabled="disabled">Print &nbsp;<i class="fas fa-print"></i></button>
                                                                                                                                                                                <button type="button" @ViewBag.ApprovalVisibility class="btn-sm btn btn btn-dark" disabled="disabled">Approve &nbsp;<i class="fa fa-check"></i></button>
                                                                                                                                                                                                <a asp-controller="Accounts" asp-action="ReceiptList" class="btn-sm btn btn-default">List &nbsp;<i class="fas fa-list"></i></a>}
                </div>

            </div>

            <div class="row">

                <div class="col">



                    <form method="post" asp-area="" asp-controller="Accounts" asp-action="@Form_ReceiptMaster_ActionMethod" id="formReceiptMaster">
                        @Html.AntiForgeryToken()

                        <section class="card">

                            <div class="card-body">



                                <div class="row form-group">
                                    <div class="col-lg-6">

                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-3 col-form-label">From</label>
                                            <div class="col-sm-4">

                                                @*<select class="form-control" id="Vendor_ID" name="Vendor_ID" asp-items="@(new SelectList( ViewBag.VendorMaster,"Partner_ID","PartnerName",Model.receiptMasterObject.Party_ID))" required>
                                                        <option>Select Vendor</option>

                                                    </select>*@

                                                <select class="form-control select2" id="Party_ID" name="Party_ID" asp-items="@(new SelectList( ViewBag.CustomerMaster,"Customer_ID","CustomerName", Model.receiptMasterObject.Party_ID))" required>
                                                    <option>Select Customer</option>

                                                </select>

                                                <input type="hidden" id="ReceiptMaster_ID" name="ReceiptMaster_ID" value="@ReceiptMaster_ID" />
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" id="NameText" name="NameText" value="@Model.receiptMasterObject.NameText" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="row MasterForm">
                                            <label for="Vendor_ID" class="col-sm-3 col-form-label">Explanation</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="2" id="Explanation" name="Explanation" placeholder="Enter Explanation" required>@Model.receiptMasterObject.Explanation</textarea>


                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">

                                    </div>

                                    <div class="col-lg-4 ">

                                        <div class="row MasterForm">
                                            <label for="PurchaseRef" class="col-sm-3 col-form-label">Ref No</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="SaleRef" name="SaleRef" value="@Model.receiptMasterObject.ReceiptMaster_ref" readonly>
                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="PurchaseDate" class="col-sm-3 col-form-label">Date</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    @if (!String.IsNullOrEmpty(Model.receiptMasterObject.ReceiptDate))
                                                    {
                                        <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="ReceiptDate" name="ReceiptDate" value="@Model.receiptMasterObject.ReceiptDate" required> }
                                                    else
                                                    {
                                        <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="ReceiptDate" name="ReceiptDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" required>}

                                                </div>
                                            </div>


                                        </div>


                                    </div>


                                </div>

                            </div>



                        </section>
                    </form>

                </div>

            </div>

            <div class="row m-2">
                <div class="col-lg-6">
                    <h2 class="card-title" style="line-height:normal;">Receipts Details </h2>
                </div>
                <div class="col-lg-6 text-right">
                    <button class="btn btn-sm btn-primary " id="btnSavePopUp" data-toggle="modal" data-target="#AddNewReceiptDetailModal">Add New &nbsp;<i class="fas fa-plus"></i></button>


                </div>
            </div>

            <div id="ReceiptDetailSection">

                <table class="table table-responsive-md table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>Edit/Delete</th>
                            <th>On Account</th>
                            <th>
                                Amount



                            </th>
                            <th width="30%">Description</th>

                            <th>Recieved Mode</th>
                            <th>Ref</th>
                            <th>Cheque Details</th>



                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.receiptDetailList != null)
                        {
                            ViewBag.Grand_Amount = "0";
                            ViewBag.Grand_VAT_Exp = "0";
                            ViewBag.Grand_Total_Amount = "0";

                            foreach (pa_ReceiptDetails_DAL item in Model.receiptDetailList)
                            {

                                ViewBag.Grand_Amount = item.Grand_Amount;
                                ViewBag.Grand_VAT_Exp = item.Grand_VAT_Exp;
                                ViewBag.Grand_Total_Amount = item.Grand_Total_Amount;

            <tr>


                <td>
                    <a onclick="UpdateReceiptDetailGeneral('@item.ReceiptDetail_ID', '@item.DR_accountID', '@item.Amount', '@item.Currency_ID', '@item.Currency_Rate', '@item.other_curr_amount', '@item.CR_accountID', '@item.Description', '@item.trans_ref', '@item.Cheque_Bank_Name',
        '@item.cheque_Date', '@item.Cheque_no', '@item.VAT_Rate', '@item.VAT_Exp', '@item.Total_Amount', '@item.PDC_Recieving_Acc_ID');" data-toggle="modal" data-target="#UpdateReceiptDetailModal" id="btnUpdatePopUp"><img style="width: 20px;" src="~/Img/Icons/edit.png" /></a>
                    <a onclick="DeleteReceiptsDetail('@item.ReceiptDetail_ID');" data-toggle="modal" data-target="#DeleteSalesDetailModal"><img style="width: 20px;" src="~/Img/Icons/delete.png" /></a>




                </td>
                <td>@Html.DisplayFor(modelItem => item.CR_AccountName)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)<br />

                    @Html.DisplayFor(modelItem => item.Currency_ShortName) x @Html.DisplayFor(modelItem => item.Currency_Rate)
                </td>


                <td width="30%"> @Html.DisplayFor(modelItem => item.Description) </td>
                <td>@Html.DisplayFor(modelItem => item.DR_AcountName)</td>

                <td>@Html.DisplayFor(modelItem => item.trans_ref)</td>
                <td class="text-wrap">
                    <b>@Html.DisplayFor(modelItem => item.Cheque_Bank_Name)</b>
                    <i>@Html.DisplayFor(modelItem => item.Cheque_no) </i>
                    <b>@Html.DisplayFor(modelItem => item.cheque_Date)</b>

                </td>


            </tr>}
                        }


                    </tbody>

                </table>

                <div class="invoice-summary">

                    <div class="row">

                        <div class="col-lg-9 col-md-9">

                        </div>

                        <div class="col-lg-3 col-md-3 justify-content-end text-right">
                            <table class="table h6 text-dark">
                                <tbody>

                                    <tr class="b-top-0">
                                        <td colspan="2"> Sub Total:</td>
                                        <td class="text-right" id="SubTotal">@ViewBag.Grand_Amount</td>
                                    </tr>
                                    <tr class="b-top-0">
                                        <td colspan="2"> VAT Charges:</td>
                                        <td class="text-right" id="SubTotal">@ViewBag.Grand_VAT_Exp</td>
                                    </tr>

                                    <tr class="h5">
                                        <td colspan="2">Total Receivable:</td>
                                        <td class="text-right" id="Total_Payable">@ViewBag.Grand_Total_Amount</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-sm-3"><span class="show-grid-block">Created at : <b>@Model.receiptMasterObject.Created_at </b></span></div>
                <div class="col-sm-3"><span class="show-grid-block">Created by :</span><b>@Model.receiptMasterObject.Created_by</b></div>
                <div class="col-sm-3"><span class="show-grid-block">Modified at :<b>@Model.receiptMasterObject.Modified_at </b></span></div>
                <div class="col-sm-3"><span class="show-grid-block">Modified by : <b>@Model.receiptMasterObject.Modified_by </b></span></div>
            </div>



        </div>


    </div>
</section>




<!--Insert receipt detail model-->
<div class="modal fade bs-modal-sm in" id="AddNewReceiptDetailModal" tabindex="-1" role="dialog" aria-hidden="true" style=" padding-right: 17px;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Receipt Details Sale</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" data-ajax="true" data-ajax-success="mySuccessInsertReceipt" data-ajax-failure="myFailureInsertReceipt"
                  asp-area="" asp-controller="Accounts" asp-action="InsertReceiptDetail_Sale" data-ajax-loading="" id="FormInsertReceiptDetail">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body">



                            <div class="form-body">
                                <div class="row">
                                    @if (Model.receiptMasterObject.ReceiptMaster_ID != 0)
                                    {
                                        <input id="hdReceiptMaster_ID" name="hdReceiptMaster_ID" type="hidden" value="@Model.receiptMasterObject.ReceiptMaster_ID" /> }
                                    else

                                    {

                                        <input id="hdReceiptMaster_ID" name="hdReceiptMaster_ID" type="hidden" value="0" />}
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Account</label>
                                            <select class="form-control" id="CR_accountID" name="CR_accountID" readonly>
                                                <option value="39">A/R</option>
                                            </select>


                                        </div>
                                    </div>
                                    <!--/span-->

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Amount*</label>
                                            <input type="number" id="Amount" name="Amount" step="any" class="form-control" placeholder="Enter Amount" onblur="CalculateSumAmount()" required readonly>

                                        </div>
                                    </div>

                                    <!--/span-->

                                    <div class="col-md-3">
                                        <label class="control-label">Currency & Rate</label>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-5" style="padding:0; padding-left:12px;">
                                                    <select class="form-control" id="Currency_ID" name="Currency_ID" asp-items="@(new SelectList( ViewBag.CurrencyList,"Currency_ID","Currency_ShortName"))" required>
                                                        @*<option>SELECT</option>*@
                                                    </select>
                                                </div>
                                                <div class="col-md-7 col-sm-7" style="padding:0;">
                                                    <input type="number" id="Currency_Rate" name="Currency_Rate" step="any" onblur="CalculateSumAmount()" value="1" class="form-control" placeholder="Rate" required>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Other Amount </label>
                                            <input type="text" id="other_curr_amount" name="other_curr_amount" step="any" class="form-control" placeholder="Other Amount" readonly>

                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Received Mode*</label>

                                            <select class="form-control" id="DR_accountID" name="DR_accountID" onchange="changetextbox()" asp-items="@(new SelectList( ViewBag.DR_AccountsList,"Account_ID","AccountName"))" required>
                                                <option>Select</option>
                                            </select>

                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <input type="text" id="Description" name="Description" class="form-control" placeholder="Enter Description here">

                                        </div>
                                    </div>

                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Ref </label>

                                            <input type="text" id="trans_ref" name="trans_ref" class="form-control" placeholder="Reference" readonly>


                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Bank</label>
                                            <input type="text" id="Cheque_Bank_Name" name="Cheque_Bank_Name" class="form-control" placeholder="Bank">

                                        </div>
                                    </div>
                                    <!--/span-->

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Cheque Date </label>

                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </span>
                                                </span>

                                                <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="cheque_Date" name="cheque_Date">

                                            </div>


                                        </div>
                                    </div>
                                    <!--/span-->

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Cheque # </label>
                                            <input type="text" id="Cheque_no" name="Cheque_no" class="form-control" placeholder="Cheque #">

                                        </div>
                                    </div>


                                    <div class="col-md-3 col-lg-3">
                                        <label class="control-label">VAT Charges </label>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-5" style="padding:0; padding-left:12px;">
                                                    <select class="form-control" id="VAT_Rate" name="VAT_Rate" onchange="CalculateSumAmount()">
                                                        <option value="0">0%</option>
                                                        <option value="5">5%</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-7 col-sm-7" style="padding:0;">
                                                    <input type="text" id="VAT_Exp" name="VAT_Exp" class="form-control" step="any" placeholder="total" readonly>

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Total </label>
                                            <input type="text" id="Total_Amount" name="Total_Amount" step="any" class="form-control" placeholder="total" readonly>

                                        </div>
                                    </div>



                                </div>
                                <div class="row" id="RMrow" style="display:none;">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Recieving Account</label>
                                            <select class="form-control" id="PDC_Recieving_Acc_ID" name="PDC_Recieving_Acc_ID" asp-items="@(new SelectList( ViewBag.DR_AccountsListRM,"Account_ID","AccountName"))" required>
                                                <option>Select</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-7">
                                        <div class="row">
                                            <div class="col-lg-12">

                                                @*style="overflow-y:auto; overflow:scroll; border:1px solid #ededed;"*@

                                                <div style="overflow-y:auto;">

                                                    <table  class="table table-striped table-bordered table-sm ">
                                                        <thead style="        background-color: #000; color: white;">
                                                            <tr>
                                                                <th><a style="color:white;" class="CheckAllAnchor" onclick="CheckAllCheckBox();">Select All</a></th>
                                                                <th>Ref</th>
                                                                <th>Date</th>
                                                                <th>Type</th>
                                                                <th>Amount</th>
                                                                <th>Paid</th>
                                                                <th>Pay Now</th>
                                                                <th>Balance</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="dtHorizontalVerticalExample">

                                                            @if (Model.receiptmasterlist != null)
                                                            {

                                                                foreach (var item in Model.receiptmasterlist)
                                                                {
                                                                    <tr class="gradeX odd" role="row">
                                                                        <td><input type="checkbox" id="@item.Ref" name="@item.Ref" value="@item.Total_Amount" onChange="UpdateAmount(this.checked, '@item.Ref'  ,@Convert.ToDecimal((String.IsNullOrEmpty(item.Total_Amount) ? "0" : item.Total_Amount)))"></td>
                                                                        @*<input type="hidden" id="@item.Enquiry_ID" value="@item.Enquiry_ID" />*@
                                                                        <td>@item.Ref</td>
                                                                        <td>@item.Sale_Date</td>
                                                                        <td>@item.Type</td>
                                                                        <td>@item.Total_Amount</td>
                                                                        <td>@item.Paid</td>
                                                                        <td>
                                                                            <input type="number" class="form-control" />
                                                                        </td>
                                                                        <td>@item.Balance</td>

                                                                    </tr>


                                                                }
                                                            }


                                                        </tbody>
                                                    </table>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                
                            </div>

                        </div>

                    </section>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="SaveForm()" class="btn btn-sm btn-primary">Add</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!--Update receipt detail model-->
<div class="modal fade bs-modal-sm in" id="UpdateReceiptDetailModal" tabindex="-1" role="dialog" aria-hidden="true" style=" padding-right: 17px;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Receipt Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" data-ajax="true" data-ajax-success="mySuccessUdpateReceipt" data-ajax-failure="myFailureUpdateReceipt"
                  asp-area="" asp-controller="Accounts" asp-action="UpdateReceiptDetail_Sale" data-ajax-loading="" id="FormUpdateReceiptDetail">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body">



                            <div class="form-body">
                                <div class="row">
                                    @if (Model.receiptMasterObject.ReceiptMaster_ID != 0)
                                    {
                                        <input id="hdReceiptMaster_ID" name="hdReceiptMaster_ID" type="hidden" value="@Model.receiptMasterObject.ReceiptMaster_ID" /> }
                                    else

                                    {

                                        <input id="hdReceiptMaster_ID" name="hdReceiptMaster_ID" type="hidden" value="0" />}
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Account*</label>
                                            <select class="form-control" id="CR_accountIDUpdate" name="CR_accountID" asp-items="@(new SelectList( ViewBag.CR_AccountsList,"Account_ID","AccountName"))" required readonly>
                                                <option>Select</option>
                                            </select>

                                            <!--Following feild is primary key for update-->
                                            <input type="hidden" id="ReceiptDetail_IDUpdate" name="ReceiptDetail_ID">


                                        </div>
                                    </div>
                                    <!--/span-->

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Amount*</label>
                                            <input type="number" id="AmountUpdate" name="Amount" step="any" class="form-control" placeholder="Enter Amount" onblur="CalculateSumAmountUpdate()" required readonly>

                                        </div>
                                    </div>

                                    <!--/span-->

                                    <div class="col-md-3">
                                        <label class="control-label">Currency & Rate</label>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-5" style="padding:0; padding-left:12px;">
                                                    <select class="form-control" id="Currency_IDUpdate" name="Currency_ID" asp-items="@(new SelectList( ViewBag.CurrencyList,"Currency_ID","Currency_ShortName"))" required>
                                                        @*<option>SELECT</option>*@
                                                    </select>
                                                </div>
                                                <div class="col-md-7 col-sm-7" style="padding:0;">
                                                    <input type="number" id="Currency_RateUpdate" name="Currency_Rate" step="any" onblur="CalculateSumAmountUpdate()" value="1" class="form-control" placeholder="Rate" required>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Other Amount </label>
                                            <input type="text" id="other_curr_amountUpdate" name="other_curr_amount" class="form-control" placeholder="Other Amount" readonly>

                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Received Mode*</label>

                                            <select class="form-control" id="DR_accountIDUpdate" name="DR_accountID" onchange="changetextboxUpdate()"   asp-items="@(new SelectList( ViewBag.DR_AccountsList,"Account_ID","AccountName"))" required>
                                                <option>Select</option>
                                            </select>

                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <input type="text" id="DescriptionUpdate" name="Description" class="form-control" placeholder="Enter Description here">

                                        </div>
                                    </div>

                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Ref </label>

                                            <input type="text" id="trans_refUpdate" name="trans_ref" class="form-control" placeholder="Reference" readonly>


                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Bank</label>
                                            <input type="text" id="Cheque_Bank_NameUpdate" name="Cheque_Bank_Name" class="form-control" placeholder="Bank">

                                        </div>
                                    </div>
                                    <!--/span-->

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Cheque Date </label>

                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </span>
                                                </span>

                                                <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="cheque_DateUpdate" name="cheque_Date">

                                            </div>


                                        </div>
                                    </div>
                                    <!--/span-->

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Cheque # </label>
                                            <input type="text" id="Cheque_noUpdate" name="Cheque_no" class="form-control" placeholder="Cheque #">

                                        </div>
                                    </div>


                                    <div class="col-md-3 col-lg-3">
                                        <label class="control-label">VAT Charges </label>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-5" style="padding:0; padding-left:12px;">
                                                    <select class="form-control" id="VAT_RateUpdate" name="VAT_Rate" onchange="CalculateSumAmountUpdate()">
                                                        <option value="0">0%</option>
                                                        <option value="5">5%</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-7 col-sm-7" style="padding:0;">
                                                    <input type="text" id="VAT_ExpUpdate" name="VAT_Exp" class="form-control" placeholder="total" readonly>

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Total </label>
                                            <input type="text" id="Total_AmountUpdate" name="Total_Amount" class="form-control" placeholder="total" readonly>

                                        </div>
                                    </div>

                                


                                </div>

                             

                                    <div class="row" id="RMrowUpdate">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Recieving Account</label>
                                                <select class="form-control" id="PDC_Recieving_Acc_IDUpdate" name="PDC_Recieving_Acc_ID" asp-items="@(new SelectList( ViewBag.DR_AccountsListRM,"Account_ID","AccountName"))" required>
                                                    <option>Select</option>
                                                </select>
                                          
                                            </div>
                                        </div>
                                    </div>
                              
                            

                                <div class="row">

                                    <div class="col-lg-7">
                                        <div class="row">
                                            <div class="col-lg-12">

                                                @*style="overflow-y:auto; overflow:scroll; border:1px solid #ededed;"*@


                                                <div style="overflow-y:auto;" id="">

                                                    <table @*id="dtHorizontalVerticalExample"*@ class="table table-striped table-bordered table-sm ">
                                                        <thead style="        background-color: #000; color: white;">
                                                            <tr>
                                                                <th><a style="color:white;" class="CheckAllAnchor" onclick="CheckAllCheckBox();">Select All</a></th>
                                                                <th>Ref</th>
                                                                <th>Date</th>
                                                                <th>Type</th>
                                                                <th>Amount</th>
                                                                <th>Paid</th>
                                                                <th>Pay Now</th>
                                                                <th>Balance</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody id="dtHorizontalVerticalExampleUpdate">

                                                            @if (Model.ReceiptMasterObject != null && Model.ReceiptMasterObject.ReceiptMaster_ID > 0)
                                                            {
                                                                string value = "txtPayNow";
                                                                string value1 = "txtBalance";


                                                                @if (Model.receiptmasterlist != null)
                                                                {




                                                                    foreach (var item in Model.receiptmasterlist)
                                                                    {
                                                                        <tr class="gradeX odd" role="row">
                                                                            @if (item.Paid != null && item.Paid != "0.0000" && item.ReceiptMaster_ID == ReceiptMaster_ID)
                                                                            {
                                                                                <td><input type="checkbox" id="@item.Ref" name="@item.Ref" value="@item.Total_Amount" checked onChange="UpdateAmount(this.checked, '@item.Ref'  ,@Convert.ToDecimal((String.IsNullOrEmpty(item.Total_Amount) ? "0" : item.Total_Amount)))"></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>
                                                                                    <input type="checkbox" id="@item.Ref" name="@item.Ref" value="@item.Total_Amount"
                                                                                           onChange="UpdateAmount(this,this.checked, '@item.Ref'  ,@Convert.ToDecimal((String.IsNullOrEmpty(item.Total_Amount) ? "0" : item.Total_Amount)))">
                                                                                </td>
                                                                            }
                                                                            @*<input type="hidden" id="@item.Enquiry_ID" value="@item.Enquiry_ID" />*@
                                                                            <td>@item.Ref</td>
                                                                            <td>@item.Sale_Date</td>
                                                                            <td>@item.Type</td>
                                                                            <td>@item.Total_Amount</td>
                                                                            <td>@item.Paid</td>
                                                                            @if (item.Paid != null && item.Paid != "0.0000" && item.ReceiptMaster_ID == ReceiptMaster_ID)
                                                                            {
                                                                                <td><input name="userSelectID" type="number" onblur="InsertToAmount('@item.Ref')" class="form-control element-row" id="@value@item.Ref" value="@item.Paid" /></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>
                                                                                    <input name="userSelectID" type="number" onblur="InsertToAmount('@item.Ref','User')" class="form-control element-row" id="@value@item.Ref" value="0" disabled />
                                                                                </td>
                                                                            }

                                                                            <td id="@value1@item.Ref">@item.Balance</td>

                                                                        </tr>
                                                                    }
                                                                }


                                                            }
                                                            else
                                                            {
                                                                string value = "txtPayNow";
                                                                string value1 = "txtBalance";


                                                                @if (Model.receiptmasterlist != null)
                                                                {




                                                                    foreach (var item in Model.receiptmasterlist)
                                                                    {
                                                                        <tr class="gradeX odd" role="row">

                                                                            <td>
                                                                                <input type="checkbox" id="@item.Ref" name="@item.Ref" value="@item.Total_Amount"
                                                                                       onChange="UpdateAmount(this,this.checked, '@item.Ref'  ,@Convert.ToDecimal((String.IsNullOrEmpty(item.Total_Amount) ? "0" : item.Total_Amount)))">
                                                                            </td>
                                                                            @*<input type="hidden" id="@item.Enquiry_ID" value="@item.Enquiry_ID" />*@
                                                                            <td>@item.Ref</td>
                                                                            <td>@item.Sale_Date</td>
                                                                            <td>@item.Type</td>
                                                                            <td>@item.Total_Amount</td>
                                                                            <td>@item.Paid</td>

                                                                            <td>
                                                                                <input name="userSelectID" type="number" onblur="InsertToAmount('@item.Ref','User')" class="form-control element-row" id="@value@item.Ref" value="0" disabled />
                                                                            </td>

                                                                            <td id="@value1@item.Ref">@item.Balance</td>

                                                                        </tr>
                                                                    }
                                                                }



                                                            }


                                                        </tbody>
                                                    </table>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" onclick="UpdateForm()" class="btn btn-sm btn-primary">Update</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Modal Delete receipt master -->
<div class="modal fade bs-modal-lg" id="DeleteReceiptMasterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Delete Receipt Master</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="Accounts" asp-action="DeleteReceiptMaster_Sale">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to delete this record?</h3>

                                        <input type="hidden" id="ReceiptMaster_ID_Delete" name="ReceiptMaster_ID" />

                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Modal Delete receipt detail -->
<div class="modal fade bs-modal-lg" id="DeleteSalesDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Delete Receipt Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="Accounts" asp-action="DeleteReceiptDetailSale">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to delete this record?</h3>

                                        <input type="hidden" id="ReceiptDetail_IDDelete" name="ReceiptDetail_ID" />

                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>



<!-- Modal Change Receipt Master Status -->
<div class="modal fade bs-modal-lg" id="ChangeStatusReceiptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Change Sales Master Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="Accounts" asp-action="ChangeReceiptMasterStatus" data-ajax-loading="">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to change status of this record?</h3>

                                        <input type="hidden" id="ReceiptMaster_IDStatus" name="ReceiptMaster_ID" />
                                        <input type="hidden" id="Receipt_Status_ID" name="Status_ID" />
                                        <input type="hidden" id="Trans_Type" name="Trans_Type" value="Receipt_Voucher_Sale" />
                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal show attachment -->
<div class="modal fade bs-modal-lg" id="ShowAttachmentMasterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Following fields is for making a central receipt master id for attachments -->
        <input type="hidden" id="ReceiptMasterMain" name="ReceiptMasterMain" />

        <div class="modal-content" id="AttachmentsReceiptMaster">


        </div>
    </div>
</div>

@section Scripts {



    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


    <script>

        $(function () {
            $(".select2").select2({
                theme: "bootstrap",

            });
        });
             $("#Currency_ID").val(@DefaultCurrency_ID_Dropdown);

    </script>


    <script>
        //---show attachment popup
        function ShowAttachmentMaster(ReceiptMaster_ID) {
            //debugger
            var TeamDetailPostBackURL = '/Accounts/GetReceiptMaster_Attachments';

            //--assign value to ReceiptMaster_ID hidden field in the main. Dont remove this fields
            $("#ReceiptMasterMain").val(ReceiptMaster_ID);


            if (!ReceiptMaster_ID) {
                alert("ID is null. Please try again!");
            } else {
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "ReceiptMaster_ID": ReceiptMaster_ID },
                    datatype: "json",
                    success: function (data) {
                        debugger

                        if (data.message == undefined) {
                            $('#AttachmentsReceiptMaster').html(data);


                            //--assign value to ReceiptMaster_ID hidden field. this field is in partial view '_ReceiptAttachment'
                            $("#ReceiptMaster_ID_Attachment").val(ReceiptMaster_ID);

                            $('#ShowAttachmentMasterModal').modal('show');

                        } else {
                            alert(data.message);
                            $('#ShowAttachmentMasterModal').modal('hide');
                        }

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }



        }


        //---after successfull submission of attachment
        function mySuccessAttachment(data) {

            debugger
            if (data.message == undefined) {


                $('#AttachmentsReceiptMaster').html(data);

                //---assign id of purchase master to the hidden field PaymentMaster_ID_Attachment after partial view refresh
                var ReceiptMaster_ID = document.getElementById("ReceiptMasterMain").value;
                $("#ReceiptMaster_ID_Attachment").val(ReceiptMaster_ID);



            } else {
                alert(data.message);

            }


        }

        //---if error occured in insertion of attachment
        function myFailureAttachment() {

            alert("Failured occured. Please try again!");

        }

        //---Delete Attachment
        function DeleteAttachment(Attachment_ID, Master_ID, Type, File_Name) {
            debugger
            var TeamDetailPostBackURL = '/Accounts/DeleteAttachmentReceipts';

            //--in this function , the 'Type' is for the field in attachment table for specifying different voucher documents

            var ReceiptMaster_ID = Master_ID;
            if (!Attachment_ID) {
                alert("Attachment ID is null. Please try again!");
            } else {
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "ReceiptMaster_ID": ReceiptMaster_ID, "Attachment_ID": Attachment_ID, "Type": Type, "File_Name": File_Name },
                    datatype: "json",
                    success: function (data) {


                        if (data.message == undefined) {
                            $('#AttachmentsReceiptMaster').html(data);


                            //--assign value to ReceiptMaster_ID hidden field. this field is in partial view '_ReceiptAttachment'
                            $("#ReceiptMaster_ID_Attachment").val(ReceiptMaster_ID);



                        } else {
                            alert(data.message);
                            //$('#ShowAttachmentMasterModal').modal('hide');
                        }

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }



        }

        //---this function will hit after success submission of insert receipt detail form
        function mySuccessInsertReceipt(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Saved Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                //$('#AddNewPurchaseModal').modal('hide');
                $('#ReceiptDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();

                //reset form after success
                $('#FormInsertReceiptDetail').trigger("reset");


            } else {
                alert(data.message);

            }


        }

        //---this function will hit when error occured in submission of receipt detail
        function myFailureInsertReceipt() {

            alert("Failured occured. Please try again!");
        }


        //---this function will hit after success submission of update receipt detail form
        function mySuccessUdpateReceipt(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Saved Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                $('#UpdateReceiptDetailModal').modal('hide');
                $('#ReceiptDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();

                //reset form after success
                $('#FormUpdateReceiptDetail').trigger("reset");


            } else {
                alert(data.message);

            }


        }

        //---this function will hit when error occured in submission of update receipt detail
        function myFailureUpdateReceipt() {

            alert("Failured occured. Please try again!");
        }





        $(document).ready(function () {
                   if ("@Model.receiptMasterObject.ReceiptStatus"=="Cancelled") {
                       $('#ButtonReceiptMasterUpdate').attr('disabled', 'disabled');
                    $('#ChangeStatusMaster').attr('disabled', 'disabled');

                $('#btnApproval').attr('disabled', 'disabled');

                $('#btnAttachment').attr('disabled', 'disabled');
                       $('#btnSavePopUp').attr('disabled', 'disabled');

            }

            $("#ButtonReceiptMasterIssue").click(function () {
                $("#formReceiptMaster").submit();
            });
        });

        $(document).ready(function () {
            $("#ButtonReceiptMasterUpdate").click(function () {
                $("#formReceiptMaster").submit();
            });
        });


    </script>

    <script>
        //---function for calculating amounts in the payment detail pop up form insert
        function CalculateSumAmount() {
            debugger
            var Amount = 0;
            var VAT_Rate = 0;
            var Currency_Rate = 1;


            var other_curr_amount = 0;
            var VAT_Exp = 0;
            var Total_Amount = 0;


            Amount = document.getElementById("Amount").value;
            VAT_Rate = document.getElementById("VAT_Rate").value;
            Currency_Rate = document.getElementById("Currency_Rate").value;

            other_curr_amount = document.getElementById("other_curr_amount").value;
            VAT_Exp = document.getElementById("VAT_Exp").value;
            Total_Amount = document.getElementById("Total_Amount").value;


            if (!Amount) {
                Amount = 0;
            }
            if (!VAT_Rate) {
                VAT_Rate = 0;
            }
            if (!Currency_Rate) {
                Currency_Rate = 1;
            }
            if (!other_curr_amount) {
                other_curr_amount = 0;

            }
            if (!VAT_Exp) {
                VAT_Exp = 0;
            }
            if (!Total_Amount) {
                Total_Amount = 0;
            }



            //---calculate sum vat exp
            VAT_Exp = Amount * (VAT_Rate / 100);
            $("#VAT_Exp").val(VAT_Exp);

            Total_Amount = ((Number(Amount) * Number(Currency_Rate)) + Number(VAT_Exp)).toFixed(5);
            $("#Total_Amount").val(Total_Amount);

            //---calculate Amount_Others
            other_curr_amount = (Amount * Currency_Rate).toFixed(5);
            $("#other_curr_amount").val(other_curr_amount);





        }

        //---function for calculating amounts in the payment detail pop up form Update
        function CalculateSumAmountUpdate() {
            debugger
            var Amount = 0;
            var VAT_Rate = 0;
            var Currency_Rate = 1;


            var other_curr_amount = 0;
            var VAT_Exp = 0;
            var Total_Amount = 0;


            Amount = document.getElementById("AmountUpdate").value;
            VAT_Rate = document.getElementById("VAT_RateUpdate").value;
            Currency_Rate = document.getElementById("Currency_RateUpdate").value;

            other_curr_amount = document.getElementById("other_curr_amountUpdate").value;
            VAT_Exp = document.getElementById("VAT_ExpUpdate").value;
            Total_Amount = document.getElementById("Total_AmountUpdate").value;


            if (!Amount) {
                Amount = 0;
            }
            if (!VAT_Rate) {
                VAT_Rate = 0;
            }
            if (!Currency_Rate) {
                Currency_Rate = 1;
            }
            if (!other_curr_amount) {
                other_curr_amount = 0;

            }
            if (!VAT_Exp) {
                VAT_Exp = 0;
            }
            if (!Total_Amount) {
                Total_Amount = 0;
            }



            //---calculate sum vat exp
            VAT_Exp = Amount * (VAT_Rate / 100);
            $("#VAT_ExpUpdate").val(VAT_Exp);


            Total_Amount = ((Number(Amount) * Number(Currency_Rate)) + Number(VAT_Exp)).toFixed(5);
            $("#Total_AmountUpdate").val(Total_Amount);

            //---calculate Amount_Others
            other_curr_amount = (Amount * Currency_Rate).toFixed(5);
            $("#other_curr_amountUpdate").val(other_curr_amount);





        }


        //---delete receipt master gen
        function DeleteReceiptMaster(ReceiptMaster_ID) {
            debugger
            $("#ReceiptMaster_ID_Delete").val(ReceiptMaster_ID);

        }

        //---delete receipt detail gen
        function DeleteReceiptsDetail(ReceiptDetail_ID) {
            debugger
            $("#ReceiptDetail_IDDelete").val(ReceiptDetail_ID);

        }


        //----Assigning values to Update receipt detail form
        function UpdateReceiptDetailGeneral(ReceiptDetail_ID, DR_accountID, Amount, Currency_ID, Currency_Rate,
            other_curr_amount, CR_accountID, Description, trans_ref, Cheque_Bank_Name,
            cheque_Date, Cheque_no, VAT_Rate, VAT_Exp, Total_Amount, PDC_Recieving_Acc_ID) {


            debugger

            $("#ReceiptDetail_IDUpdate").val(ReceiptDetail_ID);
            $("#DR_accountIDUpdate").val(DR_accountID);
            $("#AmountUpdate").val(Amount);

            $("#Currency_IDUpdate").val(Currency_ID);
            $("#Currency_RateUpdate").val(Currency_Rate);
            $("#other_curr_amountUpdate").val(other_curr_amount);
            $("#CR_accountIDUpdate").val(CR_accountID);
            $("#DescriptionUpdate").val(Description);
            $("#trans_refUpdate").val(trans_ref);
            $("#Cheque_Bank_NameUpdate").val(Cheque_Bank_Name);
            $("#cheque_DateUpdate").val(cheque_Date);
            $("#Cheque_noUpdate").val(Cheque_no);
            $("#VAT_RateUpdate").val(VAT_Rate);
            $("#VAT_ExpUpdate").val(VAT_Exp);
            $("#Total_AmountUpdate").val(Total_Amount);
            $("#PDC_Recieving_Acc_IDUpdate").val(PDC_Recieving_Acc_ID);


        }

        //---change payment master status
        function ChangeStatusReceiptMaster(ReceiptMaster_ID, Status) {
            debugger
            $("#ReceiptMaster_IDStatus").val(ReceiptMaster_ID);
            $("#Receipt_Status_ID").val(Status);

        }

                     $(document).ready(function(){
    $("#print-btn").click(function(event){
    event.preventDefault();



        var win = window.open("@Url.Action(ReceiptVoucherReportName2, "Report")" + "?ReceiptMaster_ID=" + $("#ReceiptMaster_ID").val() , "_blank");
    win.focus();
    });
    })
            function UpdateAmount(value,ChekedOrNot, ref, TotalAmount) {

                debugger;
                if (ChekedOrNot == true) {

                    var txtPayNow = document.getElementById('txtPayNow' + ref);
                    var balance = document.getElementById('txtBalance' + ref);
                    console.log(balance.innerText.replace(/,/g, ''));

                    var txtUserAmount = document.getElementById('txtPayNow' + ref);
                    if (!txtUserAmount) {
                        txtUserAmount = 0;
                    }
                    txtUserAmount.value = Number(balance.innerText.replace(/,/g, ''));

                    txtPayNow.removeAttribute("disabled");

                    InsertToAmount(ref, 'code');

                
                }
                else {
                     var txtPayNow = document.getElementById('txtPayNow' + ref);
                txtPayNow.setAttribute("disabled", "");


                if (!txtPayNow) {
                    txtUserAmount = 0;
                }

                var resultTotal = 0;

                console.log(document.getElementById('Amount').value, txtPayNow.value)

                var number1 = Number(document.getElementById('Amount').value);
                var number2 = Number(txtPayNow.value);

                console.log(resultTotal = number1 - number2);

                txtPayNow.value = 0;

                $("#Amount").val(resultTotal);

                    
                //updating total amount
                UpdateSumTotal(resultTotal);

                }
            //var Amount = 0;

            //var resultTotal = 0;

            //if (ChekedOrNot == true) {
            //    Amount = Number(document.getElementById("Amount").value);

            //    if (Amount == null || Amount == '' || Amount == ' ') {
            //        Amount = 0;
            //    }

            //    resultTotal = Number(Amount) + Number(TotalAmount);

            //    $("#Amount").val(resultTotal);


            //    //updating total amount
            //    UpdateSumTotal(Amount);

            //}

            //else {
            //    Amount = Number(document.getElementById("Amount").value);

            //    if (Amount == null || Amount == '' || Amount == ' ') {
            //        Amount = 0;
            //    }

            //    resultTotal = Number(Amount) - Number(TotalAmount);

            //    $("#Amount").val(resultTotal);

            //    //updating total amount
            //    UpdateSumTotal(Amount);
            //}




        }



        function InsertToAmount(Ref, Direction) {


            var txtUserAmount = document.getElementById('txtPayNow' + Ref);

            console.log(txtUserAmount);

            if (!txtUserAmount) {
                txtUserAmount = 0;
            }



            var Amount = 0;
            Amount = txtUserAmount.value;


            var Balance = document.getElementById('txtBalance' + Ref);
            var resultTotal = 0;



            if (Amount == null || Amount == '' || Amount == ' ') {
                Amount = 0;
            }


            if (Direction == 'code') {

                debugger;

                if (txtUserAmount != null) {


                    resultTotal = Number(Amount);



                    var isUpdate = $('#UpdateReceiptDetailModal').hasClass('show');

                    if (isUpdate == true) {


                        console.log(resultTotal = Number(Amount) + Number(document.getElementById('AmountUpdate').value));
                        $("#AmountUpdate").val(resultTotal);

                        //updating total amount
                        UpdateSumTotal(resultTotal);
                    }
                    else {

                        console.log(resultTotal = Number(Amount) + Number(document.getElementById('Amount').value));
                        $("#Amount").val(resultTotal);

                        //updating total amount
                        UpdateSumTotal(resultTotal);
                    }

                }





            } else {

                if (document.getElementsByName('userSelectID') != undefined &&
                    document.getElementsByName('userSelectID') != "" &&
                    document.getElementsByName('userSelectID') != null) {

                    var PaymentList = document.getElementsByName('userSelectID');

                    if (PaymentList.length != 0) {

                        var sum = 0;
                        for (i = 0; i < PaymentList.length; i++) {
                            if (document.getElementsByName('userSelectID')[i].value != "0") {
                                sum += Number(document.getElementsByName('userSelectID')[i].value);
                            } else {
                                sum += 0;
                            }

                        };


                        debugger;

                        var isUpdate = $('#UpdateReceiptDetailModal').hasClass('show');

                        if (isUpdate == true) {
                            $("#AmountUpdate").val(sum);
                            UpdateSumTotal(sum);
                        }
                        else {
                            $("#Amount").val(sum);
                            UpdateSumTotal(sum);
                        }




                    }


                }
            }




        }


        function UpdateSumTotal(Amount) {
            var sum = 0;

            //num3 = 0;
            //num1 = document.getElementById("Amount").value;
            //num2 = document.getElementById("Currency_Rate").value;
            //num3 = num1 * num2;
            //sum = num3;

            //$("#other_curr_amount").val(sum);


            var isUpdate = $('#UpdateReceiptDetailModal').hasClass('show');

            if (isUpdate == true) {


                var sum = 0;
                var sum2 = 0;

                num4 = 0;
                num1 = document.getElementById("AmountUpdate").value;
                num2 = document.getElementById("Currency_RateUpdate").value;
                if (document.getElementById("VAT_Exp") != null) {
                    num3 = document.getElementById("VAT_Exp").value;
                } else {
                    num3 = 0;
                }

                num4 = num1 * num2;
                num5 = Number((num1 * num2)) + Number(num3);
                sum = num4;
                sum2 = num5;


                $("#other_curr_amountUpdate").val(sum);
                $("#Total_AmountUpdate").val(sum2);
            }
            else {

                var sum = 0;
                var sum2 = 0;

                num4 = 0;
                num1 = document.getElementById("Amount").value;
                num2 = document.getElementById("Currency_Rate").value;
                if (document.getElementById("VAT_Exp") != null) {
                    num3 = document.getElementById("VAT_Exp").value;
                } else {
                    num3 = 0;
                }

                num4 = num1 * num2;
                num5 = Number((num1 * num2)) + Number(num3);
                sum = num4;
                sum2 = num5;


                $("#other_curr_amount").val(sum);
                $("#Total_Amount").val(sum2);
            }

        }
        function CheckAllCheckBox() {
            debugger

            var ChekedOrNot = false;
            var TotalAmount = 0;
            var ref = "";

            //---Getting the text of anchor tag in table header
            var anchorText = $(".CheckAllAnchor").text()
            if (anchorText == 'Select All') {

                //Now change the text of anchor tag in table header
                $(".CheckAllAnchor").text("Deselect All");

                //---Selecting all checkboxes of the table
                $(".TableCheckBoxesPayment").prop('checked', true);

                //---Getting all form elements of the form with id='formInsertPayment'
                var form = document.getElementById("FormInsertReceiptDetail"),
                    inputs = form.getElementsByTagName("input");

                //---Running loop for sending the selected check boxes values to the function 'UpdateAmount' for updating the amount fields
                for (var i = 0, len = inputs.length; i < len; i++) {
                    if (inputs[i].type === "checkbox" && inputs[i].checked == true) {

                        ref = inputs[i].value;
                        ChekedOrNot = true;
                        //---Calling function for updating values of total amout field
                        UpdateAmount(ChekedOrNot, ref);

                    }
                }

                //---Else part of starts here
            } else if (anchorText == 'Deselect All') {
                $(".CheckAllAnchor").text("Select All");

                $(".TableCheckBoxesPayment").prop('checked', false);
                var form = document.getElementById("FormInsertReceiptDetail"),
                    inputs = form.getElementsByTagName("input");


                for (var i = 0, len = inputs.length; i < len; i++) {
                    if (inputs[i].type === "checkbox" && inputs[i].checked == false) {

                        ref = inputs[i].value;
                        ChekedOrNot = false;
                        //---Calling function for updating values of total amout field
                        UpdateAmount(ChekedOrNot, ref);

                    }
                }
            }




        }


       
    </script>
    <script>



        $('#btnSavePopUp').click(function () {

            //    debugger

            var Party_ID = document.getElementById("Party_ID").value.toString();


            $.ajax({

                type: "Get",
                url: "/Accounts/GetPartyBalanceReceipt_By_CustomerID?CustomerID=" + Party_ID,



                contentType: "html",
                success: function (response) {
                    // debugger
                    $("#dtHorizontalVerticalExample").html(response);
                }
            })
        })
        $('#btnUpdatePopUp').click(function () {

            //    debugger

            var Party_ID = document.getElementById("Party_ID").value.toString();
            var ReceiptMaster_ID = document.getElementById("hdReceiptMaster_ID").value.toString();


            $.ajax({

                type: "Get",
                url: "/Accounts/GetPartyBalanceReceipt_By_CustomerID?CustomerID=" + Party_ID +"&ReceiptMaster_ID=" + ReceiptMaster_ID,



                contentType: "html",
                success: function (response) {
                    // debugger
                    $("#dtHorizontalVerticalExampleUpdate").html(response);
                }
            })
        })


        function changetextbox() {

            debugger;
            var x = document.getElementById("DR_accountID");
            var i = x.selectedIndex;
            var textContent = x.options[i].text;

            var result = textContent.includes("PDC-");

            if (result) {
                $("#RMrow").show();
                document.getElementById("DR_accountID").setAttribute("required", "");


            }


            else {
                $("#RMrow").hide();

                document.getElementById("DR_accountID").removeAttribute("required", "");

            }

        }
        function changetextboxUpdate() {

            debugger;
            var x = document.getElementById("DR_accountIDUpdate");
            var i = x.selectedIndex;
            var textContent = x.options[i].text;

            var result = textContent.includes("PDC-");

            if (result) {
                $("#RMrowUpdate").show();
                document.getElementById("DR_accountIDUpdate").setAttribute("required", "");


            }


            else {
                $("#RMrowUpdate").hide();

                document.getElementById("DR_accountIDUpdate").removeAttribute("required", "");

            }

        }


        function SaveForm() {
            if ($("#CR_accountID").val() == 0) {
                alert('Please select Pay Via')
                return false;
            }
            else {
                var form = document.getElementById("FormInsertReceiptDetail"),
                    inputs = form.getElementsByTagName("input"),
                    arr = [],
                    selectAmounts = [];


                for (var i = 0, len = inputs.length; i < len; i++) {
                    if (inputs[i].type === "checkbox" && inputs[i].checked == true) {
                        arr.push(inputs[i].name);
                        selectAmounts.push(document.getElementById("txtPayNow" + inputs[i].name).value)
                    }
                }

                console.log(arr);

                console.log(selectAmounts);


                return $.ajax({
                    type: 'POST',
                    url: "/Accounts/InsertReceiptDetail_Sale",
                    data: {

                        DR_accountID: $("#DR_accountID").val(),
                        Amount: $("#Amount").val(),
                        Currency_ID: $("#Currency_ID").val(),
                        Currency_Rate: $("#Currency_Rate").val(),
                        other_curr_amount: $("#other_curr_amount").val(),
                        CR_accountID: $("#CR_accountID").val(),
                        Description: $("#Description").val(),
                        trans_ref: $("#trans_ref").val(),
                        cheque_bank_name: $("#cheque_bank_name").val(),
                        cheque_Date: $("#cheque_Date").val(),
                        Cheque_no: $("#Cheque_no").val(),
                        VAT_Exp: $("#VAT_Exp").val(),
                        Total_Amount: $("#Total_Amount").val(),
                        PDC_Recieving_Acc_ID: $("#PDC_Recieving_Acc_ID").val(),
                        
                        hdReceiptMaster_ID: $("#hdReceiptMaster_ID").val(),                 
                        selectedIds: arr,
                        UserselectedAmounts: selectAmounts
                    },
                    success: function (result, status, xhr) {
                        mySuccessUdpateReceipt(result);

                    }
                });
            }

        }


        function UpdateForm() {
            if ($("#CR_accountIDUpdate").val() == 0) {
                alert('Please select Pay Via')
                return false;
            }
            else {
                debugger
                var form = document.getElementById("FormUpdateReceiptDetail"),
                    inputs = form.getElementsByTagName("input"),
                    arr = [],
                    selectAmounts = [];


                for (var i = 0, len = inputs.length; i < len; i++) {
                    if (inputs[i].type === "checkbox" && inputs[i].checked == true) {
                        arr.push(inputs[i].name);
                        selectAmounts.push(document.getElementById("txtPayNow" + inputs[i].name).value)
                    }
                }

                console.log(arr);

                console.log(selectAmounts);


                return $.ajax({
                    type: 'POST',
                    url: "/Accounts/InsertReceiptDetail_Sale",
                    data: {

                        DR_accountID: $("#DR_accountID").val(),

                        Amount: $("#AmountUpdate").val(),
                        VAT_Rate: $("#VAT_Rate").val(),
                        Currency_ID: $("#Currency_IDUpdate").val(),
                        Currency_Rate: $("#Currency_RateUpdate").val(),
                        other_curr_amount: $("#other_curr_amountUpdate").val(),
                        CR_accountID: $("#CR_accountIDUpdate").val(),
                        Description: $("#DescriptionUpdate").val(),
                        trans_ref: $("#trans_refUpdate").val(),
                        cheque_bank_name: $("#cheque_bank_nameUpdate").val(),
                        cheque_date: $("#cheque_dateUpdate").val(),
                        cheque_no: $("#cheque_noUpdate").val(),
                        VAT_Exp: $("#VAT_ExpUpdate").val(),
                        Total_Amount: $("#Total_AmountUpdate").val(),
                        hdReceiptMaster_ID: $("#hdReceiptMaster_ID").val(),                      
                        selectedIds: arr,
                        UserselectedAmounts: selectAmounts
                    },
                    success: function (result, status, xhr) {
                        mySuccessUpdatePaymentDetail(result);

                    }
                });
            }

        }
    </script>

}