@using DAL
@using DAL.Models
@model DAL.oClasses.OInventory
<table class="table table-responsive-md table-bordered mb-0">
    <thead>
        <tr>
            <th>Edit/Delete</th>
            <th>Item</th>

            <th>Quantity</th>
            <th>Cost</th>







        </tr>
    </thead>
    <tbody>
        @if (Model.DismentalDetailList != null)
        {


            foreach (Pa_Dismental_Dtl item in Model.DismentalDetailList)
            {



                <tr>


                    <td>

                        <a onclick="DeleteInventoryDetail('@item.Dismental_Dtl_ID');" data-toggle="modal" data-target="#DeleteInventoryDetailModal"><img style="width: 20px;" src="~/Img/Icons/delete.png" /></a>

                    </td>
                    <td>
                        @item.ItemName
                        <br />
                        @item.ItemCode
                    </td>

                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cost)</td>





                </tr>
}
        }
    </tbody>

</table>