@using DAL
@using DAL.Models
@model DAL.oClasses.oReports
@using X.PagedList.Mvc.Core; @*//import this so we get our HTML Helper*@
@using X.PagedList;  @*//import this so we can cast our list to IPagedList*@
@if (Model.CustomerLedger_TTL != null)
{

    ViewBag.partyname2 = ViewBag.partyName;
    foreach (pa_tblLedgers item in Model.CustomerLedger_TTL)
    {
<b>
    <label class="col-form-label" style="float:right;font-family:sans-serif;font-size:15px;color:black"> Opening Balance:  @item.Opening_Balance</label>
</b>}
}
<table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>



            <th> Date</th>
            <th>Debit </th>
            <th> Credit </th>
            <th> Description </th>
            <th @ViewBag.IsVehicleAppHidden> Chassis </th>
            <th> PartyName </th>
            <th> Ref# </th>





        </tr>
    </thead>


    <tbody>

        @if (Model.CustomerLedger != null)
        {


            foreach (pa_tblLedgers item in Model.CustomerLedger)
            {






<tr class="gradeX odd" role="row">




    <td width="7%">@Html.DisplayFor(modelItem => item.Date) </td>

    <td>@Html.DisplayFor(modelItem => item.Debit) </td>

    <td>@Html.DisplayFor(modelItem => item.Credit) </td>

    <td>@Html.DisplayFor(modelItem => item.Description) </td>

    <td @ViewBag.IsVehicleAppHidden>@Html.DisplayFor(modelItem => item.Chassis_No) </td>

    <td>@Html.DisplayFor(modelItem => item.PartyName) </td>
    <td><a href="@item.Link" onclick="btndisable();">@Html.DisplayFor(modelItem => item.trans_ref)</a></td>


</tr>}
            }

    </tbody>

    <tfoot>
        @if (Model.CustomerLedger_TTL != null)
        {


            foreach (pa_tblLedgers item in Model.CustomerLedger_TTL)
            {
<tr role="row">
    <th>Total</th>

    <th>@item.TotalDebit</th>
    <th>@item.TotalCredit</th>
    <th> </th>
    <th>Closing Balance</th>
    <th>
        @item.Closing_Balance
    </th>
    <th @ViewBag.IsVehicleAppHidden></th>


</tr>}
            }
    </tfoot>


</table>

<div class="invoice-summary">

    <div class="row">

        <div class="col-lg-6 col-md-6">

        </div>

        <div class="col-lg-6 col-md-6 justify-content-end text-right">
            @if (Model.CustomerLedger.Count() != 0)
            {

@Html.PagedListPager(Model.CustomerLedger, page => Url.Action("CustomerReport_Search", "Report", new { StartDate = ViewBag.StartDate_CustomerReport, EndDate = ViewBag.EndDate_CustomerReport, Customer_ID = ViewBag.Customer_ID_CustomerReport, page })

, X.PagedList.Mvc.Core.Common.PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
{
    HttpMethod = "get",
    UpdateTargetId = "CustomerReportSearch"
})
      )}
        </div>
    </div>

</div>

