@using DAL
@using DAL.Models
@model DAL.oClasses.oReports
@using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
@{
    Layout = null;
}

<!DOCTYPE HTML>
<HTML>
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.PageTitle</title>
    <meta name="keywords" content="DearlerSol | Dealers Management System " />
    <meta name="description" content="Vehicle Management System | Dealer Management System | Dealer ERP ">
    <meta name="author" content="DealerSol.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />












    <style>
        .moneycol {
            text-align: right;
        }

        .controlheight {
            height: 1px;
            border: 1px solid #d3d3d3;
            margin: 0px;
        }

            .controlheight table th, .table td {
                padding: 5px;
            }

        .SumHeading {
            background-color: #d3d3d3;
            text-align: left;
            font-weight: bold;
            font-size: 16px
        }

        .ColHeading {
            background-color: #d3d3d3;
            font-size: 18px;
            text-align: center
        }

        .CompanyTitle {
            font-size: 21px;
            padding-bottom: 20px;
        }

        .BLReport {
            font-size: 20px;
            padding-bottom: 15px;
        }

        .StratEnd {
            font-size: 15px;
            padding-top: 20px;
            padding-left: 5px;
        }

        .saleVale {
            background-color: #d3d3d3;
            padding-right: 20px;
        }

        .Total {
            background-color: #d3d3d3;
        }
    </style>


</head>

<BODY>


    <div class="row">
        <div class="col">
            <section>
                <header>
                    <div class="row form-inline">

                        @*<div class="col-md-12">

            <h5 style="color:black;">
                @Configuration.GetSection("AppSettings").GetSection("CompanyName").Value

            </h5>
            <p style="color:black;">
                Phone No:


            </p>
        </div>*@
                        @*FARZAIB*@
                        <div class="col-md-6 ">
                            <div class="text-center">
                                @if (@TempData["StartBL"] != null && @TempData["EndBL"] != null)
                                {
                                    <h5 class="StratEnd text-right"> From: @TempData["StartBL"] till: @TempData["EndBL"]</h5>
                                }
                                <h4 class="text-left" style="position:absolute; top:10%; left: 1.5%;">@Configuration.GetSection("AppSettings").GetSection("CompanyName").Value.ToString()</h4>
                                <h3>BL Report</h3>

                            </div>
                        </div>
                        @*<div class="col-md-12" style="text-align:center">
                            <h2 class="CompanyTitle" style="text-align:left"><b><u>GULFLINE MOTORS</u></b></h2>
                            <h4 class="BLReport" style="float: right"><b>BL Report</b></h4>

                            @if (@TempData["StartBL"] != null && @TempData["EndBL"] != null)
                            {
                                <h5 class="StratEnd" style="float: left"> From: @TempData["StartBL"] till: @TempData["EndBL"]</h5>
                            }

                        </div>*@


                    </div>
                    @*<div class="row form-group">
                            <div class="col-xs-12">
                                <h6 style="text-align:center">From   - To   </h6>
                            </div>
                        </div>*@
                </header>
                <div>
                    <table class="table table-bordered" @*id="datatable-default"*@>
                        <thead>
                            <tr class="ColHeading">


                                <th>Date</th>
                                <th>BLNO Ref </th>
                                <th> Chassis </th>
                                <th> Make </th>
                                <th> Model </th>
                                <th> Year </th>
                                <th> BL Expense </th>
                                <th> Total Expense </th>
                                <th> Total Cost </th>

                            </tr>
                        </thead>
                        <tbody>


                            @if (Model.BLReportPrint != null)
                            {


                                foreach (BLReport item in Model.BLReportPrint)
                                {

                            <tr>


                                <td>@Html.DisplayFor(modelItem => item.Date) </td>
                                <td>@Html.DisplayFor(modelItem => item.BLNO_Ref)</td>
                                <td>@Html.DisplayFor(modelItem => item.Chassis_no)</td>
                                <td>@Html.DisplayFor(modelItem => item.make)</td>
                                <td>@Html.DisplayFor(modelItem => item.model_description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                                <td>@Html.DisplayFor(modelItem => item.Bl_Exp)</td>
                                <td>@Html.DisplayFor(modelItem => item.Total_Expense)</td>
                                <td>@Html.DisplayFor(modelItem => item.Total_Cost)</td>

                            </tr>
                                }
                            }


                            




                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</BODY>
</HTML>