@using DAL
@using DAL.Models
@model DAL.oClasses.OAccounts
@using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
@{
    Layout = null;
    var StartDate = @Context.Request.Query["StartDate"];
    var EndDate = @Context.Request.Query["EndDate"];
}

<!DOCTYPE HTML>
<HTML>
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.PageTitle</title>
    <meta name="keywords" content="DearlerSol | Dealers Management System " />
    <meta name="description" content="Vehicle Management System | Dealer Management System | Dealer ERP ">
    <meta name="author" content="DealerSol.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />












    <style>
        .moneycol {
            text-align: right;
        }

        .controlheight {
            height: 1px;
            border: 1px solid #d3d3d3;
            margin: 0px;
        }

            .controlheight table th, .table td {
                padding: 5px;
            }

        .SumHeading {
            background-color: #d3d3d3;
            text-align: left;
            font-weight: bold;
            font-size: 16px
        }

        .ColHeading {
            background-color: #d3d3d3;
            font-size: 18px;
            text-align: center
        }
    </style>


</head>

<BODY>


    <div class="row">
        <div class="col">
            <section>
                <header>
                    <div class="row form-inline">

                        @*<div class="col-md-12">

            <h5 style="color:black;">
                @Configuration.GetSection("AppSettings").GetSection("CompanyName").Value

            </h5>
            <p style="color:black;">
                Phone No:


            </p>
        </div>*@
                        @* Farzaib *@
                        <div class="col-md-6">
                            <p class="h6 text-right"><b>From</b> @StartDate  <b>Till</b> @EndDate</p>
                            <div class="text-center">
                                <h4 class="text-left" style="position:absolute; top:50%; left: 1.5%;">@Configuration.GetSection("AppSettings").GetSection("CompanyName").Value.ToString()</h4>
                                <h3>Payment List</h3>
                            </div>



                        </div>
                        @*<div class="col-md-12" style="text-align:center">

            <h3 style="color:black;">
                Payment List
                <br />
            </h3>
            <p><b>From</b> @StartDate   <b>Till</b> @EndDate</p>

        </div>*@


                    </div>
                    @*<div class="row form-group">
                            <div class="col-xs-12">
                                <h6 style="text-align:center">From   - To   </h6>
                            </div>
                        </div>*@
                </header>
                <div>
                    <table class="table table-bordered" @*id="datatable-default"*@>
                        <thead>
                            <tr class="ColHeading">





                                <th>Payment Ref</th>

                                <th>Date</th>
                                <th>Paid To</th>
                                <th>Explanation</th>
                                <th>Total</th>





                            </tr>
                        </thead>
                        <tbody>


                            @if (Model.paymentMasterListIPaged1 != null)
                            {
                                ViewBag.Total = 0;

                                foreach (pa_PaymentMaster_DAL item in Model.paymentMasterListIPaged1)
                                {

                                    double Total = Convert.ToDouble(string.IsNullOrEmpty(item.Total_Amount) == true ? "0" : item.Total_Amount);
                                    ViewBag.Total = Convert.ToDouble(ViewBag.Total) + Total;
                                    <tr>

                                        <TD class="controlheight">@item.PaymentMaster_ref</TD>
                                        <TD class="controlheight text-nowrap">@item.Date</TD>
                                        <TD class="controlheight">@item.Party_ID_Name</TD>
                                        <TD class="controlheight">@item.Explanation</TD>
                                        <TD class="controlheight moneycol">@item.Total_Amount</TD>





                                    </tr>
                                }
                            }

                            <TR>
                                <TD class="SumHeading">Total</TD>
                                <TD></TD>
                                <TD></TD>
                                <TD></TD>
                                <TD style="font-weight:bold" class="controlheight moneycol">@ViewBag.Total</TD>

                            </TR>



                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</BODY>
</HTML>