

@using DAL
@using DAL.Models
@model DAL.oClasses.OSales
@using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
@{ Layout = null; }

<!DOCTYPE HTML>
<HTML>
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.PageTitle</title>
    <meta name="keywords" content="DearlerSol | Dealers Management System " />
    <meta name="description" content="Vehicle Management System | Dealer Management System | Dealer ERP ">
    <meta name="author" content="DealerSol.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />












    <style>
        .moneycol {
            text-align: right;
        }

        .controlheight {
            height: 1px;
            border: 1px solid #d3d3d3;
            margin: 0px;
        }

            .controlheight table th, .table td {
                padding: 5px;
            }

        .SumHeading {
            background-color: #d3d3d3;
            text-align: left;
            font-weight: bold;
            font-size: 16px
        }

        .ColHeading {
            background-color: #d3d3d3;
            font-size: 18px;
            text-align: center
        }
    </style>


</head>

<BODY>


    <div class="row">
        <div class="col">
            <section>
                <header>
                    <div class="row form-inline">
                        @* Farzaib *@
                        <div class="col-md-6 ">
                            <div class="text-center">
                                <h4 class="text-left" style="position:absolute; top:15%; left: 1.5%;">@Configuration.GetSection("AppSettings").GetSection("CompanyName").Value.ToString()</h4>
                                <h3>Sale Invoice List</h3>
                            </div>
                        </div>

                        @*<div class="col-md-12">

            <h5 style="color:black;">
                @Configuration.GetSection("AppSettings").GetSection("CompanyName").Value

            </h5>
            <p style="color:black;">
                Phone No:


            </p>
        </div>*@
                        @*<div class="col-md-12" style="text-align:center">

            <h3 style="color:black;">
                Sale Invoice List

            </h3>

        </div>*@


                    </div>
                    @*<div class="row form-group">
                            <div class="col-xs-12">
                                <h6 style="text-align:center">From   - To   </h6>
                            </div>
                        </div>*@
                </header>
                <div>
                    <table class="table table-bordered" @*id="datatable-default"*@>
                        <thead>
                            <tr class="ColHeading">





                                <th>Sale Ref</th>

                                <th>Sale Date</th>
                                <th>Customer Name</th>
                                <th>Total Amount</th>
                                <th>Paid</th>
                                <th>Bal Due</th>
                                <th>Status</th>





                            </tr>
                        </thead>
                        <tbody>


                            @if (Model.SalesMasterIPagedListnew != null)
                            {


                                foreach (pa_SalesMaster_DAL item in Model.SalesMasterIPagedListnew)
                                {

                                    //double Total = Convert.ToDouble(string.IsNullOrEmpty(item.Total_Amount) == true ? "0" : item.Total_Amount);
                                    //ViewBag.Total = Convert.ToDouble(ViewBag.Total) + Total;
                                    <tr>

                                        <TD class="controlheight">@item.SaleRef</TD>
                                        <TD class="controlheight text-nowrap">@item.SaleDate</TD>
                                        <TD class="controlheight">@item.Customer_Name</TD>
                                        <TD class="controlheight moneycol">@item.Total_Amt</TD>
                                        <TD class="controlheight moneycol">@item.Paid_amt</TD>
                                        <TD class="controlheight moneycol">@item.Bal_due</TD>
                                        @if (item.ApprovalStatus == "2")
                                        {

                                            <TD class="controlheight">@(item.SaleStatus)<br /><span style="font-size:12px"> (Approved)</span></TD>
                                        }
                                        else
                                        {
                                            <TD class="controlheight">@(item.SaleStatus)<br /><span style="font-size:12px"> (Pending)</span></TD>
                                        }





                                    </tr>
                                }
                            }

                            @if (Model.SalesMasterListTOTALnew != null)
                            {
                                foreach (pa_SalesMaster_DAL item in Model.SalesMasterListTOTALnew)
                                {
                                    //double Total = Convert.ToDouble(string.IsNullOrEmpty(item.Total_Master_Amount) == true ? "0" : item.Total_Master_Amount);
                                    //ViewBag.Total = Total;
                                    //double TotalPaid = Convert.ToDouble(string.IsNullOrEmpty(item.Total_Paid) == true ? "0" : item.Total_Paid);
                                    //ViewBag.TotalPaid = TotalPaid;
                                    //double TotalBalance = Convert.ToDouble(string.IsNullOrEmpty(item.Total_Bal_Due) == true ? "0" : item.Total_Bal_Due);
                                    //ViewBag.TotalBalance = TotalBalance;

                                    <TR>
                                        <TD class="SumHeading">Total</TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD style="font-weight:bold" class="controlheight moneycol">@item.Total_Master_Amount</TD>
                                        <TD style="font-weight:bold" class="controlheight moneycol">@item.Total_Paid</TD>
                                        <TD style="font-weight:bold" class="controlheight moneycol">@item.Total_Bal_Due</TD>
                                        <TD></TD>
                                    </TR>

                                }
                            }

                            @*<TR>
                                <TD class="SumHeading">Total</TD>
                                <TD></TD>
                                <TD></TD>
                                <TD style="font-weight:bold" class="controlheight moneycol">@ViewBag.Total</TD>
                                <TD style="font-weight:bold" class="controlheight moneycol">@ViewBag.TotalPaid</TD>
                                <TD style="font-weight:bold" class="controlheight moneycol">@ViewBag.TotalBalance</TD>
                                <TD></TD>
                            </TR>*@



                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</BODY>
</HTML>