@using DAL
@using DAL.Models
@model DAL.oClasses.oReports
@using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
@{
    Layout = null;
    ViewBag.CompanyName = Configuration.GetSection("AppSettings").GetSection("CompanyName").Value;

}

<!DOCTYPE HTML>
<HTML>
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.PageTitle</title>
    <meta name="keywords" content="DearlerSol | Dealers Management System " />
    <meta name="description" content="Vehicle Management System | Dealer Management System | Dealer ERP ">
    <meta name="author" content="DealerSol.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />












    <style>
        .moneycol {
            text-align: right;
        }

        .controlheight {
            height: 1px;
            border: 1px solid #d3d3d3;
            margin: 0px;
        }

            .controlheight table th, .table td {
                padding: 5px;
            }

        .SumHeading {
            background-color: #d3d3d3;
            text-align: left;
            font-weight: bold;
            font-size: 16px
        }

        .ColHeading {
            background-color: #d3d3d3;
            font-size: 18px;
            text-align: center
        }

        .CompanyTitle {
            font-size: 21px;
            padding-bottom: 20px;
        }

        .PurchaseReport {
            font-size: 20px;
            padding-bottom: 15px;
        }

        .StratEnd {
            font-size: 15px;
            padding-top: 20px;
            padding-left: 5px;
        }

        .saleVale {
            background-color: #d3d3d3;
            padding-right: 20px;
        }

        .Total {
            background-color: #d3d3d3;
        }
    </style>


</head>

<BODY>


    <div class="row">
        <div class="col">
            <section>
                <header>
                    <div class="row form-inline">
                        @* Farzaib *@
                        <div class="col-md-6 ">
                            <div class="text-center">
                                @if (@TempData["StartPur"] != null && @TempData["EndPur"] != null)
                                {
                                    <h5 class="StratEnd text-right"> From: @TempData["StartPur"] till: @TempData["StartPur"]</h5>
                                }
                                <h3 class="text-left" style="position:absolute; top:15%; left: 1.5%;">@Configuration.GetSection("AppSettings").GetSection("CompanyName").Value.ToString()</h3>
                                <h3>VAT IN Report</h3>

                            </div>
                        </div>
                        @*<div class="col-md-12">

            <h5 style="color:black;">
                @Configuration.GetSection("AppSettings").GetSection("CompanyName").Value

            </h5>
            <p style="color:black;">
                Phone No:


            </p>
        </div>*@
                        @*<div class="col-md-12" style="text-align:center">
            <h2 class="CompanyTitle" style="text-align:left"><b><u>@ViewBag.CompanyName</u></b></h2>
            <h4 class="PurchaseReport" style="float: right"><b>VAT IN Report</b></h4>

            @if (@TempData["StartPur"] != null && @TempData["EndPur"] != null)
            {
                <h5 class="StratEnd" style="float: left"> From: @TempData["StartPur"] till: @TempData["StartPur"]</h5>
            }

        </div>*@


                    </div>
                 
                </header>
                <div>
                    <table class="table table-bordered" @*id="datatable-default"*@>
                        <thead>
                            <tr class="ColHeading">

                                <th>Date</></th>
                                <th>Ref</th>
                                <th>Amount</th>
                                <th>PartyName</th>
                                <th>TransType</th>
                                <th>VATRate</th>
                                <th>Collected</th>
                                <th>Return</th>

                            </tr>
                        </thead>
                        <tbody>


                            @if (Model.VAT_INReportPrint != null)
                            {


                                foreach (pa_VAT item in Model.VAT_INReportPrint)
                                {
                                    <tr class="gradeX odd" role="row">

                                        <td>@Html.DisplayFor(modelItem => item.Date) </td>
                                        <td>@Html.DisplayFor(modelItem => item.Ref)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Value) </td>
                                        <td>@Html.DisplayFor(modelItem => item.Party_Name) </td>

                                        <td>@Html.DisplayFor(modelItem => item.TransType) </td>

                                        <td>@Html.DisplayFor(modelItem => item.VAT_Rate) </td>
                                        <td>@Html.DisplayFor(modelItem => item.Collected) </td>
                                        <td>@Html.DisplayFor(modelItem => item.Return) </td>



                                    </tr>

                                }
                            }







                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</BODY>
</HTML>