@using DAL
@using DAL.Models
@model DAL.oClasses.oReports
@using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
@{
    Layout = null;
}

<!DOCTYPE HTML>
<HTML>
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.PageTitle</title>
    <meta name="keywords" content="DearlerSol | Dealers Management System " />
    <meta name="description" content="Vehicle Management System | Dealer Management System | Dealer ERP ">
    <meta name="author" content="DealerSol.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />






    <style>
        .moneycol {
            text-align: right;
        }

        .controlheight {
            height: 1px;
            border: 1px solid #d3d3d3;
            margin: 0px;
        }

            .controlheight table th, .table td {
                padding: 5px;
            }

        .SumHeading {
            background-color: #d3d3d3;
            text-align: left;
            font-weight: bold;
            font-size: 16px
        }

        .ColHeading {
            background-color: #d3d3d3;
            font-size: 18px;
            text-align: center
        }
    </style>


</head>

<BODY>


    <div class="row">
        <div class="col">
            <section>
                <header>
                    <div class="row form-inline">
                        @* Farzaib *@
                        <div class="col-md-6 ">
                            <div class="text-center">
                                <h4 class="text-left" style="position:absolute; top:15%; left: 1.5%;">@Configuration.GetSection("AppSettings").GetSection("CompanyName").Value.ToString()</h4>
                                <h3>Vendor Report By Chassis</h3>
                            </div>
                        </div>
                        @*<div class="col-md-12">

            <h5 style="color:black;">
                @Configuration.GetSection("AppSettings").GetSection("CompanyName").Value

            </h5>
            <p style="color:black;">
                Phone No:


            </p>
        </div>*@
                        @*<div class="col-md-12" style="text-align:center">

            <h3 style="color:black;">
                Vendor Report by Chassis

            </h3>

        </div>*@


                    </div>
                    @*<div class="row form-group">
                            <div class="col-xs-12">
                                <h6 style="text-align:center">From   - To   </h6>
                            </div>
                        </div>*@
                </header>
                <div>
                    <table class="table table-bordered" @*id="datatable-default"*@>
                        <thead>
                            <tr class="ColHeading">



                                <th>Date</></th>
                                <th>Ref</></th>
                                <th>Vendor</th>
                                <th>Chassis</th>
                                <th>Price</th>
                                <th>Paid</th>
                                <th>Balance</th>
                            </tr>



                            
                        </thead>
                        <tbody>

                            @if (Model.VendorReport_byChassis != null)
                            {


                                foreach (StockReport item in Model.VendorReport_byChassis)
                                {
                                    <tr>


                                        <TD class="controlheight  text-nowra">@item.PurchaseDate</TD>
                                        <TD class="controlheight">@item.PurchaseRef</TD>
                                        <TD class="controlheight">@item.Vendor_Name</TD>
                                        <TD class="controlheight">@item.Chassis_No</TD>
                                        <TD class="controlheight moneycol">@item.TotalPrice</TD>
                                        <TD class="controlheight moneycol">@item.Paid</TD>
                                        <TD class="controlheight moneycol">@item.Balance</TD>


                                    </tr>
                                }
                            }


                            @if (Model.VendorReport_byChassis_TTL != null)
                            {


                                foreach (StockReport item in Model.VendorReport_byChassis_TTL)
                                {
                                    <tr>

                                        <td class="SumHeading">Total</td>
                                        <td class="controlheight"></td>
                                        <td class="controlheight"></td>
                                        <td class="controlheight"></td>
                                        <td class="controlheight moneycol"><b>@item.TotalPrice</b> </td>
                                        <td class="controlheight moneycol"><b>@item.Paid</b> </td>
                                        <td class="controlheight moneycol"><b>@item.Balance </b> </td>



                                    </tr>
                                }
                            }




                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</BODY>
</HTML>