
@using DAL
@using DAL.Models
@model DAL.oClasses.oReports
@using X.PagedList.Mvc.Core; @*//import this so we get our HTML Helper*@
@using X.PagedList;  @*//import this so we can cast our list to IPagedList*@

@{ ViewData["Title"] = "VendorReport";
    Layout = "~/Views/Shared/_LayoutTablePages.cshtml"; }

<header class="page-header">
    <h2>@ViewBag.SectionHeaderTitle </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@ViewBag.Home_Dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </li>

            <li><a><span>@ViewBag.BreadCumController</span></a></li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span>@ViewBag.SectionSub_HeaderTitle</span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>


<div class="row">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
<div class="col-lg-12">
    @if (TempData["Success"] != null)
    {
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
</div>}

    @if (TempData["Error"] != null)
    {
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
</div>}
</div>}


</div>



<div class="row" style="padding-top:1px;">
    <div class="col">
        <section class="card">

            <header class="card-header">


                <div class="row">
                    <div class="col-lg-12">
                        <section class="card">
                            <div class="card-body">

                                <form method="get" data-ajax="true" data-ajax-complete="myCompleteSearch" data-ajax-success="mySuccessSearch" data-ajax-failure="myFailureSearch"
                                      data-ajax-begin="myBeginSearch" asp-area="" asp-controller="Report" asp-action="VendorReport_Search" data-ajax-loading="">
   
                                    <div class="row form-group">
                                        <div class="col-lg-3">
                                            <div class="form-group">

                                                <label>Start Date </label>

                                                <div class="input-group date form_date col-md-13" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    <input id='StartDate' name="StartDate" data-plugin-datepicker class="form-control" value="" autocomplete="off" size="16" type="text">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>End Date</label>

                                                <div class="input-group date form_date col-md-13" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    <input id='EndDate' name="EndDate" data-plugin-datepicker class="form-control" autocomplete="off" value="" size="16" type="text">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label>Vendor</label>




                                                <select class="form-control select2" id="VendorID" name="VendorID" asp-items="@(new SelectList( ViewBag.AllVendors,"Partner_ID","PartnerName",Model.VendorLedgerMasterObj.vendor_ID))">
                                                    <option>Select Vendor</option>

                                                </select>


                                            </div>
                                        </div>




                                        <div class="col-lg-4">




                                            <div class="form-group">
                                                <label class="col-form-label" for="Search"> &nbsp; </label>
                                                <br />
                                                <button type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-primary">Search&nbsp;<i class="fas fa-search"></i></button>
                                                @*<input type="button" class="mb-1 mt-1 mr-1 btn btn-sm btn-danger" onclick="ResetSearch();" value="Reset">*@
                                                <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info" href="" id="print-btn">Print &nbsp;<i class="fas fa-print"></i></a>
                                                <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-success" href="" id="export-btn">Export &nbsp;<i class="fas fa-file-excel"></i></a>

                                            </div>


                                        </div>

                                    </div>

                                </form>
                            </div>
                        </section>
                    </div>
                </div>



            </header>
            <div class="card-body" id="VendorReportSearch">

                @if (Model.Ledger_TTL != null)
                {


                    foreach (pa_tblLedgers item in Model.Ledger_TTL)
                    {
    <b>
        <label class="col-form-label" style="float:right;font-family:sans-serif;font-size:15px;color:black"> Opening Balance:  @item.Opening_Balance</label>
    </b>}
}

                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>



                            <th> Date</th>
                            <th>Debit </th>
                            <th> Credit </th>
                            <th> Description </th>
                            <th> Chassis </th>
                            <th> PartyName </th>
                            <th> Ref# </th>





                        </tr>
                    </thead>


                    <tbody>

                        @if (Model.LedgerPagedList != null)
                        {


                            foreach (pa_tblLedgers item in Model.LedgerPagedList)
                            {






            <tr class="gradeX odd" role="row">




                <td>@Html.DisplayFor(modelItem => item.Date) </td>
                <td>@Html.DisplayFor(modelItem => item.Debit)</td>
                <td>@Html.DisplayFor(modelItem => item.Credit) </td>
                <td>@Html.DisplayFor(modelItem => item.Description) </td>

                <td>@Html.DisplayFor(modelItem => item.Chassis_No) </td>

                <td>@Html.DisplayFor(modelItem => item.PartyName) </td>

                <td><a href="@item.Link" onclick="btndisable();">@Html.DisplayFor(modelItem => item.trans_ref)</a></td>


            </tr>
}
    }

                    </tbody>

                    <tfoot>
                        @if (Model.Ledger_TTL != null)
                        {


                            foreach (pa_tblLedgers item in Model.Ledger_TTL)
                            {

            <tr role="row">
                <th>Total</th>

                <th>@item.TotalDebit</th>
                <th>@item.TotalCredit</th>
                <th> </th>
                <th>Closing Balance</th>
                <th>
                    @item.Closing_Balance
                </th>
                <th></th>


            </tr>
}
    }
                    </tfoot>


                </table>
                <div class="invoice-summary">

                    <div class="row">

                        <div class="col-lg-6 col-md-6">

                        </div>

                        <div class="col-lg-6 col-md-6 justify-content-end text-right">
                            @if (Model.LedgerPagedList.Count() != 0)
                            {

                @Html.PagedListPager(Model.LedgerPagedList, page => Url.Action("VendorReport_Search", "Report", new { StartDate = ViewBag.StartDate_VendorReport, EndDate = ViewBag.EndDate_VendorReport, VendorID = ViewBag.VendorID_VendorReport, page })

     , X.PagedList.Mvc.Core.Common.PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
     {
         HttpMethod = "get",
         UpdateTargetId = "VendorReportSearch"
     })
                           )}
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>

        $(function () {
            $(".select2").select2({
                theme: "bootstrap",

            });
        });


    </script>
    <script>

        function myBeginSearch() {
            $("#LoaderImage").css("visibility", "visible");
        }

        function mySuccessSearch(data) {

            debugger
            if (data.message == undefined) {

                $('#VendorReportSearch').html(data);


            } else {
                alert(data.message);

            }


        }

        function myFailureSearch() {

            alert("Failured occured. Please try again!");
            $("#LoaderImage").css("visibility", "hidden");
        }

        function myCompleteSearch() {
            $("#LoaderImage").css("visibility", "hidden");

        }


    </script>

    <script>


        function ResetSearch() {

            $("#StartDate").val('');
            $("#EndDate").val('');
            $("#AccountID").val('');
            $("#TransRef").val('');
        }

        $(document).ready(function(){
    $("#print-btn").click(function(event){
    event.preventDefault();

        var win = window.open("@Url.Action("VendorReport_Print", "Report")" + "?StartDate=" + $("#StartDate").val() + "&EndDate=" + $("#EndDate").val() + "&VendorID=" + $("#VendorID").val(), "_blank");
    win.focus();
    });
    })
     $(document).ready(function(){
    $("#export-btn").click(function(event){
    event.preventDefault();
        window.location.href = "@Url.Action("VendorReport_Excel", "Report")" + "?StartDate=" + $("#StartDate").val() + "&EndDate=" + $("#EndDate").val() + "&VendorID=" + $("#VendorID").val();
    });
    })
    </script>




}