@using DAL
@using DAL.Models
@using X.PagedList.Mvc.Core; @*//import this so we get our HTML Helper*@
@using X.PagedList;  @*//import this so we can cast our list to IPagedList *@
@model DAL.oClasses.OSales

@if (Model.PaperAfterSalesMaster_jpMasterList != null)
{
    foreach (PaperAfterSalesMaster_DAL item in Model.PaperAfterSalesMaster_jpMasterList)
    {





<tr>

    <td>
        @Html.DisplayFor(modelItem => item.paperRef)
    </td>
    <td> @Html.DisplayFor(modelItem => item.DateCreated)</td>
    <td>
        @Html.DisplayFor(modelItem => item.DateSubmission)
    </td>

    <td>@Html.DisplayFor(modelItem => item.DateValid)</td>
    <td>@Html.DisplayFor(modelItem => item.Remarks)</td>


    <td> <a asp-controller="Sales" asp-action="PaperAfterSalesMaster_jp" asp-route-papers_ID="@item.papers_ID">View</a></td>


</tr>}
}