


@using DAL
@using DAL.Models
@model DAL.oClasses.OSales



<div class="modal-header" style="background: #f6f6f6;">


    <h4 class="modal-title">Delivery Order Details</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body" style="overflow-y: auto;">
    <form method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-success="mySuccessAuctionDetail" data-ajax-failure="myFailureAuctionDetail"
          asp-area="" id="FormInsertPaymentDetail">
        <section class="card">

            <div class="card-body">




                <div class="row form-group">

                    <div class="col-lg-12">

                        <table class="table table-responsive-md table-bordered mb-0 mt-2">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Item</th>
                                    <th style="width:200px">Description</th>
                                    <th style="width:250px">Qty</th>
                                    <th style="width:250px">Balance</th>
                                    <th style="width:50px">Return Qty</th>

                                    <th style="width:10px">SalePrice</th>



                                    <th style="width:10px">Total Amount</th>



                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.SaleDetailList != null)
                                {
                                    string value = "txtItem_ID";
                                    string value1 = "txtitem_Description";
                                    string value2 = "txtReturnQty";
                                    string value3 = "txtUOM";
                                    string value4 = "txtUnitPrice";

                                    string value7 = "txtLoc_ID";
                                    string value8 = "txtVAT_Rate";
                                    string value9 = "txtVAT_Exp";

                                    string value12 = "txtTTLAmount";

                                    string value14 = "txtSaleMaster_ID";
                                    string value15 = "txtBalanceQty";

                                    int counter = 0;
                                    foreach (pa_SalesDetails item in Model.SaleDetailList)
                                    {

                                        counter++;
                                        <tr>

                                            <td>
                                                <input type="checkbox" id="@counter" onchange="CalculateSumAmountCheck()" name="@item.SalesDetails_ID">
                                                <input id="@value14@item.SalesDetails_ID" name="SaleMaster_ID" type="hidden" value="@item.SaleMaster_ID" />

                                            </td>



                                            <td>
                                                @item.ItemCode
                                                <input type="hidden" id="@value@item.SalesDetails_ID" name="Item_ID" value="@item.Item_ID">


                                            </td>
                                            <td>
                                                <input type="text" style="border:none" id="@value1@item.SalesDetails_ID" name="item_Description" value="@item.ItemDesc" readonly>


                                            </td>
                                            <td>
                                                Sale : @item.SaleQty
                                                <br />
                                                Return : @item.ReturnQty
                                            </td>
                                            <td>
                                                <input style="border:none;width:40px" type="text" id="@value15@item.SalesDetails_ID" name="Quantity" value=" @item.Quantity" readonly>x&nbsp;&nbsp;<input style="border: none; width: 40px" type="text" id="@value3@item.SalesDetails_ID" name="UOM" value="@item.UM_ID" readonly>
                                            </td>
                                            <td>
                                                <input type="text" style="width: 100px" id="@value2@item.SalesDetails_ID" onblur="CalculateSumAmount()" name="ReturnQty" value="0">


                                            </td>

                                            <td>
                                                <input type="number" style="border: none; width: 100px" id="@value4@item.SalesDetails_ID" name="Unit_Price" value="@item.Unit_Price" readonly>
                                            </td>

                                            <td>
                                                <input type="number" style="border: none; width: 100px" id="@value12@item.SalesDetails_ID" name="TTLAmount" value="0" readonly>
                                                <input type="hidden" style="border:none" id="@value9@item.SalesDetails_ID" name="VAT_Exp" value="0">
                                                <input type="hidden" id="@value8@item.SalesDetails_ID" name="VAT_Rate" value="@item.VATRate">



                                                <input type="hidden" id="@value7@item.SalesDetails_ID" name="location_ID" value="@item.Location_ID">

                                            </td>

                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>

                    </div>


                </div>





            </div>



        </section>



    </form>

</div>
<div class="modal-footer">
    <button type="button" onclick="SaveForm()" class="btn btn-sm btn-primary">Add</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
</div>
