@using DAL
@using DAL.Models
@model DAL.oClasses.OSales



<table class="table table-responsive-md table-bordered mb-0">
    <thead>
        <tr>
            <th>Edit/Delete</th>
            <th>Chassis</th>
            <th>Make</th>
            <th>Model</th>

            <th>Color</th>
            <th>Price</th>

            <th><a style="color: #00A1F2;" class="CheckAllAnchor" onclick="CheckAllCheckBox();">Select All</a></th>

        </tr>
    </thead>
    <tbody>



        @if (Model.SalesDetailList != null)
        {
            ViewBag.Grand_Amount = "0";
            ViewBag.Grand_VATExp = "0";
            ViewBag.Grand_TotalAmount = "0";
            ViewBag.Total_Amt_inWords = "";

            foreach (pa_SalesDetails item in Model.SalesDetailList)
            {
                ViewBag.Grand_Amount = item.Grand_Amount;
                ViewBag.Grand_VATExp = item.Grand_VATExp;
                ViewBag.Grand_TotalAmount = item.Grand_TotalAmount;
                ViewBag.Total_Amt_inWords = item.Total_Amt_inWords;
                ViewBag.Discount = item.Discount;
<tr>


    <td>

        <a onclick="UpdateSalesBookingDetail('@item.SalesDetails_ID','@item.Chassis_No','@item.Unit_Price', '@item.VATRate', '@item.VATExp', '@item.Total_Amount', '@item.Discount', '@item.Make', '@item.ModelDesciption', '@item.Color',);" data-toggle="modal" data-target="#UdpateSaleDetailModal"><img style="width: 20px;" src="~/Img/Icons/edit.png" /></a>
        <a onclick="DeleteSalesDetail(@item.SalesDetails_ID);" data-toggle="modal" data-target="#DeleteSalesDetailModal"><img style="width: 20px;" src="~/Img/Icons/delete.png" /></a>

    </td>
    <td>@Html.DisplayFor(modelItem => item.Chassis_No)</td>
    <td>@Html.DisplayFor(modelItem => item.Make)</td>
    <td>@Html.DisplayFor(modelItem => item.ModelDesciption)</td>
    <td>@Html.DisplayFor(modelItem => item.Color)</td>
    <td>@Html.DisplayFor(modelItem => item.Unit_Price)</td>
    <td>
        <div class="checkbox">
            <label>

                <input type="checkbox" id="@item.Chassis_No" name="" value="@item.Chassis_No" class="TableSalesBookingDetail">

            </label>
        </div>
    </td>


</tr>}
            }



    </tbody>

</table>

<div class="invoice-summary">

    <div class="row">

        <div class="col-lg-7 col-md-7">
            <div class="form-group">
                <br />
                <label class="col-form-label" for="uu">Amounts</label>

                <input type="text" id="uu" name="uuu" class="form-control" value="@ViewBag.Total_Amt_inWords" readonly />


            </div>
        </div>

        <div class="col-lg-2 col-md-2">

        </div>

        <div class="col-lg-3 col-md-3 justify-content-end text-right">
            <table class="table h6 text-dark">
                <tbody>




                    <tr class="b-top-0">
                        <td colspan="2"> Sub Total:</td>
                        <td class="text-right" id="SubTotal">@ViewBag.Grand_Amount</td>
                    </tr>
                    <tr>
                        <td colspan="2">Discount:</td>
                        <td class="text-right" id="Discount_ch">@ViewBag.Discount</td>
                    </tr>
                    <tr>
                        <td colspan="2">VAT Charge:</td>
                        <td class="text-right" id="VAT_ChargeTotal">@ViewBag.Grand_VATExp</td>
                    </tr>


                    <tr class="h5">
                        <td colspan="2">Total Sale Value:</td>
                        <td class="text-right" id="Total_Payable">@ViewBag.Grand_TotalAmount</td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>

</div>