@using DAL
@using DAL.Models
@model DAL.oClasses.OSales
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{ //ViewData["Title"] = "SalesPerformaInvoice";
    Layout = "~/Views/Shared/_LayoutTablePages.cshtml";
    string PerformaReportName = "";
    PerformaReportName = Configuration.GetSection("AppSettings").GetSection("PerformaReportName").Value;
    string PerformaReportName2 = "";
    PerformaReportName2 = Configuration.GetSection("AppSettings").GetSection("PerformaReportName2").Value;

    }


@{ string Form_SalesMaster_ActionMethod = "";

    int? SaleMaster_ID = ViewBag.SaleMaster_ID;


    if (Model.SaleMasterObj != null && Model.SaleMasterObj.SaleMaster_ID > 0)
    {

        Form_SalesMaster_ActionMethod = "UpdateSalesPerformaMaster";


    }
    else
    {
        Form_SalesMaster_ActionMethod = "InsertSalesPerformaMaster";


    }


    //----total values
    ViewBag.Grand_Amount = "0";
    ViewBag.Grand_VATExp = "0";
    ViewBag.Grand_TotalAmount = "0";
    ViewBag.Total_Amt_inWords = "";

    string ApprovalVisibility = "";
    ApprovalVisibility = Configuration.GetSection("AppSettings").GetSection("ApprovalVisibility").Value;
    string CompanyCode = Configuration.GetSection("AppSettings").GetSection("CompanyReportFolderCode").Value;
    }






<header class="page-header">
    <h2>Sales</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li><a asp-area="" asp-controller="Sales" asp-action="SalesList"><span>Sales</span></a></li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span>Performa Invoice</span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>






<div class="row" id="SuccessErrorSection">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
<div class="col-lg-12">
    @if (TempData["Success"] != null)
    {
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
</div>}

    @if (TempData["Error"] != null)
    {
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
</div>}
</div>}


</div>

<!-- start: page -->
<section class="card">
    <div class="card-body">
        <div class="invoice">
            <header class="clearfix">
                <div class="row">
                    <div class="col-sm-6 mt-0">
                        <h2 class="h4 mt-0 mb-2 text-dark font-weight-bold">Performa Invoice</h2>

                    </div>

                    <div class="col-sm-6 mt-0 text-right">

                        @if (String.IsNullOrEmpty(Model.SaleMasterObj.SaleStatus))
                        {
            <h4 class=" mt-0 mb-2 text-dark"><b>Status:</b> <label>Pending</label></h4> }
        else
        {
<h4 class=" mt-0 mb-2 text-dark"><b>Status:</b> <label>@Model.SaleMasterObj.SaleStatus</label></h4>}


                    </div>


                </div>
            </header>

            <div class="row">
                <div class="col-lg-8">
                    @if (Model.SaleMasterObj.SaleMaster_ID != null)
                    {
                        if (Model.SaleMasterObj.SaleMaster_ID > 0)
                        {

                <button type="button" id="ButtonSaleMasterUpdate" class="btn-sm btn btn-success">Update &nbsp;<i class="fas fa-save"></i></button>

                                    <button type="button" class="btn-sm btn btn-primary">Edit  &nbsp;<i class="fas fa-edit"></i></button>


                                                        <button type="button" class="btn-sm btn btn-warning" data-toggle="modal" data-target="#ChangeStatusSalesModal" onclick="ChangeStatusSalesMaster('@Model.SaleMasterObj.SaleMaster_ID', '5');">Cancel &nbsp;<i class="fas fa-cross"></i></button>

                                                                            <button type="button" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#DeleteSalesMasterModal" onclick="DeleteSalesMaster('@Model.SaleMasterObj.SaleMaster_ID');">Delete &nbsp;<i class="fas fa-trash-alt"></i></button>
                                                                                                <button type="button" id="btnApprove" class="btn-sm btn btn btn-dark" @ApprovalVisibility data-toggle="modal" data-target="#ChangeStatusSalesModal_Performa" onclick="ChangeStatusSalesMaster_Performa('@Model.SaleMasterObj.SaleMaster_ID', '2');">Approve &nbsp;<i class="fa fa-check"></i></button>
                                                                                                                    if (CompanyCode == "GL")
                                                                                                                    {
                                                                                                                        if (Model.SaleMasterObj.ApprovedBy > 0)
                                                                                                                        {
                                                                                                <button type="button" class="btn-sm btn btn-info" id="print-btn">Print &nbsp;<i class="fas fa-print"></i></button> }
                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        <button type="button" class="btn-sm btn btn-info" id="print-btn">Print &nbsp;<i class="fas fa-print"></i></button>
                                                                                                                    }
                                                                                                <a asp-controller="Sales" asp-action="PerformaInvoiceList" class="btn-sm btn btn-default">List &nbsp;<i class="fas fa-list"></i></a> }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                            <button type="button" id="ButtonSaleMasterIssue" class="btn-sm btn btn-success">Issue &nbsp;<i class="fas fa-save"></i></button>

                                                                                            <button type="button" class="btn-sm btn btn-primary" disabled="disabled">Edit  &nbsp;<i class="fas fa-edit"></i></button>


                                                                                                            <button type="button" class="btn-sm btn btn-warning" disabled="disabled">Cancel &nbsp;<i class="fas fa-cross"></i></button>
                                                                                                                            <button type="button" class="btn-sm btn btn-danger" disabled="disabled">Delete &nbsp;<i class="fas fa-trash-alt"></i></button>
                                                                                                                                            <button type="button" class="btn-sm btn btn btn-dark" @ApprovalVisibility disabled="disabled">Approve &nbsp;<i class="fa fa-check"></i></button>
                                                                                                                                                            <button type="button" class="btn-sm btn btn-info" disabled="disabled">Print &nbsp;<i class="fas fa-print"></i></button>

                                                                                                                                                                            <a asp-controller="Sales" asp-action="PerformaInvoiceList" class="btn-sm btn btn-default">List &nbsp;<i class="fas fa-list"></i></a>}
                </div>

            </div>

            <div class="row">

                <div class="col">



                    <form method="post" asp-area="" asp-controller="Sales" asp-action="@Form_SalesMaster_ActionMethod" id="formSalesMaster">
                        @Html.AntiForgeryToken()

                        <section class="card">

                            <div class="card-body">



                                <div class="row form-group">
                                    <div class="col-lg-4">

                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Customer</label>
                                            <div class="col-sm-8">
                                                <select class="form-control select2" id="Customer_ID" name="Customer_ID" onchange="GetCustomerDetail()" asp-items="@(new SelectList(ViewBag.CustomerMaster,"Customer_ID","CustomerName", Model.SaleMasterObj.Customer_ID))" required>
                                                </select>
                                                <input type="hidden" id="SaleMaster_ID" name="SaleMaster_ID" value="@SaleMaster_ID" />
                                            </div>
                                        </div>
                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">Contact</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="Customer_Contact" name="Customer_Contact" value="@Model.SaleMasterObj.Customer_Contact" placeholder="Contact Number">
                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="Address" class="col-sm-4 col-form-label">Address</label>
                                            <div class="col-sm-8">
                                                @*<textarea class="form-control" rows="1" id="Invoice_address" name="Invoice_address" placeholder="">@Model.SaleMasterObj.Invoice_address</textarea>*@
                                                <input type="text" class="form-control" id="Invoice_address" name="Invoice_address" value="@Model.SaleMasterObj.Invoice_address" placeholder="Customer Address">
                                            </div>
                                        </div>
                                        <div class="row MasterForm">
                                            <label for="To" class="col-sm-4 col-form-label">CustomerTRN</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="CustomerTRN" name="CustomerTRN" value="@Model.SaleMasterObj.CustomerTRN" placeholder="Customer TRN">
                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="shipping_co_ID" class="col-sm-4 col-form-label">Shipping Co</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="shipping_co_ID" name="shipping_co_ID" asp-items="@(new SelectList( ViewBag.ShippingCompanies,"Partner_ID","PartnerName", Model.SaleMasterObj.shipping_co_ID))">
                                                    <option>Select Ship Co</option>

                                                </select>

                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="Showroom_ID" class="col-sm-4 col-form-label">Showroom</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="Showroom_ID" name="Showroom_ID" asp-items="@(new SelectList( ViewBag.ShowroomsList,"ShowRoom_ID","ShowRoomName", Model.SaleMasterObj.Showroom_ID))">
                                                    <option>Select Showroom</option>

                                                </select>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-4">
                                        <div class="row MasterForm">
                                            <label for="Seller_ID" class="col-sm-4 col-form-label">Seller</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="Seller_ID" name="Seller_ID" asp-items="@(new SelectList( ViewBag.SellerList,"Partner_ID","PartnerName", Model.SaleMasterObj.Seller_ID))">
                                                    <option>Select Seller</option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="row MasterForm">
                                            <label for="Agent_ID" class="col-sm-4 col-form-label">Agent</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="Agent_ID" name="Agent_ID" asp-items="@(new SelectList( ViewBag.AgentsList,"Partner_ID","PartnerName", Model.SaleMasterObj.Agent_ID))">
                                                    <option>Select Agent</option>

                                                </select>

                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="Agent_ID" class="col-sm-4 col-form-label">Port Exit</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="Port_of_Exit_ID" name="Port_of_Exit_ID" asp-items="@(new SelectList( ViewBag.PortOfExit,"PortOfExit_ID","PortOfExit", Model.SaleMasterObj.Port_of_Exit_ID))">
                                                    <option>Select Port</option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="row MasterForm">
                                            <label for="ExportTo_Destination_ID" class="col-sm-4 col-form-label">Destination</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ExportTo_Destination_ID" name="ExportTo_Destination_ID" asp-items="@(new SelectList( ViewBag.ExportDestinations,"Destinations_ID","Destinations", Model.SaleMasterObj.ExportTo_Destination_ID))">
                                                    <option>Select Agent</option>

                                                </select>

                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="ExporterCo_ID" class="col-sm-4 col-form-label">Export Co</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ExporterCo_ID" name="ExporterCo_ID" asp-items="@(new SelectList( ViewBag.ExportCompanies,"Partner_ID","PartnerName", Model.SaleMasterObj.ExporterCo_ID))">
                                                    <option>Select Export Co</option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="row MasterForm">
                                            <label for="Currency_ID" class="col-sm-4 col-form-label">Currency</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-5">

                                                        <select class="form-control" id="Currency_ID" name="Currency_ID"
                                                                asp-items="@(new SelectList( ViewBag.CurrencyList,"Currency_ID","Currency_ShortName",(Model.SaleMasterObj.Currency_ID == 0 ? ViewBag.Default_Currency_ID : Model.SaleMasterObj.Currency_ID)))">
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6" style="padding:0;">
                                                        <input type="number" id="Currency_Rate" name="Currency_Rate" step="any" value="@(Model.SaleMasterObj.Curr_Rate==null ? ViewBag.Default_Curr_Rate : Model.SaleMasterObj.Curr_Rate)" required class="form-control" placeholder="Rate">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 ">


                                        <div class="row MasterForm">
                                            <label for="PurchaseRef" class="col-sm-4 col-form-label">Ref No</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="SaleRef" name="SaleRef" value="@Model.SaleMasterObj.SaleRef" readonly>
                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="PurchaseDate" class="col-sm-4 col-form-label">Date</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    @if (!String.IsNullOrEmpty(Model.SaleMasterObj.SaleDate))
                                                    {
                                                        <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="SaleDate" name="SaleDate" value="@Model.SaleMasterObj.SaleDate" required> }
                                                    else
                                                    {
                                                        <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="SaleDate" name="SaleDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" required>}

                                                </div>
                                            </div>


                                        </div>



                                        <div class="row MasterForm">
                                            <label for="Sale_trans_type" class="col-sm-4 col-form-label">Sale Type</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" asp-for="@Model.SaleMasterObj.Sale_trans_type" id="Sale_trans_type" name="Sale_trans_type">
                                                    <option value="">Select Sale Type</option>
                                                    <option selected="selected" value="EXP">EXPORT</option>
                                                    <option value="IMP">IMPORT</option>
                                                    <option value="TRF">TRANSFER</option>

                                                </select>

                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="Performa_Validity" class="col-sm-4 col-form-label">Valid Untill</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="Performa_Validity" name="Performa_Validity" value="@Model.SaleMasterObj.Performa_Validity" required>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row MasterForm">
                                            <label for="Bank_to_Transfer_payment_ID" class="col-sm-4 col-form-label">Payment Bank</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="Bank_to_Transfer_payment_ID" name="Bank_to_Transfer_payment_ID" asp-items="@(new SelectList( ViewBag.BasicBanksList,"Bank_ID","BankName", Model.SaleMasterObj.Bank_to_Transfer_payment_ID))">
                                                    <option>Select Bank</option>

                                                </select>

                                            </div>
                                        </div>                                     
                                                <div class="row MasterForm">
                                                    <label for="Bank_to_Transfer_payment_ID" class="col-sm-4 col-form-label">Print</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="Templete" name="Templete" >
                                                            
                                                            
                                                      
                                                            <option value="1">Default</option>
                                                            <option value="2">Templete 2</option>
                                                            <option value="3">Templete 3</option>


                                                        </select>

                                                    </div>
                                                </div>
                                                                             
                                    </div>


                                </div>


                            </div>




                        </section>
                    </form>

                </div>

            </div>

            <div class="row m-2">
                <div class="col-lg-6">
                    <h2 class="card-title" style="line-height:normal;">Performa Details </h2>
                </div>
                <div class="col-lg-6 text-right">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" id="btnPerforma" onclick="EnableDis()" data-target="#AddNewSaleDetailModal">Add New &nbsp;<i class="fas fa-plus"></i></button>


                </div>
            </div>

            <div id="SalesDetailSection">

                <table class="table table-responsive-md table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>Edit/Delete</th>
                            <th>Chassis</th>
                            <th>Make</th>
                            <th>Model</th>

                            <th>Color</th>
                            <th>Price</th>



                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.SalesDetailList != null)
                        {


                            foreach (pa_SalesDetails item in Model.SalesDetailList.Where(m => m.SaleInvoiceType == "ByChassis"))
                            {
                                ViewBag.Grand_Amount = item.Grand_Amount;
                                ViewBag.Grand_VATExp = item.Grand_VATExp;
                                ViewBag.Grand_TotalAmount = item.Grand_TotalAmount;
                                ViewBag.Total_Amt_inWords = item.Total_Amt_inWords;

            <tr>


                <td>

                    <a onclick="UpdateSalesDetailByChassis('@item.SalesDetails_ID', '@item.Chassis_No', '@item.Unit_Price' , '@item.VATRate', '@item.VATExp', '@item.Total_Amount'   ,'@item.Make', '@item.ModelDesciption');" data-toggle="modal" data-target="#UdpateSaleDetailByChassisModal"><img style="width: 20px;" src="~/Img/Icons/edit.png" /></a>
                    <a onclick="DeleteSalesDetail('@item.SalesDetails_ID', '@item.c_id');" data-toggle="modal" data-target="#DeleteSalesDetailModal"><img style="width: 20px;" src="~/Img/Icons/delete.png" /></a>

                </td>
                <td>@Html.DisplayFor(modelItem => item.Chassis_No)</td>
                <td>@Html.DisplayFor(modelItem => item.Make)</td>
                <td>@Html.DisplayFor(modelItem => item.ModelDesciption)</td>
                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                <td>@Html.DisplayFor(modelItem => item.Unit_Price)</td>



            </tr>
}
    }


                    </tbody>

                </table>
                <div class="row m-2">
                    <div class="col-lg-6">
                        <h2 class="card-title" style="line-height:normal;">Performa Specification </h2>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" id="btnSpecs" onclick="EnableDisSpecs()" data-target="#AddNewSaleDetailModal_Specs">Add New &nbsp;<i class="fas fa-plus"></i></button>


                    </div>
                </div>

                <table class="table table-responsive-md table-bordered mb-0 mt-3">
                    <thead>
                        <tr>
                            <th>Edit/Delete</th>
                            <th>Service Description</th>
                            <th>Price</th>



                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.SalesDetailList_Specs != null)
                        {


                            foreach (pa_SalesDetails item in Model.SalesDetailList_Specs.Where(m => m.SaleInvoiceType == "ByService"))
                            {
                                ViewBag.Grand_Amount = item.Grand_Amount;
                                ViewBag.Grand_VATExp = item.Grand_VATExp;
                                ViewBag.Grand_TotalAmount = item.Grand_TotalAmount;
                                ViewBag.Total_Amt_inWords = item.Total_Amt_inWords;
            <tr>
                <td>
                    <a onclick="UpdateSalesDetailByServices('@item.SalesDetails_ID', '@item.ItemDesc', '@item.Grand_UnitPrice', '@item.VATRate', '@item.VATExp', '@item.Total_Amount', '@item.Quantity');" data-toggle="modal" data-target="#UdpateSaleDetailByServicesModal"><img style="width: 20px;" src="~/Img/Icons/edit.png" /></a>
                    <a onclick="DeleteSalesDetail_Specs('@item.SalesDetails_ID');" data-toggle="modal" data-target="#DeleteSalesDetailModal_Specs"><img style="width: 20px;" src="~/Img/Icons/delete.png" /></a>

                </td>
                <td>@Html.DisplayFor(modelItem => item.ItemDesc)</td>
                <td>@Html.DisplayFor(modelItem => item.Total_Amount)</td>


            </tr>
}
    }

                    </tbody>

                </table>



                <div class="invoice-summary">

                    <div class="row">

                        <div class="col-lg-7 col-md-7">
                            <div class="form-group">
                                <br />
                                <label class="col-form-label" for="uu">Amounts</label>

                                <input type="text" id="uu" name="uuu" class="form-control" value="@ViewBag.Total_Amt_inWords" readonly />


                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2">

                        </div>

                        <div class="col-lg-3 col-md-3 justify-content-end text-right">
                            <table class="table h6 text-dark">
                                <tbody>

                                    <tr class="b-top-0">
                                        <td colspan="2"> Sub Total:</td>
                                        <td class="text-right" id="SubTotal">@ViewBag.Grand_Amount</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">VAT Charge:</td>
                                        <td class="text-right" id="VAT_ChargeTotal">@ViewBag.Grand_VATExp</td>
                                    </tr>


                                    <tr class="h5">
                                        <td colspan="2">Total Amount:</td>
                                        <td class="text-right" id="Total_Payable">@ViewBag.Grand_TotalAmount</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-sm-3"><span class="show-grid-block">Created at : <b>@Model.SaleMasterObj.Created_at </b></span></div>
                <div class="col-sm-3"><span class="show-grid-block">Created by :</span><b>@Model.SaleMasterObj.Created_by</b></div>
                <div class="col-sm-3"><span class="show-grid-block">Modified at :<b>@Model.SaleMasterObj.Modified_at </b></span></div>
                <div class="col-sm-3"><span class="show-grid-block">Modified by : <b>@Model.SaleMasterObj.Modified_by </b></span></div>
            </div>



        </div>


    </div>
</section>




<!-- Modal Insert Sale detail -->
<div class="modal fade bs-modal-sm" id="AddNewSaleDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Performa Invoice Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" data-ajax="true" data-ajax-success="mySuccessSalesDetail" data-ajax-failure="myFailureSalesDetail"
                  asp-area="" asp-controller="Sales" asp-action="InsertSalesPerformaDetail" data-ajax-loading="" id="FormInsertSalesDetail">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body">



                            <div class="row form-group">

                                @if (Model.SaleMasterObj.SaleMaster_ID != null)
                                {
                    <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="@Model.SaleMasterObj.SaleMaster_ID" /> }
                else

                {

    <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="0" />}

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="ServiceType">Type</label>
                                        <select class="form-control" id="SalesInvoiceType" name="SalesInvoiceType">
                                            <option value="ByChassis">By Chassis</option>


                                        </select>
                                    </div>
                                </div>



                                <div class="col-lg-4 col-md-4 ">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Chassis">Chassis*</label>
                                        <input type="text" id="Chassis" name="Chassis" onblur="ValidateChassis()" class="form-control" placeholder="Enter chassis" required />
                                        <label id="ChassisValidationMessage"></label>
                                    </div>
                                </div>









                                <div class="col-lg-4 col-md-4 ">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Make">Make</label>
                                        <input type="text" id="Make" name="Make" class="form-control" placeholder="Make" readonly />

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 ">
                                    <div class="form-group">
                                        <label class="col-form-label" for="ModelDesc">Model</label>
                                        <input type="text" id="ModelDesc" name="ModelDesc" class="form-control" placeholder="Model" readonly />

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 ">
                                    <div class="form-group">
                                        <label class="col-form-label" for="ModelYear">Year</label>
                                        <input type="text" id="ModelYear" name="ModelYear" class="form-control" placeholder="Year" readonly />

                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-4 ">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Color">Color</label>
                                        <input type="text" id="Color" name="Color" class="form-control" placeholder="Color" readonly />

                                    </div>
                                </div>







                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Unit_Price">Sales Price*</label>


                                        <input type="number" id="Unit_Price" name="Unit_Price" step="any" class="form-control" onblur="CalculateSumAmount()" placeholder="Sales Price" required />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Amount">VAT Rate</label>
                                        <select class="form-control" id="VATRate" name="VATRate" step="any" onchange="CalculateSumAmount()">
                                            <option value="0">0%</option>
                                            <option value="5">5%</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Amount">VAT Charges</label>
                                        <input type="number" id="VATExp" name="VATExp" class="form-control" step="any" placeholder="VAT Charges" readonly />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Total_Amount">Total Amount</label>
                                        <input type="number" id="Total_Amount" name="Total_Amount" class="form-control" step="any" readonly placeholder="Total Amount" />
                                    </div>
                                </div>




                            </div>




                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade bs-modal-sm" id="AddNewSaleDetailModal_Specs" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Performa Invoice Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" data-ajax="true" data-ajax-success="mySuccessSalesDetail_Specs" data-ajax-failure="myFailureSalesDetail"
                  asp-area="" asp-controller="Sales" asp-action="InsertSalesPerformaDetail_Specs" data-ajax-loading="" id="FormInsertSalesDetail_Specs">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body">



                            <div class="row form-group">

                                @if (Model.SaleMasterObj.SaleMaster_ID != null)
                                {
                    <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="@Model.SaleMasterObj.SaleMaster_ID" /> }
                else

                {

    <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="0" />}

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="ServiceType">Type</label>
                                        <select class="form-control" id="SalesInvoiceType" name="SalesInvoiceType">

                                            <option value="ByService">By Service</option>

                                        </select>
                                    </div>
                                </div>














                                <div class="col-lg-8 col-md-8">
                                    <div class="form-group">
                                        <label class="col-form-label" for="ItemDesc">Service Description*</label>
                                        <textarea class="form-control" rows="2" id="ItemDesc" name="ItemDesc" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Quantity">Quantity*</label>


                                        <input type="number" id="Quantity" name="Quantity" class="form-control" onblur="CalculateSumAmounts()" placeholder="Quantity" required />

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Unit_Price">Sales Price*</label>


                                        <input type="number" id="Unit_Prices" name="Unit_Price" step="any" class="form-control" onblur="CalculateSumAmounts()" placeholder="Sales Price" required />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Amount">VAT Rate</label>
                                        <select class="form-control" id="VATRates" name="VATRate" step="any" onchange="CalculateSumAmounts()">
                                            <option value="0">0%</option>
                                            <option value="5">5%</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Amount">VAT Charges</label>
                                        <input type="number" id="VATExps" name="VATExp" class="form-control" step="any" placeholder="VAT Charges" readonly />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Total_Amount">Total Amount</label>
                                        <input type="number" id="Total_Amounts" name="Total_Amount" class="form-control" step="any" readonly placeholder="Total Amount" />
                                    </div>
                                </div>




                            </div>




                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal Update Sale Invoice Detail By Chassis-->
<div class="modal fade bs-modal-lg" id="UdpateSaleDetailByChassisModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Sale Booking Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" data-ajax="true" data-ajax-success="mySuccessSalesInvoiceUpate" data-ajax-failure="myFailureSalesInvoiceUpdate"
                  asp-area="" asp-controller="Sales" asp-action="UpdateSalesPerformaDetailByChassis" data-ajax-loading="">

                <section class="card">

                    <div class="card-body">



                        <div class="row form-group">

                            @if (Model.SaleMasterObj.SaleMaster_ID != null)
                            {
                <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="@Model.SaleMasterObj.SaleMaster_ID" /> }
            else

            {

<input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="0" />}
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="item_ID">Type</label>

                                    <input type="text" id="SalesInvoiceTypeUpdateChassis" name="SalesInvoiceType" class="form-control" value="ByChassis" placeholder="By Chassis" readonly />
                                    <input type="hidden" id="SalesDetails_ID_Udpate_chassis" name="SalesDetails_ID" />
                                </div>
                            </div>



                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="item_ID">Chassis*</label>
                                    <input type="text" id="ChassisUdpate_chassis" name="Chassis" class="form-control" placeholder="Enter chassis" required />

                                </div>
                            </div>



                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="item_ID">Make</label>
                                    <input type="text" id="MakeUpdate_chassis" name="Make" class="form-control" placeholder="Make" readonly />

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="item_ID">Model</label>
                                    <input type="text" id="Modelupdate_chassis" name="Model" class="form-control" placeholder="Model" readonly />

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="Year">Year</label>
                                    <input type="text" id="YearUpdte_chassis" name="Year" class="form-control" placeholder="Year" readonly />

                                </div>
                            </div>


                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="item_ID">Color</label>
                                    <input type="text" id="ColorUpdate_chassis" name="Color" class="form-control" placeholder="Color" readonly />

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="Quantity">Sales Price*</label>


                                    <input type="number" id="Unit_PriceUpdate_chassis" name="Unit_Price" step="any" onblur="CalculateSumAmountUpdate()" class="form-control" placeholder="Sales Price" required />
                                </div>
                            </div>


                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="Amount">VAT Rate</label>
                                    <select class="form-control" id="VATRateUpdate_chassis" name="VATRate" step="any" onchange="CalculateSumAmountUpdate()">
                                        <option value="0">0%</option>
                                        <option value="5">5%</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="Amount">VAT Charges</label>
                                    <input type="number" id="VATExpUpdate_chassis" name="VATExp" class="form-control" step="any" placeholder="VAT Charges" readonly />
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="Total_Amount">Total Amount</label>
                                    <input type="number" id="Total_AmountUpdate_chassis" name="Total_Amount" class="form-control" step="any" readonly placeholder="Total Amount" />
                                </div>
                            </div>



                        </div>




                    </div>



                </section>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Modal Update Sale detail Invoice by service-->
<div class="modal fade bs-modal-lg" id="UdpateSaleDetailByServicesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Sale Invoice Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" data-ajax="true" data-ajax-success="mySuccessSalesInvoiceUpate" data-ajax-failure="myFailureSalesInvoiceUpdate"
                  asp-area="" asp-controller="Sales" asp-action="UpdateSalesPerformaDetailByService" data-ajax-loading="">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body">



                            <div class="row form-group">

                                @if (Model.SaleMasterObj.SaleMaster_ID != null)
                                {
                    <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="@Model.SaleMasterObj.SaleMaster_ID" /> }
                else

                {

    <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="0" />}
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="ServiceType">Type</label>
                                        <input type="text" id="SalesInvoiceTypeUpdateService" name="SalesInvoiceType" class="form-control" value="ByService" placeholder="By Service" readonly />
                                        <input type="hidden" id="SalesDetails_ID_Udpate_service" name="SalesDetails_ID" />
                                    </div>
                                </div>





                                <div class="col-lg-8 col-md-8">
                                    <div class="form-group">
                                        <label class="col-form-label" for="ItemDesc">Service Description*</label>
                                        <textarea class="form-control" rows="2" id="ItemDescUdpate_service" name="ItemDesc" placeholder="" required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Quantity">Quantity*</label>


                                        <input type="number" id="Quantity_service" name="Quantity" class="form-control" onblur="CalculateSumAmountUpdateService()" placeholder="Quantity" required />

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Unit_Price">Sales Price*</label>


                                        <input type="number" id="Unit_PriceUpdate_service" name="Unit_Price" onblur="CalculateSumAmountUpdateService()" class="form-control" placeholder="Sales Price" required />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Amount">VAT Rate</label>
                                        <select class="form-control" id="VATRateUpdate_service" name="VATRate" onchange="CalculateSumAmountUpdateService()" step="any" onchange="CalculateSumAmount()">
                                            <option value="0">0%</option>
                                            <option value="5">5%</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Amount">VAT Charges</label>
                                        <input type="number" id="VATExpUpdate_service" name="VATExp" class="form-control" step="any" placeholder="VAT Charges" readonly />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Total_Amount">Total Amount</label>
                                        <input type="text" id="Total_AmountUpdate_service" name="Total_Amount" class="form-control" step="any" readonly placeholder="Total Amount" />
                                    </div>
                                </div>


                            </div>




                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>



<!-- Modal Delete sales master invoice -->
<div class="modal fade bs-modal-lg" id="DeleteSalesMasterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Delete Perforama Invoice</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="Sales" asp-action="DeleteSalesPerformaMaster">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to delete this record?</h3>

                                        <input type="hidden" id="SaleMaster_ID_Delete" name="SaleMaster_ID" />

                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>



<!-- Modal Change sales Master Status -->
<div class="modal fade bs-modal-lg" id="ChangeStatusSalesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Change Sales Master Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="Sales" asp-action="ChangeSalesBookingMasterStatus" data-ajax-loading="">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to change status of this record?</h3>

                                        <input type="hidden" id="SaleMaster_IDStatus" name="SaleMaster_ID" />
                                        <input type="hidden" id="Sales_Status_ID" name="Status_ID" />
                                        <input type="hidden" id="Trans_Type" name="Trans_Type" value="Sales_Invoice" />
                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="ChangeStatusSalesModal_Performa" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Change Performa Master Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="Sales" asp-action="ChangeSalesBookingMasterStatus_Performa" data-ajax-loading="">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to change status of this record?</h3>

                                     
                                        <input type="hidden" id="SaleMaster_IDStatus_P" name="SaleMaster_ID" />
                                        <input type="hidden" id="Sales_Status_ID_P" name="Status_ID" />
                                        <input type="hidden" id="Trans_Type_P" name="Trans_Type" value="Sales_PerformaInvoice" />
                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal Delete sales Detail -->
<div class="modal fade bs-modal-lg" id="DeleteSalesDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Delete Sales Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" data-ajax="true" data-ajax-success="SuccessDeleteChassis" data-ajax-failure="FailureDeleteChassis" asp-area="" asp-controller="Sales" asp-action="DeleteSalesPerformaDetail">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to delete this record?</h3>
                                        @if (Model.SaleMasterObj.SaleMaster_ID != null)
                                        {
                            <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="@Model.SaleMasterObj.SaleMaster_ID" /> }
                        else

                        {

            <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="0" />}
                                        <input type="hidden" id="SalesDetails_ID_Delete" name="SalesDetails_ID" />

                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal Delete sales Detail -->
<div class="modal fade bs-modal-lg" id="DeleteSalesDetailModal_Specs" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Delete Sales Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" data-ajax="true" data-ajax-success="SuccessDeleteSpecs" data-ajax-failure="FailureDeleteSpecs" asp-controller="Sales" asp-action="DeleteSalesPerformaDetail_Specs">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body" style="box-shadow:none;">


                            <div class="row form-group">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <h3>Do you want to delete this record?</h3>
                                        @if (Model.SaleMasterObj.SaleMaster_ID != null)
                                        {
                            <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="@Model.SaleMasterObj.SaleMaster_ID" /> }
                        else

                        {

            <input id="hdSaleMaster_ID" name="hdSaleMaster_ID" type="hidden" value="0" />}
                                        <input type="hidden" id="SalesDetails_ID_Delete_S" name="SalesDetails_ID" />

                                    </div>
                                </div>


                            </div>


                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal Insert Customer -->
<div class="modal fade bs-modal-lg" id="AddCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #f6f6f6;">


                <h4 class="modal-title">Add Customer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form method="post" asp-area="" asp-controller="BasicData" asp-action="AddCustomersMaster" enctype="multipart/form-data">

                <div class="modal-body">

                    <section class="card">

                        <div class="card-body">



                            <div class="row form-group">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Customer_Ref">Customer Ref</label>

                                        <input type="text" class="form-control" id="Customer_Ref" disabled="disabled" name="Customer_Ref">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="CustomerName">Customer Name<span style="color: red; font-size: 15px; margin-left: 4px;">*</span></label>

                                        <input type="text" class="form-control" id="CustomerName" name="CustomerName" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">Contact Number</label>

                                        <input type="text" class="form-control" id="ContactNumber" name="ContactNumber">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">Mobile No</label>

                                        <input type="text" class="form-control" id="MobileNo" name="MobileNo">
                                    </div>
                                </div>



                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">Contact Name</label>

                                        <input type="text" class="form-control" id="ContactName" name="ContactName">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">Contact Address</label>

                                        <input type="text" class="form-control" id="ContactAddress" name="ContactAddress">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">Email </label>

                                        <input type="email" class="form-control" id="Email" name="Email">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">Fax </label>

                                        <input type="text" class="form-control" id="Fax" name="Fax">
                                    </div>
                                </div>



                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">EmiratesID</label>

                                        <input type="text" class="form-control" id="EmiratesID" name="EmiratesID">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">TradeLicenseNo</label>

                                        <input type="text" class="form-control" id="TradeLicenseNo" name="TradeLicenseNo">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">TRN </label>

                                        <input type="text" class="form-control" id="TRN" name="TRN">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">Customer Category</label>

                                        <select class="form-control" id="CustomerCat_ID" name="CustomerCat_ID" asp-items="@(new SelectList( ViewBag.CustomerCategoryList,"CustomerCat_ID","CustomerCatName"))">
                                        </select>
                                    </div>
                                </div>



                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Project_ID">Remarks</label>

                                        <textarea type="text" class="form-control" id="Remarks" name="Remarks"></textarea>
                                    </div>
                                </div>

                            </div>



                        </div>



                    </section>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>




@section Scripts {



    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


    <script>

        $(function () {
            $(".select2").select2({
                theme: "bootstrap",

            });
        });


    </script>



    <script>


        //---this function will hit after success submission of insert sales detail form
        function mySuccessSalesDetail(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Saved Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                //$('#AddNewPurchaseModal').modal('hide');
                $('#SalesDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();

                //reset form after success
                $('#FormInsertSalesDetail').trigger("reset");


            } else {
                alert(data.message);

            }


        }
        function mySuccessSalesDetail_Specs(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Saved Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                //$('#AddNewPurchaseModal').modal('hide');
                $('#SalesDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();

                //reset form after success
                $('#FormInsertSalesDetail_Specs').trigger("reset");


            } else {
                alert(data.message);

            }


        }
        //---this function will hit when error occured in submission of sales detail
        function myFailureSalesDetail() {

            alert("Failured occured. Please try again!");
        }

        //---this function will hit after success submission of update purchase detail form
        function mySuccessSalesInvoiceUpate(data) {

            var SuccessDiv = "<div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Updated Successfully! <a href ='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {

                $('#UdpateSaleDetailByChassisModal').modal('hide');
                $('#UdpateSaleDetailByServicesModal').modal('hide');
                $('#SalesDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();



            } else {
                alert(data.message);

            }


        }

        function myFailureSalesInvoiceUpdate() {

            alert("Failured occured. Please try again!");
        }


        //---delete sales invoice master
        function DeleteSalesMaster(SaleMaster_ID) {
            debugger
            $("#SaleMaster_ID_Delete").val(SaleMaster_ID);

        }

        //---after successfull deleting of purchase detail
        function SuccessDeleteChassis(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Deleted Successfully! <a href='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {
                //alert("Saved Successfully!");
                $('#DeleteSalesDetailModal').modal('hide');
                $('#SalesDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();;



            } else {
                alert(data.message);
                $('#DeleteSalesDetailModal').modal('hide');
            }


        }

        //---after failure deleting of purchase detail
        function FailureDeleteChassis() {

            alert("Failured occured. Please try again!");
            $('#DeleteSalesDetailModal').modal('hide');
        }


        //---after successfull deleting of purchase detail
        function SuccessDeleteSpecs(data) {

            var SuccessDiv = " <div class='col-lg-12'><div class='alert alert-info'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><strong>Success!</strong> Deleted Successfully! <a href='' class='alert-link'></a></div></div>";
            debugger
            if (data.message == undefined) {
                //alert("Saved Successfully!");
                $('#DeleteSalesDetailModal_Specs').modal('hide');
                $('#SalesDetailSection').html(data);
                $('#SuccessErrorSection').html(SuccessDiv).show();;



            } else {
                alert(data.message);
                $('#DeleteSalesDetailModal_Specs').modal('hide');
            }


        }

        //---after failure deleting of purchase detail
        function FailureDeleteSpecs() {

            alert("Failured occured. Please try again!");
            $('#DeleteSalesDetailModal_Specs').modal('hide');
        }




        //---Delete sales detail
        function DeleteSalesDetail(SalesDetails_ID,c_id) {
            debugger
            $("#SalesDetails_ID_Delete").val(SalesDetails_ID,c_id);

        }
        //---Delete sales detail
        function DeleteSalesDetail_Specs(SalesDetails_ID) {
            debugger
            $("#SalesDetails_ID_Delete_S").val(SalesDetails_ID);

        }
        //---change sales master status
        function ChangeStatusSalesMaster(SaleMaster_ID, Status) {
            debugger
            $("#SaleMaster_IDStatus").val(SaleMaster_ID);
            $("#Sales_Status_ID").val(Status);

        }
        function ChangeStatusSalesMaster_Performa(SaleMaster_ID, Status) {
            debugger
            $("#SaleMaster_IDStatus_P").val(SaleMaster_ID);
            $("#Sales_Status_ID_P").val(Status);

        }

        $(document).ready(function () {
            $("#ButtonSaleMasterIssue").click(function () {
                $("#formSalesMaster").submit();
            });
        });

        $(document).ready(function () {
            $("#ButtonSaleMasterUpdate").click(function () {
                $("#formSalesMaster").submit();
            });
        });


    </script>

    <script>
        function DisplayDescription(SelectBy) {
            debugger
            var SelectedValue = SelectBy.value;
            if (SelectedValue == 'ByService') {
                $(".ServiceDescription").show();
                $(".ByChassisClass").hide();
                $("#Chassis").prop('required', false);
                $("#ItemDesc").prop('required', true);

            } else {
                $(".ServiceDescription").hide();
                $(".ByChassisClass").show();
                $("#Chassis").prop('required', true);
                $("#ItemDesc").prop('required', false);

            }

        }

        function DisplayDescriptionUpdate(SelectBy) {
            var SelectedValue = SelectBy.value;
            if (SelectedValue == 'Service') {
                $(".ServiceDescriptionUpdate").show();
                $(".ByChassisClassUpdate").hide();

            } else {
                $(".ServiceDescriptionUpdate").hide();
                $(".ByChassisClassUpdate").show();

            }

        }


        //This function is for validation of chassis no
        function ValidateChassis() {

            //debugger


            var Chassis = document.getElementById("Chassis").value.toString();

            $.ajax({

                type: "Get",
                url: "/Accounts/ValidateChassisNo",
                data: { //Passing data
                    ChassisNo: Chassis


                },
                datatype: "json",
                success: function (response) {
                    debugger
                    if (response.message == 'Chassis is valid') {
                        //debugger
                        $("#ChassisValidationMessage").text(response.message);
                        $("#ChassisValidationMessage").css("color", "green");
                        $("#Chassis").val(response.chassis_No);
                        $("#Make").val(response.make);
                        $("#ModelDesc").val(response.modelDesciption);
                        $("#ModelYear").val(response.modelYear);
                        $("#Color").val(response.color);
                    } else {
                        $("#ChassisValidationMessage").text(response.message);
                        $("#ChassisValidationMessage").css("color", "red");
                        $("#Chassis").val("");
                        $("#Make").val("");
                        $("#ModelDesc").val("");
                        $("#ModelYear").val("");
                        $("#Color").val("");
                    }

                }
            })
        }

        function GetCustomerDetail() {

            //debugger


            var Customer = document.getElementById("Customer_ID").value.toString();

            if (Customer == -1) {
                $('#AddCustomerModal').modal('show');
            }
            else {
                $.ajax({

                    type: "Get",
                    url: "/Sales/GetCustomerDetail",
                    data: { //Passing data
                        Customer_ID: Customer
                    },
                    datatype: "json",
                    success: function (response) {
                        debugger


                        $("#Customer_Contact").val(response.contactNumber);
                        $("#Invoice_address").val(response.contactAddress);
                        $("#CustomerTRN").val(response.trn);





                    }
                })
            }

        }

        //----Assigning values to sales invoice detail form of chassis type
        function UpdateSalesDetailByChassis(SalesDetails_ID, Chassis_No, Unit_Price, VATRate, VATExp, Total_Amount , Make, ModelDesciption) {

            debugger

            $("#SalesDetails_ID_Udpate_chassis").val(SalesDetails_ID);
            $("#ChassisUdpate_chassis").val(Chassis_No);
            $("#Unit_PriceUpdate_chassis").val(Unit_Price);

            $("#VATRateUpdate_chassis").val(VATRate);
            $("#VATExpUpdate_chassis").val(VATExp);
            $("#Total_AmountUpdate_chassis").val(Total_Amount);

            $("#MakeUpdate_chassis").val(Make);
            $("#Modelupdate_chassis").val(ModelDesciption);



        }

        //----Assigning values to sales invoice detail form of service type
        function UpdateSalesDetailByServices(SalesDetails_ID, ItemDesc, Unit_Price, VATRate, VATExp, Total_Amount,Quantity) {

            debugger

            $("#SalesDetails_ID_Udpate_service").val(SalesDetails_ID);
            $("#ItemDescUdpate_service").val(ItemDesc);
            $("#Unit_PriceUpdate_service").val(Unit_Price);
            $("#Quantity_service").val(Quantity);

            $("#VATRateUpdate_service").val(VATRate);
            $("#VATExpUpdate_service").val(VATExp);
            $("#Total_AmountUpdate_service").val(Total_Amount);


        }

        //---function for calculating amounts in the puchase detail pop up form insert

        function CalculateSumAmount() {
            debugger

            var Unit_Price = 0;

            var VATRate = 5;

            var VATExp = 0;

            var Total_Amount = 0;



            Unit_Price = document.getElementById("Unit_Price").value;

            VATRate = document.getElementById("VATRate").value;

            VATExp = document.getElementById("VATExp").value;

            Total_Amount = document.getElementById("Total_Amount").value;


            if (!Unit_Price) {
                Unit_Price = 0;
            }

            if (!VATRate) {
                VATRate = 5;

            }
            if (!VATExp) {
                VATExp = 0;
            }
            if (!Total_Amount) {
                Total_Amount = 1;
            }



            //---calculate sum vat exp
            VATExp = VATRate * Unit_Price / 100;
            $("#VATExp").val(VATExp);

            Total_Amount = (Number(Unit_Price) + Number(VATExp));
            $("#Total_Amount").val(Total_Amount);



        }
        function CalculateSumAmounts() {
            debugger
            var Quantity = 0;
            var Unit_Price = 0;

            var VATRate = 5;

            var VATExp = 0;

            var Total_Amount = 0;
            var resultTotalAmount = 0;
            if (document.getElementById("Quantity") != null) {
                Quantity = document.getElementById("Quantity").value;
            } else {
                Quantity = 1;
            }

            Unit_Price = document.getElementById("Unit_Prices").value;

            VATRate = document.getElementById("VATRates").value;

            VATExp = document.getElementById("VATExps").value;

            Total_Amount = document.getElementById("Total_Amounts").value;

            if (!Quantity) {
                Quantity = 0;
            }
            if (!Unit_Price) {
                Unit_Price = 0;
            }

            if (!VATRate) {
                VATRate = 5;

            }
            if (!VATExp) {
                VATExp = 0;
            }
            if (!Total_Amount) {
                Total_Amount = 1;
            }


            resultTotalAmount = Quantity * Unit_Price;
            //---calculate sum vat exp
            VATExp = VATRate * resultTotalAmount / 100;
            $("#VATExps").val(VATExp);

            Total_Amount = (Number(resultTotalAmount) + Number(VATExp));
            $("#Total_Amounts").val(Total_Amount);



        }
        function EnableDis() {
            $('#btnSpecs').prop('disabled', true);
            $('#btnPerforma').prop('disabled', false);



        }
        function EnableDisSpecs() {
            $('#btnPerforma').prop('disabled', true);
            $('#btnSpecs').prop('disabled', false);



        }
        //---function for calculating amounts in the puchase detail pop up form insert
        function CalculateSumAmountUpdate() {
            debugger

            var Unit_PriceUpdate_chassis = 0;

            var VATRateUpdate_chassis = 5;

            var VATExpUpdate_chassis = 0;

            var Total_AmountUpdate_chassis = 0;



            Unit_PriceUpdate_chassis = document.getElementById("Unit_PriceUpdate_chassis").value;

            VATRateUpdate_chassis = document.getElementById("VATRateUpdate_chassis").value;

            VATExpUpdate_chassis = document.getElementById("VATExpUpdate_chassis").value;

            Total_AmountUpdate_chassis = document.getElementById("Total_AmountUpdate_chassis").value;


            if (!Unit_PriceUpdate_chassis) {
                Unit_PriceUpdate = 0;
            }

            if (!VATRateUpdate_chassis) {
                VATRateUpdate_chassis = 5;

            }
            if (!VATExpUpdate_chassis) {
                VATExpUpdate_chassis = 0;
            }
            if (!Total_AmountUpdate_chassis) {
                Total_AmountUpdate_chassis = 1;
            }



            //---calculate sum vat exp
            VATExpUpdate_chassis = VATRateUpdate_chassis * Unit_PriceUpdate_chassis / 100;
            $("#VATExpUpdate_chassis").val(VATExpUpdate_chassis);

            Total_AmountUpdate_chassis = (Number(Unit_PriceUpdate_chassis) + Number(VATExpUpdate_chassis));
            $("#Total_AmountUpdate_chassis").val(Total_AmountUpdate_chassis);



        }

        //---function for calculating amounts in the puchase detail pop up form insert
        function CalculateSumAmountUpdateService() {
            debugger
            var Quantity_service = 0;
            var Unit_PriceUpdate_service = 0;

            var VATRateUpdate_service = 5;

            var VATExpUpdate_service = 0;

            var Total_AmountUpdate_service = 0;
            var resultTotalOtherAmount = 0;

            Quantity_service = document.getElementById("Quantity_service").value;
            Unit_PriceUpdate_service = document.getElementById("Unit_PriceUpdate_service").value;

            VATRateUpdate_service = document.getElementById("VATRateUpdate_service").value;

            VATExpUpdate_service = document.getElementById("VATExpUpdate_service").value;

            Total_AmountUpdate_service = document.getElementById("Total_AmountUpdate_service").value;

            if (!Quantity_service) {
                Quantity_service = 0;
            }
            if (!Unit_PriceUpdate_service) {
                Unit_PriceUpdate = 0;
            }

            if (!VATRateUpdate_service) {
                VATRateUpdate_service = 5;

            }
            if (!VATExpUpdate_service) {
                VATExpUpdate_service = 0;
            }
            if (!Total_AmountUpdate_service) {
                Total_AmountUpdate_service = 1;
            }


            resultTotalAmount = Quantity_service * Unit_PriceUpdate_service;
            //---calculate sum vat exp
            VATExpUpdate_service = VATRateUpdate_service * resultTotalAmount / 100;
            $("#VATExpUpdate_service").val(VATExpUpdate_service);

            Total_AmountUpdate_service = (Number(resultTotalAmount) + Number(VATExpUpdate_service));
            $("#Total_AmountUpdate_service").val(Total_AmountUpdate_service);



        }

        @*$(document).ready(function(){
    $("#print-btn").click(function(event){
        event.preventDefault();

        var win = window.open("@Url.Action(PerformaReportName, "Report")" + "?SaleMaster_ID=" + $("#SaleMaster_ID").val() ,   "_blank");
        win.focus();
    });
        })*@

        $(document).ready(function () {

            $("#print-btn").click(function (event) {

                event.preventDefault();

                   var temp = $('#Templete').val();
                   console.log(temp);
                   if (temp == 2) {
                       var win = window.open("@Url.Action(PerformaReportName2, "Report")" + "?SaleMaster_ID=" + $("#SaleMaster_ID").val(), "_blank");
                       win.focus();
                   }
                   if (temp == 3) {
                       var win = window.open("@Url.Action("Performa_Print3", "Report")" + "?SaleMaster_ID=" + $("#SaleMaster_ID").val(), "_blank");
                       win.focus();
                   }
                   else {
                       var win = window.open("@Url.Action(PerformaReportName, "Report")" + "?SaleMaster_ID=" + $("#SaleMaster_ID").val() ,   "_blank");
                       win.focus();
                   }

               });
        })






    </script>

}