
@using DAL
@using DAL.Models
@using X.PagedList.Mvc.Core; @*//import this so we get our HTML Helper*@
@using X.PagedList;  @*//import this so we can cast our list to IPagedList *@
@model DAL.oClasses.OSales



@{ ViewData["Title"] = "AfterSalesList";
                Layout = "~/Views/Shared/_LayoutTablePages.cshtml"; }

<header class="page-header">
    <h2>@ViewBag.SectionHeaderTitle</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@ViewBag.Home_Dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </li>

            <li><a><span>@ViewBag.BreadCumController</span></a></li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span>@ViewBag.SectionSub_HeaderTitle</span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>


<div class="row">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
<div class="col-lg-12">
    @if (TempData["Success"] != null)
    {
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
</div>}

    @if (TempData["Error"] != null)
    {
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
</div>}
</div>}


</div>



<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">

                @*<div class="row">
                        <div class="col-lg-6">
                            <h2 class="card-title" style="line-height:normal;"> Purchase Return List </h2>
                        </div>


                    </div>*@
                <div class="row">
                    <div class="col-lg-12">
                        <section class="card">
                            <div class="card-body">

                                <form method="get" data-ajax="true" data-ajax-complete="myCompleteSearch" data-ajax-success="mySuccessSearch" data-ajax-failure="myFailureSearch"
                                      data-ajax-begin="myBeginSearch" asp-area="" asp-controller="Sales" asp-action="GetPaperAfterSalesMasterList_BySearchFitlers" data-ajax-loading="">

                                    <div class="row form-group">

                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="Project_ID">Ref</label>
                                                <input type="text" id="SaleRef" name="SaleRef" class="form-control" placeholder="Ref" />

                                            </div>
                                        </div>


                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="From_Date">Start Date</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="StartDate" name="StartDate">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="To_Date">End Date</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="EndDate" name="EndDate">

                                                </div>
                                            </div>

                                        </div>

                                       
                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="Color">Chassis No</label>
                                                <input type="text" id="Chassis_No" name="Chassis_No" class="form-control" placeholder="Chassis No" />
                                            </div>
                                        </div>
                                  
                                    </div>

                                    <div class="row ">
                                        <div class="col-lg">

                                            <div class="form-group">
                                                <label class="col-form-label" for="Search"> &nbsp; </label>
                                                @*<br />*@
                                                <button type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info">Search&nbsp;<i class="fas fa-search"></i></button>
                                                <a class="mb-1 mt-1 mr-1 btn btn-sm btn-primary" asp-area="" asp-controller="Sales" asp-action="PaperAfterSalesMaster_jp">Add New&nbsp;<i class="fas fa-plus"></i></a>

                                                @*<a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info" href="" id="print-btn">Print &nbsp;<i class="fas fa-print"></i></a>
                    <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-success" href="" id="export-btn">Export &nbsp;<i class="fas fa-file-excel"></i></a>*@


                                            </div>
                                        </div>
                                    </div>





                                </form>
                            </div>
                        </section>
                    </div>
                </div>



            </header>
            <div class="card-body">

                <div class="invoice-summary mb-1">

                    <div class="row mb-1">

                        <div class="col-lg-6 col-md-6 mb-1">
                            <b>@ViewBag.RecordsPerPage</b> records per page
                        </div>

                        <div class="col-lg-6 col-md-6 mb-1 justify-content-end text-right">

                        </div>
                    </div>

                </div>

                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Ref</th>

           

                            <th>Date</th>
                            <th>Submission Date</th>
                            <th>Validity Date</th>
                
                            <th>Remarks</th>
                 
                            <th>View</th>




                        </tr>
                    </thead>
                    <tbody id="TablePaperAfterSalesMaster_jpListSearch">

                        @if (Model.PaperAfterSalesMaster_jpMasterList != null)
                        {
                            foreach (PaperAfterSalesMaster_DAL item in Model.PaperAfterSalesMaster_jpMasterList)
                            {

                              



            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.paperRef)
                </td>
                <td> @Html.DisplayFor(modelItem => item.DateCreated)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSubmission)
                </td>

                <td>@Html.DisplayFor(modelItem => item.DateValid)</td>
                <td>@Html.DisplayFor(modelItem => item.Remarks)</td>

          
                <td> <a asp-controller="Sales" asp-action="PaperAfterSalesMaster_jp" asp-route-papers_ID="@item.papers_ID">View</a></td>


            </tr>}
                        }

                    </tbody>


                </table>
                <div class="invoice-summary">

                    <div class="row">

                        <div class="col-lg-6 col-md-6">

                        </div>

                        <div class="col-lg-6 col-md-6 justify-content-end text-right">

                            @if (Model.PaperAfterSalesMaster_jpMasterList.Count() != 0)
                            {

                @Html.PagedListPager(Model.PaperAfterSalesMaster_jpMasterList, page => Url.Action("GetPaperAfterSalesMasterList_BySearchFitlers", "Sales", new {page })

, X.PagedList.Mvc.Core.Common.PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
{
HttpMethod = "get",
UpdateTargetId = "TablePaperAfterSalesMaster_jpListSearch"
})
                     )}
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


    <script>

        function myBeginSearch() {
            $("#LoaderImage").css("visibility", "visible");
        }

        function mySuccessSearch(data) {

            debugger
            if (data.message == undefined) {

                $('#TablePaperAfterSalesMaster_jpListSearch').html(data);


            } else {
                alert(data.message);

            }


        }

        function myFailureSearch() {

            alert("Failured occured. Please try again!");
            $("#LoaderImage").css("visibility", "hidden");
        }

        function myCompleteSearch() {
            $("#LoaderImage").css("visibility", "hidden");

        }


        $(document).ready(function(){
    $("#print-btn").click(function(event){
        event.preventDefault();

        var win = window.open("@Url.Action("GetPaperAfterSalesMaster_jpPrint", "Report")" + "?reportName=PaperAfterSalesMaster_jp_Report&PurchaseRef=" + $("#PurchaseRef").val() + "&Vendor_ID=" + $("#Vendor_ID").val() + "&From_Date=" + $("#From_Date").val() + "&To_Date=" + $("#To_Date").val() + "&Status_ID=" + $("#Status_ID").val() + "&c_ID=" + $("#c_ID").val() , "_blank");
        win.focus();
    });
        })
                $(document).ready(function(){
    $("#export-btn").click(function(event){
       event.preventDefault();
        window.location.href = "@Url.Action("GetPaperAfterSalesMaster_jpExcel", "Report")" + "?reportName=PaperAfterSalesMaster_jp_Report&PurchaseRef=" + $("#PurchaseRef").val() + "&Vendor_ID=" + $("#Vendor_ID").val() + "&From_Date=" + $("#From_Date").val() + "&To_Date=" + $("#To_Date").val() + "&Status_ID=" + $("#Status_ID").val() + "&c_ID=" + $("#c_ID").val();
    });


    </script>



}