@using DAL
@using DAL.Models
@using X.PagedList.Mvc.Core; @*//import this so we get our HTML Helper*@
@using X.PagedList;  @*//import this so we can cast our list to IPagedList *@
@model DAL.oClasses.OSales


@{ ViewData["Title"] = "Sales Summary list";
    Layout = "~/Views/Shared/_LayoutTablePages.cshtml"; }

<header class="page-header">
    <h2>Sales</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@ViewBag.Home_Dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </li>

            <li><a><span>@ViewBag.BreadCumController</span></a></li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span>Sales Summary List</span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>


<div class="row">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
<div class="col-lg-12">
    @if (TempData["Success"] != null)
    {
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
</div>}

    @if (TempData["Error"] != null)
    {
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
</div>}
</div>}


</div>

<!--Following 'LoaderImage' div is for showing ajax loader before ajax call-->
<div class="imageGIFLoader" id="LoaderImage">
    <img src="~/img/projects/ajax-loader.gif" class="img-responsive" style="width:65px; height:65px;" />
</div>

<div class="row" style="padding-top:1px;">
    <div class="col">
        <section class="card">
            <header class="card-header">

                <div class="row">


                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <section class="card">
                            <div class="card-body">

                                <form method="get" data-ajax="true" data-ajax-complete="myCompleteSearch" data-ajax-success="mySuccessSearch" data-ajax-failure="myFailureSearch"
                                      data-ajax-begin="myBeginSearch" asp-area="" asp-controller="Sales" asp-action="SalesSummaryByDateListListBySearchFilers" data-ajax-loading="">

                                    <div class="row form-group">



                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="col-form-label" for="From_Date">Start Date</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="StartDate" name="StartDate">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="col-form-label" for="To_Date">End Date</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="EndDate" name="EndDate">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="col-form-label" for="To_Date">&nbsp;</label>
                                                <div class="input-group">


                                                    <button type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info">Search&nbsp;<i class="fas fa-search"></i></button>

                                                </div>
                                            </div>

                                        </div>

                                    </div>





                                </form>
                            </div>
                        </section>
                    </div>
                </div>



            </header>
            <div class="card-body" id="SalesInvoiceListSearch">

                <div class="invoice-summary mb-1">

                    <div class="row mb-1">

                        <div class="col-lg-6 col-md-6 mb-1">
                            <b>@ViewBag.RecordsPerPage</b> records per page
                        </div>

                        <div class="col-lg-6 col-md-6 mb-1 justify-content-end text-right">

                        </div>
                    </div>

                </div>

                <table class="table table-bordered table-striped mb-0 mt-1" @*id="datatable-default"*@>
                    <thead>
                        <tr>





                            <th>Sale Date</th>

                            <th>Amount</th>
                            <th>Void</th>
                            <th>Discount</th>

                            <th>View</th>





                        </tr>
                    </thead>
                    <tbody>


                        @if (Model.SalesMasterByDateIPagedList != null)
                        {
                            foreach (pa_SalesMaster_DAL item in Model.SalesMasterByDateIPagedList)
                            {


            <tr>



                <td>@Html.DisplayFor(modelItem => item.SaleDate)</td>

                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td><a href="#" onclick="ShowVoidDetails('@item.SaleDate');">View Void Details</a> </td>
                <td><a href="#" onclick="ShowDiscountDetails('@item.SaleDate');">View Discount Details</a> </td>





                <td> <a href="/Sales/SalesInvoiceList_TRD?StartDate=@item.SaleDate&EndDate=@item.SaleDate&ItemId=0">View</a></td>






            </tr>}
                        }





                    </tbody>

                </table>

                <div class="invoice-summary">

                    <div class="row">

                        <div class="col-lg-6 col-md-6">

                        </div>
                        <div class="col-lg-6 col-md-6 justify-content-end text-right">
                            @if (Model.SalesMasterByDateIPagedList.Count() != 0)
                            {

                @Html.PagedListPager(Model.SalesMasterByDateIPagedList, page => Url.Action("SalesSummaryByDateListListBySearchFilers", "Sales", new { StartDate = ViewBag.StartDate_SaleInvoice, EndDate = ViewBag.EndDate_SaleInvoice, page })

               , X.PagedList.Mvc.Core.Common.PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
               {
                   HttpMethod = "get",
                   UpdateTargetId = "SalesInvoiceListSearch"
               })
                               )}

                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
</div>


<div class="modal fade bs-modal-lg" id="ShowVoidDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <!-- Following fields is for making a central Stock master id for attachments -->
        <input type="hidden" id="StockMasterMain" name="StockMasterMain" />

        <div class="modal-content" id="VoidDetailMaster">


        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="ShowDiscountDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <!-- Following fields is for making a central Stock master id for attachments -->
        <input type="hidden" id="StockMasterMain" name="StockMasterMain" />

        <div class="modal-content" id="DiscountDetailMaster">


        </div>
    </div>
</div>



@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>




    <script>

        function myBeginSearch() {
            $("#LoaderImage").css("visibility", "visible");
        }

        function mySuccessSearch(data) {

            debugger
            if (data.message == undefined) {

                $('#SalesInvoiceListSearch').html(data);


            } else {
                alert(data.message);

            }


        }

        function myFailureSearch() {

            alert("Failured occured. Please try again!");
            $("#LoaderImage").css("visibility", "hidden");
        }

        function myCompleteSearch() {
            $("#LoaderImage").css("visibility", "hidden");

        }








    </script>

    <script>
        //---show attachment popup
        function ShowVoidDetails(SaleDate) {
            debugger
            var TeamDetailPostBackURL = '/Sales/GetVoidDetails';

            //--assign value to SaleDate hidden field in the main. Dont remove this fields
            $("#StockMasterMain").val(SaleDate);


            if (!SaleDate) {
                alert("ID is null. Please try again!");
            } else {
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "SaleDate": SaleDate },
                    datatype: "json",
                    success: function (data) {


                        if (data.message == undefined) {
                            $('#VoidDetailMaster').html(data);


                          

                            $('#ShowVoidDetailsModal').modal('show');

                        } else {
                            alert(data.message);
                            $('#ShowVoidDetailsModal').modal('hide');
                        }

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }



        }

        function ShowDiscountDetails(SaleDate) {
            debugger
            var TeamDetailPostBackURL = '/Sales/GetDiscountDetails';

            //--assign value to SaleDate hidden field in the main. Dont remove this fields
            $("#StockMasterMain").val(SaleDate);


            if (!SaleDate) {
                alert("ID is null. Please try again!");
            } else {
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "SaleDate": SaleDate },
                    datatype: "json",
                    success: function (data) {


                        if (data.message == undefined) {
                            $('#DiscountDetailMaster').html(data);




                            $('#ShowDiscountDetailsModal').modal('show');

                        } else {
                            alert(data.message);
                            $('#ShowDiscountDetailsModal').modal('hide');
                        }

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }



        }
    </script>

}