
@using DAL
@using DAL.Models
@using X.PagedList.Mvc.Core; @*//import this so we get our HTML Helper*@
@using X.PagedList;  @*//import this so we can cast our list to IPagedList *@
@model DAL.oClasses.OPurchases



@{
    ViewData["Title"] = "PurchaseReturnList";
    Layout = "~/Views/Shared/_LayoutTablePages.cshtml";
}

<header class="page-header">
    <h2>@ViewBag.SectionHeaderTitle</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@ViewBag.Home_Dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </li>

            <li><a><span>@ViewBag.BreadCumController</span></a></li>
            <li><a asp-area="" asp-controller="@ViewBag.BreadCumController" asp-action="@ViewBag.BreadCumAction"><span>@ViewBag.SectionSub_HeaderTitle</span></a></li>

        </ol>

        <a class="sidebar-right-toggle"></a>
    </div>
</header>


<div class="row">
    @if (TempData["Success"] != null || TempData["Error"] != null)
    {
        <div class="col-lg-12">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Success!</strong> @TempData["Success"] <a href="" class="alert-link"></a>
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Error!</strong> @TempData["Error"] <a href="" class="alert-link"></a>
                </div>
            }
        </div>
    }


</div>



<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">

                @*<div class="row">
                        <div class="col-lg-6">
                            <h2 class="card-title" style="line-height:normal;"> Purchase Return List </h2>
                        </div>


                    </div>*@
                <div class="row">
                    <div class="col-lg-12">
                        <section class="card">
                            <div class="card-body">

                                <form method="get" data-ajax="true" data-ajax-complete="myCompleteSearch" data-ajax-success="mySuccessSearch" data-ajax-failure="myFailureSearch"
                                      data-ajax-begin="myBeginSearch" asp-area="" asp-controller="Purchases" asp-action="GetPurchaseReturnList_BySearchFitlers" data-ajax-loading="">

                                    <div class="row form-group">

                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="Project_ID">Ref</label>
                                                <input type="text" id="PurchaseRef" name="PurchaseRef" class="form-control" placeholder="PX Ref" />

                                            </div>
                                        </div>
                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="Vendor_ID">Vendor</label>
                                                <select class="form-control" id="Vendor_ID" name="Vendor_ID">
                                                    <option>SELECT</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="From_Date">From Date</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="From_Date" name="From_Date">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="To_Date">To Date</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                    </span>

                                                    <input type="text" data-plugin-datepicker class="form-control" autocomplete="off" id="To_Date" name="To_Date">

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg">
                                            <div class="form-group">
                                                <label class="col-form-label" for="Color">Status</label>

                                                <select class="form-control" id="Status_ID" name="Status_ID">
                                                </select>
                                            </div>
                                        </div>
                                        <partial name="~/Views/Shared/_CompanyWise.cshtml" />
                                    </div>

                                    <div class="row ">
                                        <div class="col-lg">

                                            <div class="form-group">
                                                <label class="col-form-label" for="Search"> &nbsp; </label>
                                                @*<br />*@
                                                <button type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info">Search&nbsp;<i class="fas fa-search"></i></button>
                                                <a class="mb-1 mt-1 mr-1 btn btn-sm btn-primary" asp-area="" asp-controller="Purchases" asp-action="PurchaseReturn">Add New&nbsp;<i class="fas fa-plus"></i></a>

                                                <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-info" href="" id="print-btn">Print &nbsp;<i class="fas fa-print"></i></a>
                                                <a type="submit" class="mb-1 mt-1 mr-1 btn btn-sm btn-success" href="" id="export-btn">Export &nbsp;<i class="fas fa-file-excel"></i></a>


                                            </div>
                                        </div>
                                    </div>





                                </form>
                            </div>
                        </section>
                    </div>
                </div>



            </header>
            <div class="card-body">

                <div class="invoice-summary mb-1">

                    <div class="row mb-1">

                        <div class="col-lg-6 col-md-6 mb-1">
                            <b>@ViewBag.RecordsPerPage</b> records per page
                        </div>

                        <div class="col-lg-6 col-md-6 mb-1 justify-content-end text-right">

                        </div>
                    </div>

                </div>

                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Ref</th>

                            <th>Vendor</th>

                            <th>Date</th>
                            <th>Amt</th>
                            <th>VAT</th>
                            <th>Total</th>
                            <th>Paid</th>
                            <th>Balance</th>
                            <th>Status</th>
                            <th @ViewBag.AttachmentVisibility>Attachments</th>
                            <th>View</th>




                        </tr>
                    </thead>
                    <tbody id="TablePurchaseReturnListSearch">

                        @if (Model.purchaseReturnMasterList != null)
                        {
                            foreach (Pa_PurchaseMaster_DAL item in Model.purchaseReturnMasterList)
                            {

                                double Total = Convert.ToDouble(string.IsNullOrEmpty(item.Total) == true ? "0" : item.Total);
                                ViewBag.Total = Convert.ToDouble(ViewBag.Total) + Total;

                                double TotalVAT_Exp = Convert.ToDouble(string.IsNullOrEmpty(item.VAT_Exp) == true ? "0" : item.VAT_Exp);
                                ViewBag.vTotalVAT_Exp = Convert.ToDouble(ViewBag.vTotalVAT_Exp) + TotalVAT_Exp;

                                double SumTotal_Amount = Convert.ToDouble(string.IsNullOrEmpty(item.Total_Amount) == true ? "0" : item.Total_Amount);
                                ViewBag.vSumTotal_Amount = Convert.ToDouble(ViewBag.vSumTotal_Amount) + SumTotal_Amount;

                                double Total_Paid = Convert.ToDouble(string.IsNullOrEmpty(item.Paid) == true ? "0" : item.Paid);
                                ViewBag.vTotal_Paid = Convert.ToDouble(ViewBag.vTotal_Paid) + Total_Paid;

                                double Total_Bal_Due = Convert.ToDouble(string.IsNullOrEmpty(item.Bal_Due) == true ? "0" : item.Bal_Due);
                                ViewBag.vTotal_Bal_Due = Convert.ToDouble(ViewBag.vTotal_Bal_Due) + Total_Bal_Due;



                        <tr>
                            <td> <a asp-controller="Purchases" asp-action="PurchaseReturn" asp-route-PurchaseMaster_ID="@item.PurchaseMaster_ID">

                                @Html.DisplayFor(modelItem => item.PurchaseRef)
                           
                          </a></td>
                          
                            
                           
                            <td> @Html.DisplayFor(modelItem => item.Vendor_Name)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseDate)
                            </td>

                            <td>@Html.DisplayFor(modelItem => item.Total)</td>
                            <td>@Html.DisplayFor(modelItem => item.VAT_Exp)</td>

                            <td>@Html.DisplayFor(modelItem => item.Total_Amount) </td>
                            <td>@Html.DisplayFor(modelItem => item.Paid)</td>
                            <td>@Html.DisplayFor(modelItem => item.Bal_Due)</td>


                            <td> @Html.DisplayFor(modelItem => item.PurchaseStatus)</td>
                            <td @ViewBag.AttachmentVisibility> <a href="#">Manage Attachment</a> </td>
                            <td> <a asp-controller="Purchases" asp-action="PurchaseReturn" asp-route-PurchaseMaster_ID="@item.PurchaseMaster_ID">View</a></td>


                        </tr>
                            }
                        }

                    </tbody>

                    <tfoot>
                        <tr role="row">

                            <th>Total</th>

                            <th></th>

                            <th></th>
                            <th>@ViewBag.Total</th>
                            <th>@ViewBag.vTotalVAT_Exp</th>
                            <th>@ViewBag.vSumTotal_Amount</th>
                            <th>@ViewBag.vTotal_Paid</th>
                            <th>@ViewBag.vTotal_Bal_Due</th>
                            <th></th>
                            <th @ViewBag.AttachmentVisibility></th>
                            <th></th>

                        </tr>
                    </tfoot>

                </table>
                <div class="invoice-summary">

                    <div class="row">

                        <div class="col-lg-6 col-md-6">

                        </div>

                        <div class="col-lg-6 col-md-6 justify-content-end text-right">
             
                            @if (Model.purchaseReturnMasterList.Count() != 0)
                            {

                                @Html.PagedListPager(Model.purchaseReturnMasterList, page => Url.Action("GetPurchaseReturnList_BySearchFitlers", "Purchases", new { PurchaseRef= ViewBag.PurchaseRef_PurchaseReturn, Vendor_ID= ViewBag.Vendor_ID_PurchaseReturn, From_Date= ViewBag.From_Date_PurchaseReturn, To_Date= ViewBag.To_Date_PurchaseReturn, Status_ID= ViewBag.Status_ID_PurchaseReturn, c_ID= ViewBag.c_ID_PurchaseReturn, page })

    , X.PagedList.Mvc.Core.Common.PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {
        HttpMethod = "get",
        UpdateTargetId = "TablePurchaseReturnListSearch"
    })
                                )
                            }
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


    <script>

        function myBeginSearch() {
            $("#LoaderImage").css("visibility", "visible");
        }

        function mySuccessSearch(data) {

            debugger
            if (data.message == undefined) {

                $('#TablePurchaseReturnListSearch').html(data);


            } else {
                alert(data.message);

            }


        }

        function myFailureSearch() {

            alert("Failured occured. Please try again!");
            $("#LoaderImage").css("visibility", "hidden");
        }

        function myCompleteSearch() {
            $("#LoaderImage").css("visibility", "hidden");

        }


        $(document).ready(function(){
    $("#print-btn").click(function(event){
        event.preventDefault();

        var win = window.open("@Url.Action("GetPurchaseReturnPrint", "Report")" + "?reportName=PurchaseReturn_Report&PurchaseRef=" + $("#PurchaseRef").val() + "&Vendor_ID=" + $("#Vendor_ID").val() + "&From_Date=" + $("#From_Date").val() + "&To_Date=" + $("#To_Date").val() + "&Status_ID=" + $("#Status_ID").val() + "&c_ID=" + $("#c_ID").val() , "_blank");
        win.focus();
    });
        })
                $(document).ready(function(){
    $("#export-btn").click(function(event){
       event.preventDefault();
        window.location.href = "@Url.Action("GetPurchaseReturnExcel", "Report")" + "?reportName=PurchaseReturn_Report&PurchaseRef=" + $("#PurchaseRef").val() + "&Vendor_ID=" + $("#Vendor_ID").val() + "&From_Date=" + $("#From_Date").val() + "&To_Date=" + $("#To_Date").val() + "&Status_ID=" + $("#Status_ID").val() + "&c_ID=" + $("#c_ID").val();
    });


    </script>



}